* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	@include acrom;
	background: #fff;
	transition: background .5s;
}

.icon {
	display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

	&.icon-boxberry-black {
		fill: none;
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
	text-align: left;
}

label {
	display: inline-block;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul li {
	list-style: none;
}

img {
	vertical-align: bottom;
}

p {
	font-size: 14px;
	line-height: 1;
	color: #000;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.center {
	text-align: center;
}

// H1-H6

.h1 {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 35px;

	@include lessTablet {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 20px;
	};

	@include  atMobile {
		font-size: 20px;
		line-height: 24px;
		font-weight: normal;
		margin-bottom: 15px;
	};

	&--sale {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include atMobile {
			display: block;
		};

		.email-sub {
			margin: 0;
			margin-left: 20px;
			padding: 0 20px;
			height: 44px;
			font-weight: normal;

			.email-sub {
				&__desc {
					br {
						display: none;
					}
				}
			}

			@include atMobile {
				margin-left: 0;
				margin-top: 20px;
				width: 100%;
			};
		}
	}
}

h3 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0;

	@include lessTablet {
		font-size: 20px;
		line-height: 24px;
		margin: 15px 0;
	};
}

.hide-desktop {
	@include fromDesktop {
		display: none!important;
	}
}

.hide-tablet {
	@include lessTablet {
		display: none!important;
	};
}

.hide-mobile {
	@include atMobile {
		display: none!important;
	}
}

.show-desktop {
	@include fromDesktop {
		display: block!important;
	}
}

.show-tablet {
	@include lessTablet {
		display: block!important;
	};
}

.show-mobile {
	@include atMobile {
		display: block!important;
	}
}

.overflow {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
