@mixin acrom {
  font-family: 'Acrom';
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Regular.woff2') format('woff2'),
        url('../fonts/Acrom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Light.woff2') format('woff2'),
        url('../fonts/Acrom-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Medium.woff2') format('woff2'),
        url('../fonts/Acrom-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Bold.woff2') format('woff2'),
        url('../fonts/Acrom-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
