.about {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -20px;

    @include lessTablet {
      margin: -10px;
    };

    @include atMobile {
      margin: -15px;
      display: block;
    };
  }

  &__item {
    width: calc(100% / 2);
    padding: 20px;

    @include lessTablet {
      padding: 10px;
    };

    @include atMobile {
      padding: 15px;
      width: 100%;
    };
  }

  &__header {
    font-size: 22px;
    margin-bottom: 24px;

    @include lessTablet {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    };
  }

  &__p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
    margin-bottom: 30px;

    @include lessTablet {
      font-size: 13px;
      line-height: 20px;
    };

    &:last-child {
      margin-bottom: 0;
    }
  }
}
