.about-text {
  margin-bottom: 90px;

  @include lessTablet {
    margin-bottom: 45px;
  };

  @include atMobile {
    margin-bottom: 50px;
  };

  &__p {
    font-size: 14px;
    line-height: 18px;
  }
}
