.accordion-list {
  &__ul {
    counter-reset: accordion-list-counter;
  }

  &__li {
    counter-increment: accordion-list-counter;

    &:first-child {
      .accordion-list {
        &__title {
          border-width: 1px 0;
        }
      }
    }

    &.active {
      .accordion-list {
        &__title-icon {
          transform: rotate(-90deg);
        }

        &__content {
          width: auto;
          height: auto;
        }

        &__title {
          color: $orange1;
        }
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid $grey1;
    border-width: 0 0 1px 0;
    padding: 17px 0;
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    transition: color .4s;

    &:before {
      display: inline-block;
      content: counter(accordion-list-counter) '.';
      position: absolute;
      left: 0;
      top: 17px;
    }
  }

  &__title-icon {
    font-size: 10px;
    color: #000;
    transition: transform .4s, color .4s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content {
    display: none;
    padding: 20px 0;
  }
}
