.advantages {
  margin-bottom: 85px;

  @include lessTablet {
    margin-bottom: 40px;
  };

  @include atMobile {
    margin-bottom: 30px;
  };

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px;

    @include lessTablet {
      margin: -5px;
    };
  }

  &__li {
    padding: 10px;
    width: calc(100% / 4);

    @include atMobile {
      width: calc(100% / 2);
      padding: 5px;
    };
  }

  &__link {
    background: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    padding: 0 13px;
    transition: background .3s;

    @include lessTablet {
      height: 80px;
    };

    @include atMobile {
      height: 70px;
      padding: 0 5px;
    };

    @include hover {
      background: #FFF7E5;

      .advantages {
        &__img {
          opacity: 0;

          &--hover {
            opacity: 1;
          }
        }
      }
    };
  }

  &__icon {
    width: 55px;
    position: relative;

    @include lessTablet {
      width: 30%;
      max-width: 55px;
    };

    @include atMobile {
      width: 30px;
    };
  }

  &__img {
    max-width: 100%;
    height: auto;
    transition: opacity .3s;

    @include fromDesktop {
      min-width: 50px;
    };

    &--hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 19px;
    color: #000;
    padding-left: 8px;
    flex: 1;

    @include lessTablet {
      font-size: 12px;
      width: 70%;
      padding-left: 10px;
      flex: none;
    };

    @include atMobile {
      font-size: 11px;
      padding-left: 8px;
    };
  }
}
