.animated,
.js-animation-child {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(2);
  }

  60% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown2 {
  animation-name: fadeInDown2;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    visibility: hidden;
    pointer-events: none;
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    visibility: hidden;
    pointer-events: none;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    pointer-events: auto;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    transform: translateX(-100%);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}
