.aside {
  position: relative;

  &__filter {
    position: absolute;
    top: 0;
    z-index: 999;
    background: #fff;
    transform: translateY(-5px);
  }

  &__list {
    margin: -10px;

    @include lessTablet {
      margin: -20px;
    };

    @include atMobile {
      margin: -15px;
    };
  }

  &__list-li {
    padding: 10px;

    @include lessTablet {
      padding: 20px;
    };

    @include atMobile {
      padding: 15px;
    };

    &.active {
      .aside {
        &__header-triangle {
          transform: rotate(-180deg);
        }

        &__header-desc {
          @include lessTablet {
            color: $orange1;
          };
        }
      }
    }
  }

  &__header {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include lessTablet {
      display: block;
      position: relative;
      padding-right: 30px;
      margin-bottom: 15px;
    };
  }

  &__header-desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    flex: 1;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };

    @include lessTablet {
      font-size: 16px;
      width: 100%;
    }
  }

  &__reset-btn {
    font-size: 11px;
    line-height: 11px;
    color: $grey4;
    margin-left: 10px;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };

    @include lessTablet {
      color: $orange1;
      margin: 0;
    };
  }

  &__header-triangle {
    font-size: 16px;
    color: $grey4;
    transition: color .3s, transform .3s;
    transform: translateY(2px);
    margin-left: 10px;

    @include hover {
      color: $orange1;
    };

    @include lessTablet {
      position: absolute;
      right: 0;
      top: 2px;
    };
  }
}
