.bg-block {
  min-height: 500px;
  background: no-repeat center;
  background-size: cover;
  margin-bottom: 60px;

  @include lessTablet {
    height: 252px;
    min-height: auto;
    margin-bottom: 40px;
  };

  @include atMobile {
    height: auto;
    background: none!important;
    margin-bottom: 30px;
  };

  &__container {
    @include lessTablet {
      display: flex;
      align-items: center;
      height: 100%;
    };

    @include atMobile {
      display: block;
    };
  }

  &__content {
    max-width: 360px;
    margin-left: auto;
    padding-top: 57px;

    @include lessTablet {
      padding-top: 0;
    };

    @include atMobile {
      margin-left: 0;
      position: relative;
      padding-top: 40px;
    };
  }

  &__logo {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;

    @include lessTablet {
      max-width: 60px;
      margin-bottom: 10px;
    };

    @include atMobile {
      &:first-child {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        z-index: 5;
        margin-bottom: 0;
        max-height: 60px;
      }
    };
  }

  &__desc {
    font-size: 14px;
    line-height: 22px;

    @include lessTablet {
      line-height: 17px;
    };
  }

  &__img {
    display: none;

    @include atMobile {
      display: block;
      width: 100%;
      height: auto;
    };
  }
}
