.brand-slider {
  margin-bottom: 100px;

  @include lessTablet {
    margin-bottom: 50px;
  };

  @include atMobile {
    margin-bottom: 40px;
  };

  .slick {
    &-current {
      .brand-slider {
        &__img-box {
          @include lessTablet {
            border-width: 0 1px 0 0;
          };
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__desc {
    width: 20.21276595744681%;
    font-size: 17px;
    color: #000;
    height: 100%;
    padding-bottom: 15px;

    @include lessTablet {
      width: 50%;
      position: relative;
      transform: translateY(-50%);
      font-size: 17px;
      padding-right: 20px;
      padding-bottom: 0;
    };

    @include atMobile {
      width: 100%;
      transform: translateY(0);
      padding-right: 0;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
    };
  }

  &__list-wrap {
    width: 79.78723404255319%;
    padding-left: 50px;
    position: relative;

    @include lessTablet {
      width: 50%;
    };

    @include atMobile {
      width: 100%;
      padding-left: 0;
    };
  }

  &__list {
    padding: 0 30px 0 0;

    @include lessTablet {
      padding-right: 40px;
    };

    @include atMobile {
      padding: 0 20px;
    };
  }

  &__arrow {
    display: block;
    width: 35px;
    position: absolute;
    top: 50px;
    bottom: 0;
    background: no-repeat center;
    background-size: 19px auto;

    @include atMobile {
      width: 10px;
      background-size: 100% auto;
    };

    &--prev {
      left: 20px;
      background-image: url(../img/arr-prev.png);

      @include atMobile {
        left: 0;
      };
    }

    &--next {
      right: 0;
      background-image: url(../img/arr-next.png);
    }
  }

  &__item {
    text-align: center;
  }

  &__category {
    font-size: 15px;
    height: 50px;

    @include lessTablet {
      height: auto;
      margin-bottom: 10px;
    };

    @include atMobile {
      font-size: 13px;
    };
  }

  &__img-box {
    border-right: 1px solid $grey1;

    @include lessTablet {
      border-width: 0px;
    };
  }

  &__img-box {
    height: 106px;
    display: flex;
    align-items: center;
  }

  &__img {
    max-width: 70%;
    height: auto;
    margin: 0 auto;

    @include lessTablet {

    };
  }
}
