.breadcrumbs {
  margin-bottom: 25px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    &:last-child {
      .breadcrumbs {
        &__link {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__link {
    font-size: 14px;
    color: $grey4;
    transition: color .3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:after {
      display: block;
      content: '>';
      margin: 0 5px;
      color: $grey4!important;
    }

    @include hover {
      color: $orange1;
    };
  }
}
