.button {
  display: inline-block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: $orange1;
  color: $white;
  text-decoration: none;
  transition: background .3s, color .3s;
  font-size: 14px;
  color: #fff;

  .icon {
    color: .3s;
  }

  @include hover {
    background: $orange2;
  };

  &--white {
    width: 200px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    border: 3px solid $orange1;

    .icon {
      margin-left: 15px;
    }

    @include hover {
      background: $orange1;
      color: #fff;
    };
  }
}
