.acyo {
  fill: #FFB300;
}

.buy-steps {
  margin-bottom: 95px;
  position: relative;

  @include atMobile {
    margin-bottom: 30px;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    & > .buy-steps__payment-list {
      margin-bottom: 30px;

      @include atMobile {
        & > .buy-steps__payment-li {
          width: 100%;
        }
      };

      &:after {
        display: block;
        content: '';
        width: 1px;
        position: absolute;
        left: 50%;
        top: 20px;
        bottom: 20px;
        transform: translateX(-50%);
        background: $grey1;

        @include atMobile {
          display: none;
        };
      }
    }
  }

  &__head {
    margin-bottom: 30px;
  }

  &__tabs-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid $orange1;
    counter-reset: tabs-list-counter;
  }

  &__tabs-li {
    flex: 1;
    position: relative;
    counter-increment: tabs-list-counter;

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      background: #fff;
    }

    &.active {
      &:before {
        display: none;
      }

      .buy-steps {
        &__tabs-btn {
          background: $orange1;
          color: #fff;
        }
      }
    }
  }

  &__tabs-btn {
    height: 53px;
    background: #F7F7F7;
    transition: color .3s, background .3s;
    font-size: 18px;
    line-height: 20px;
    color: #818181;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    @include lessTablet {
      font-size: 14px;
      line-height: 17px;
    };

    @include atMobile {
      text-align: center;
    };

    @include hover {
      color: #000;
    };

    &:before {
      display: inline-flex;
      content: counter(tabs-list-counter) '.';
      margin-right: 7px;

      @include atMobile {
        display: none;
      };
    }
  }

  &__desc {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;

    @include lessTablet {
      font-size: 13px;
    };

    @include atMobile {
      font-size: 11px;
    };
  }

  &__purchase-list {
    display: flex;
    flex-wrap: wrap;
    margin: -30px;

    @include lessTablet {
      margin: -10px;
    };

    @include atMobile {
      margin: -35px -10px;
      position: relative;

      &:before {
        display: block;
        content: '';
        width: auto;
        height: 1px;
        background: $grey1;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(calc(-50% - 38px));
        right: 0;
      }
    };
  }

  &__li {
    width: calc(100% / 4);
    padding: 30px;
    position: relative;

    @include lessTablet {
      padding: 10px;
    };

    @include atMobile {
      width: calc(100% / 2);
      padding: 35px 10px;
    };

    &:nth-child(2){
      &:before {
        display: block;
        content: '';
        width: 1px;
        background: $grey1;
        position: absolute;
        left: 100%;
        top: 30px;
        bottom: 30px;

        @include atMobile {
          display: none;
        };
      }

      .buy-steps {
        &__icon {
          @include atMobile {
            position: static;
          };

          &:before {
            display: block;
            content: '';
            width: 60px;
            height: 60px;
            z-index: 1;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            left: calc(100% + 0px);
            top: 50%;
            transform: translateY(-50%);

            @include lessTablet {
              left: calc(100% - 20px);
            };

            @include atMobile {
              top: 100%;
              right: 100%;
              left: auto;
              transform: translate(50%, -50%);
            };
          }

          &:after {
            display: block;
            content: 'или';
            width: 40px;
            height: 40px;
            background: $orange1;
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            font-size: 14px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;

            @include lessTablet {
              left: calc(100% - 10px);
            };

            @include atMobile {
              transform: translateY(0);
              left: auto;
              top: calc(100% - 20px);
              right: calc(100% - 20px);
            };
          }
        }
      }
    }

    &:nth-child(odd) {
      .buy-steps {
        &__icon {
          &:after {
            display: block;
            content: '';
            width: 36px;
            height: 36px;
            background: url(../img/icons/chevron-right.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);

            @include lessTablet {
              left: calc(100% - 10px);
            };
          }
        }
      }
    }

    @include hover {
      .buy-steps {
        &__icon {
          color: $orange2;
        }
      }
    };
  }

  &__icon {
    font-size: 141px;
    height: 141px;
    color: $orange1;
    transition: color .3s;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &--boxberry {
      color: #fff;
      font-size: 100px;
      height: 100px;
    }

    &--globe {
      font-size: 105px;
      height: 105px;
    }

    &--spb {
      font-size: 130px;
      height: 130px;
    }

    &--selfget {
      font-size: 130px;
      height: 130px;
    }

    @include atMobile {
      font-size: 100px;
      height: 100px;
    };
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;

    @include lessTablet {
      font-size: 13px;
      line-height: 16px;
    };

    @include atMobile {
      font-size: 11px;
      margin-bottom: 10px;
    };

    &--grey {
      color: #818181;
    }
  }

  &__payment-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    position: relative;
  }

  &__payment-li {
    width: calc(100% / 2);
    padding: 20px;

    @include hover {
      & > .buy-steps__icon {
        color: $orange2;
      }
    };

    .buy-steps {
      &__icon {
        font-size: 112px;
        height: 112px;
      }
    }
  }

  &__item-desc {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    height: 62px;

    @include lessTablet {
      font-size: 14px;
      line-height: 17px;
      height: 50px;
    };

    @include atMobile {
      font-size: 13px;
      line-height: 16px;
      height: auto;
      font-weight: bold;
    };
  }

  &__text-list {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text-list-li {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding-left: 15px;
    position: relative;

    @include lessTablet {
      font-size: 13px;
    };

    @include atMobile {
      font-size: 11px;
    };

    &:before {
      display: block;
      content: '';
      width: 5px;
      height: 1px;
      position: absolute;
      left: 0;
      top: 8px;
      background: #000;
    }
  }

  &__warning {
    background: #FFF7E5;
    border: 1px solid $orange1;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: $orange1;
    padding: 15px 20px;
    width: calc(100% / 2);
    margin-bottom: 40px;

    @include lessTablet {
      width: 100%;
    };
  }

  &__debit-card {
    width: 50%;
    margin-bottom: 15px;

    @include lessTablet {
      width: 100%;
    };

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__delivery-list {
    margin: -30px;
    margin-bottom: calc(-30px + 50px);

    @include atMobile {
      margin: -10px;
      margin-bottom: calc(-10px + 20px);
    };
  }

  &__delivery-li {
    padding: 30px;

    @include atMobile {
      width: 100%;
      padding: 10px;
    };
  }

  &__delivery-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include atMobile {
      display: block;
    }
  }

  &__delivery-img-box {
    width: 220px;
    margin-right: 20px;

    @include atMobile {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__delivery-content {
    flex: 1;
    padding: 20px 20px 32px 40px;
    background: #F7F7F7;

    @include atMobile {
      padding: 10px;
      flex: none;
      width: 100%;
      min-height: auto;
    }
  }

  &__delivery-h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
    font-weight: bold;
  }

  &__delivery-item-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }

  &__numeric-list {
    counter-reset: numeric-list-counter;

    &:last-child {
      .buy-steps__numeric-list-li:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__numeric-list-li {
    counter-increment: numeric-list-counter;
    margin-bottom: 10px;
    position: relative;

    &:before {
      display: inline;
      content: counter(numeric-list-counter) '.';
      font-weight: bold;
      font-size: 14px;

      @include lessTablet {
        font-size: 13px;
      };

      @include atMobile {
        font-size: 11px;
      };
    }

    & > * {
      &:first-child {
        display: inline;
      }
    }
  }

  &__numeric-list-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;

    @include lessTablet {
      font-size: 13px;
    };

    @include atMobile {
      font-size: 11px;
    };
  }

  &__vertical-list {
    margin: -20px;
  }

  &__vertical-list-li {
    padding: 20px;

    &:last-child {
      .buy-steps {
        &__item-desc {
          height: auto;
        }
      }
    }
  }

  &__no-bold {
    font-weight: normal;

    &:before {
      font-weight: normal;
    }
  }
}
