.card {
  border: 1px solid $grey1;
  position: relative;
  height: 345px;

  @include lessTablet {
    min-height: 260px;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__img-container {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    text-decoration: none;

    @include lessTablet {
      height: 130px;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 98%;
    height: auto;
  }

  &__content {
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    background: #fff;
    z-index: 5;
    transition: all 0.5s ease-in-out 0.15s;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-height: 122px;

    @include fromDesktop {
      &:hover {
        max-height: 280px;
        box-shadow: 0 0 10px 0 #CFCFCF;

        .card {
          &__content-item {
            &--price {
              padding-top: 0;
            }
          }
        }
      }
    }

    @include lessTablet {
      position: static;
      padding: 0;
      max-height: none;
      padding: 5px 10px 0 10px;
      border-top: 1px solid $grey1;
      overflow: visible;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__content-hover {
    margin-top: 20px;
    transition: all 0.5s ease-in-out 0.15s;

    @include lessTablet {
      display: none;
    }
  }

  &__content-item {
    padding: 0 10px;

    @include lessTablet {
      padding: 0;
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--detail-info {
      border-top: 1px solid $grey1;
      padding-top: 10px;
      z-index: 5;

      @include lessTablet {
        padding-top: 0px;
        border: none;
      }
    }

    &--price {
      position: absolute;
      bottom: 0px;
      left:  10px;
      right: 10px;
      z-index: 10;
      background: #fff;
      padding: 0px 0 10px;
      transition: all 0.5s ease-in-out 0.15s;

      @include lessTablet{
        position: static;
        padding: 0;
      };
    }
  }

  &__header {
    font-size: 18px;
    color: $black10;
    text-align: center;

    @include lessTablet {
      font-size: 13px;
    }
  }

  &__desc {
    font-size: 11px;
    color: $grey2;
    text-align: center;
  }

  &__button {
    margin-bottom: 10px;
  }

  &__info {
    border-top: 1px solid $grey1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
  }

  &__amount, &__price {
    font-size: 13px;
    line-height: 16px;
    color: $black10;

    @include lessTablet {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__sale-list {
    position: absolute;
    z-index: 5;
    top: 6px;
    right: 10px;
    pointer-events: none;
    font-size: 0;
  }

  &__sale-list-li {
    margin-bottom: 6px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sale-list-item {
    height: 16px;
    line-height: 16px;
    border-radius: 1px;
    text-align: center;
    padding: 0 8px;
    font-size: 10px;
    color: $white;
    display: inline-block;

    &--grey {
      background: $grey2;
      color: $black9;
    }

    &--red {
      background: $red;
    }

    &--blue {
      background: $blue;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 14px;
    color: $black10;
  }

  &__button {
    &--mg-t {
      margin-top: 6px;
    }
  }

  &__head {
    min-height: 58px;

    @include lessTablet {
      min-height: auto;
    }
  }

}
