.cart {
  position: relative;

  &__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: auto;
    top: 71px;
    right: calc(100% - 91px);
    padding: 35px 33px 21px 33px;

    @include lessTablet {
      display: none;
    };
  }

  &__icon {
    position: relative;

    @include lessTablet {
      width: 37px;
      height: 26px;
      display: block;

      img {
        width: 100%;
        height: auto;
      }
    };
  }

  &__counter {
    width: 40px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $orange1;

    @include lessTablet {
      width: 20px;
      height: auto;
      font-size: 10px;
      line-height: normal;
    };
  }

  &__header {
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    font-size: 18px;
    color: #000;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }

  &__list {
    margin: -10px;
    margin-bottom: calc(-10px + 30px);
    max-height: 260px;
    overflow: auto;
  }

  &__li {
    padding: 10px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 28px;
    border-bottom: 1px solid $grey1;
  }

  &__img-box {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__item-content {
    margin: 0 16px;
    flex: 1;
  }

  &__articul {
    font-size: 12px;
  }

  &__thing {
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: #000;
    transition: color .3s;
    margin-bottom: 5px;

    @include hover {
      color: $orange1;
    };
  }

  &__params {
    display: flex;
    flex-wrap: wrap;
  }

  &__params-item {
    flex: 1;
    text-align: center;
    margin: -3px;
  }

  &__params-header {
    font-size: 14px;
    color: #000;
    padding: 3px;
  }

  &__item-remove {
    font-size: 10px;
    color: $white;
    background: #dcdcdc;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s;

    @include hover {
      color: $red;
    };
  }

  &__total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }

  &__total-price-desc {
    font-size: 14px;
  }

  &__total-price-number {
    font-size: 18px;
    margin-left: 5px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    margin: -43px;
  }

  &__bottom-item {
    width: calc(100% / 2);
    padding: 43px;
  }

  &__button {
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    margin-bottom: 8px;
  }

  &__desc {
    font-size: 12px;
    line-height: 1;
    color: #aaa;
    text-align: center;
  }
}
