.cart-order {
  &__container {
    position: relative;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid $grey1;
    margin-bottom: 20px;

    @include atMobile {
      display: block;
    };

    &--total {
      width: auto;
      margin-left: auto;
      margin-bottom: 30px;
      border-bottom: none;

      @include atMobile {
        display: none;
      };

      .cart-order {
        &__tr {
          &:last-child {
            .cart-order {
              &__td {
                background: rgba(255, 179, 0, 0.1);
              }
            }
          }
        }

        &__td {
          font-size: 14px;
          line-height: 17px;
          font-weight: bold;
          border: none;
          text-align: right;
          padding: 10px!important;

          &:first-child {
            text-align: right;
            padding-left: 45px;
          }

          &:last-child {
            text-align: left;
            padding-right: 45px;
          }
        }
      }
    }
  }

  &__tbody, &__td {
    @include atMobile{
      display: block;
    };
  }

  &__thead {
    @include atMobile {
      display: none;
    };
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 20px;
  }

  &__tr {
    @include atMobile {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      border-top: 1px solid $grey1;
      padding: 20px 0;
    };
  }

  &__td {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    border-top: 1px solid #e5e5e5;
    padding: 10px 5px;
    vertical-align: top;

    @include atMobile {
      text-align: left;
      border: none;
      padding: 0;
    };

    &:first-child {
      text-align: left;
      padding-left: 0;

      @include atMobile {
        padding-left: 22px;
        width: 100%;
      };
    }

    &:nth-child(3) {
      padding-top: 20px;

      @include atMobile {
        display: none;
      };
    }

    &:nth-child(4) {
      padding-top: 20px;

      @include atMobile {
        padding-top: 0;
        padding-left: 16px;

        &:before {
          display: inline;
          content: 'Итого:';
          text-transform: uppercase;
          margin-right: 5px;
        }
      };
    }

    &:last-child {
      padding-right: 0;
    }

    &--head {
      border-top: none;
      padding-top: 10px!important;
    }

    &--quantity {
      text-align: left;

      @include atMobile {
        width: 135px;
      };
    }

    &--remove {
      padding-top: 14px;

      @include atMobile {
        padding-top: 0;
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 5;
        background: #fff;
        border-radius: 50%;
      };
    }
  }

  &__content {
    @include atMobile {
      flex: 1;
    };
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__img-box {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;

    @include atMobile {
      padding-bottom: 10px;
    };

    img {
      max-width: 100%;
      height: auto;
      border: 1px solid $grey1;
      transition: border-color .3s;

      @include atMobile {
        border: none;
      };

      @include hover {
        border-color: $orange1;
      };
    }
  }

  &__articul {
    color: $grey4;
    margin-bottom: 10px;
  }

  &__name {
    text-decoration: none;
    color: #000;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }

  &__params-list {
    margin: -5px;
  }

  &__params-li {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__key {
    margin-right: 5px;
  }

  &__counter {
    .counter {
      &__input {
        width: auto;
        max-width: 62px;
      }
    }
  }

  &__remove {
    width: 24px;
    height: 24px;
    color: $grey2;
    border-radius: 50%;
    border: 1px solid $grey2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s, border-color .3s;

    @include hover {
      color: $orange1;
      border-color: $orange1;
    };

    .icon {
      font-size: 14px;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__next-step {
    width: 167px;
    height: 36px;
    line-height: 36px;

    @include atMobile {
      order: 2;
      width: 140px;
    };
  }

  &__get-back-wrapper {
    width: 100%;
    margin-top: 30px;

    @include atMobile {
      order: 1;
      width: auto;
      margin-top: 0;
    };
  }

  &__get-back {
    font-size: 11px;
    line-height: 13px;
    color: #000;
    display: flex;
    align-items: center;
    transition: color .3s;

    .icon {
      margin-right: 5px;
      font-size: 7px;
      color: #000;
      transition: color .3s;
    }

    @include hover {
      color: $orange1;

      .icon {
        color: $orange1;
      }
    };
  }

  &__promocode {
    @include atMobile {
      width: 100%;
    };
  }
}
