.catalog {
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: -10px;

    align-content: stretch;
  }

  &__li {
    padding: 10px;
    width: calc(100% / 3);

    @include  lessTablet {
      width: calc(100% / 4);
    };

    @include atMobile {
      width: calc( 100% / 2);
    };
  }
}
