.catalog-short {
  margin-bottom: 50px;

  &__list {
    margin: -8px;
  }

  &__li {
    padding: 8px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 100px;
    position: relative;

    @include lessTablet {
      padding-right: 0;
      margin-bottom: 15px;
    };

    &--line {
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        background: $grey1;
      }

      .catalog-short {
        &__desc {
          position: relative;
          background: #fff;
          z-index: 5;
          padding-right: 40px;
        }
      }
    }
  }

  &__button {
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-left: auto;

    @include atMobile {
      display: none;
    };
  }

  &__desc {
    font-size: 28px;
    font-weight: 300;

    @include lessTablet {
      font-size: 20px;
      line-height: 24px;
    };
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__new {
    font-size: 28px;
    font-weight: 300;
    color: #000;
    margin-left: 20px;

    @include lessTablet {
      display: none;
    };
  }

  .slick {
    &-dots {
      font-size: 0;
      text-align: center;
      margin-top: 12px;

      li {
        display: inline-block;
        padding: 4px;

        &.slick-active {
          button {
            background: $orange1;
          }
        }
      }

      button {
        border: 2px solid $orange1;
        width: 10px;
        height: 10px;
        font-size: 0;
        border-radius: 50%;
        transition: background .3s;

        @include hover {
          background: $orange1;
        };
      }
    }

    &-slide {
      & > div {
        height: 100%;
      }
    }
  }
}
