.catalog-elem {
  margin-bottom: 60px;

  .h1 {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin-bottom: 30px;

    @include atMobile {
      font-size: 13px;
      line-height: 17px;
    };
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include atMobile {
      display: block;
    };
  }

  &__img-box {
    width: calc(100% - 368px);
    padding-right: 60px;
    position: relative;

    @include atMobile {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
    };
  }

  &__content {
    width: 368px;

    @include lessTablet {
      width: 354px;
    };

    @include atMobile {
      width: 100%;
    };
  }

  &__title {
    font-size: 14px;
    margin-bottom: 14px;
  }

  &__params {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  &__params-item {
    width: calc(100% / 2);
    padding: 10px;
  }

  &__price {
    font-size: 32px;
    color: #000;

    @include lessTablet {
      font-size: 24px;
    };

    @include atMobile {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
    };
  }

  &__value {
    font-size: 14px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include lessTablet {
      font-size: 13px;
    };
  }

  &__price, &__value {
    height: 34px;
    margin-bottom: 20px;

    @include atMobile {
      margin-bottom: 10px;
    };
  }

  &__value-icon {
    font-size: 34px;
    color: $orange1;
  }

  &__button {
    height: 34px;
    line-height: 34px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__tabs-li {
    width: calc(100% / 2);

    &:first-child {
      .catalog-elem {
        &__tab {
          border-color: transparent $grey1 $grey1 transparent;
        }
      }
    }

    &:last-child {
      .catalog-elem {
        &__tab {
          border-color: transparent transparent $grey1 transparent;
        }
      }
    }

    &.active {
      &:first-child {
        .catalog-elem {
          &__tab {
            border-color: $grey1 $grey1 transparent $grey1;
          }
        }
      }

      &:last-child {
        .catalog-elem {
          &__tab {
            border-color: $grey1 $grey1 transparent transparent;
          }
        }
      }
    }
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #000;
    border: 1px solid $grey1;
  }

  &__content-li {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    position: absolute;
    left: 0;
    top: 0;

    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      position: static;
    }
  }

  &__content-item {
    max-height: 207px;
    overflow: auto;
    margin-bottom: 35px;

    @include atMobile {
      max-height: none;
      margin-bottom: 30px;
    };
  }

  &__text-block {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc-title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }

  &__desc {
    font-size: 14px;
    color: #000;
  }

  &__dots {
    position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translateX(calc(-50% - 34px));

    @include atMobile {
      transform: translateX(-50%);
    };

    .slick {
      &-dots {
        display: flex!important;
        flex-wrap: wrap;
        margin: -5px;

        li {
          padding: 5px;

          &.slick-active {
            button {
              background: $orange1;
            }
          }
        }

        button {
          font-size: 0;
          width: 12px;
          height: 12px;
          border: 2px solid $orange1;
          border-radius: 50%;
          transition: background .3s;

          @include hover {
            background: $orange1;
          };
        }
      }
    }
  }

  &__slide {
    border: 1px solid $grey1;
  }

  &__img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__h1 {
    position: relative;
    padding-left: 60px;

    @include atMobile {
      font-size: 20px;
      line-height: 24px;
      font-weight: normal;
      padding-left: 50px;
      min-height: 36px;
    };
  }

  &__h1-icon {
    width: 36px;
    height: 36px;
    background: $grey1;
    font-size: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;
    position: absolute;
    left: 0;
    top: 0;

    @include hover {
      background: $orange1;
    };
  }

  &__articul {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;

    @include lessTablet {
      font-size: 10px;
      line-height: 13px;
    };
  }
}
