.checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  display: block;

  @include lessTablet {
    padding-left: 30px;
  };

  @include hover {
    .checkbox {
      &__icon {
        border-color: $orange1;
      }
    }
  };

  &__desc {
    display: inline-block;
    font-size: 12px;
    color: $black10;

    @include lessTablet {
      font-size: 14px;
    };
  }

  &__input {
    display: none;

    &:checked + .checkbox__icon {
      background-color: $orange1;
      border-color: $orange1;
      background-size: 70% auto;
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid $grey1;
    margin-right: 7px;
    z-index: 5;
    background: $white url(../img/icons/check.svg) no-repeat center;
    background-size: 0 auto;
    position: absolute;
    left: 0;
    top: 4px;
    transition: border-color .3s, background-color .3s, background-size .3s;

    @include lessTablet {
      width: 18px;
      height: 18px;
      top: 2px;
    };
  }
}
