.checkbox-list {
  margin: -3px;

  @include lessTablet {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  };

  @include atMobile {
    display: block;
  };

  &__li {
    padding: 3px;

    @include lessTablet {
      width: 50%;
      padding: 10px;
    };

    @include atMobile {
      width: 100%;
    };
  }
}
