.contact {
  margin-bottom: 30px;
  
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    @include lessTablet {
      justify-content: flex-start;
    };

    @include atMobile {
      margin-bottom: 30px;
      display: block;
    };
  }

  &__feedback-send {
    margin-left: 80px;

    @include lessTablet {
      margin-left: 44px;
    };

    @include atMobile {
      margin-left: 0;
      margin-top: 20px;
    };

    .feedback-send {
      &__desc {
        height: 34px;
        display: flex;
        align-items: center;
        @include lessTablet {
          display: inline-flex;
          height: auto;
        };
      }
    }
  }

  &__map {
    margin-bottom: 35px;
  }

  &__user-text {
    max-width: 640px;
    margin: 0 auto;

    @include lessTablet {
      max-width: none;
    };

    p {
      margin: 0;
      line-height: 1;
      letter-spacing: -0.025em;

      &:first-child {
        margin-bottom: 40px;
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    @include atMobile {
      display: block;
      margin: 0;
    };

    tbody {
      @include atMobile {
        display: block;
      };
    }

    tr {
      @include atMobile {
        display: block;
        padding: 16px 0;
        border: 1px solid $grey1;
        border-width: 0 0 1px 0;

        &:first-child {
          border-width: 1px 0;
        }
      };
    }

    td {
      padding: 18px 0;
      color: #000;
      font-size: 14px;
      line-height: 18px;
      vertical-align: top;
      border-bottom: 1px solid $grey1;

      @include atMobile {
        display: block;
        border: none;
        padding: 0;

        &:first-child {
          margin-bottom: 10px;
          font-weight: 500;
        }
      };
    }
  }

  &__header {
    @include lessTablet {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #000;
      margin-bottom: 15px;
      text-align: left;
    };
  }
}
