.counter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 34px;

  &__button {
    background: #ddd;
    color: #fff;
    height: 100%;
    width: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    position: relative;
    transition: background .3s;

    @include hover {
      background: $orange1;
    };

    &:disabled {
      opacity: .5;
    }

    &--minus {
      &:before {
        display: block;
        content: '';
        width: 64%;
        height: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
      }
    }

    &--plus {
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
      }

      &:before {
        width: 64%;
        height: 1px;
      }

      &:after {
        width: 1px;
        height: 64%;
      }
    }
  }

  &__input {
    width: calc(100% - 70px);
    height: 100%;
    margin: 0 1px;
    font-size: 14px;
    color: #000;
    border: 1px solid $grey1;
    text-align: center;

    @include atMobile {
      font-size: 13px;
    };
  }
}
