.delivery {
  &__content {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 20px;
  }

  &__user-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: calc(-10px + 35px);

    @include atMobile {
      margin-bottom: calc(-10px + 20px);
    };
  }

  &__user-li {
    width: calc(100% / 2);
    padding: 10px;
  }

  &__region-title {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-bottom: 10px;
  }

  &__region-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    margin-bottom: calc(-20px + 70px);

    @include atMobile {
      margin: -7px;
      margin-bottom: calc(-7px + 27px);
    };
  }

  &__region-list-li {
    padding: 20px;

    @include atMobile {
      padding: 7px;
    };
  }

  &__options-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -2px;

    @include atMobile {
      display: block;
      margin: -5px;
    };
  }

  &__options-list-li {
    width: calc(100% / 3);
    padding: 2px;

    @include atMobile {
      width: 100%;
      padding: 5px;
    };
  }

  &__options-item {
    background: #f7f7f7;
    padding: 14px 16px;
    height: 100%;
  }

  &__options-icon {
    height: 82px;
    font-size: 82px;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__options-icon-text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
  }

  &__options-radio-btn {
    margin-bottom: 20px;
  }

  &__options-link {
    font-size: 11px;
    line-height: 13px;
    color: $orange1;

    @include hover {
      text-decoration: underline;
    };
  }

  p {
    font-size: 13px;
  }

  &__text-item {
    margin-bottom: 20px;
  }

  &__vertical-list {
    height: 100%;
  }

  &__vertical-list-li {
    padding-top: 4px;

    @include atMobile {
      padding-top: 10px;
    };

    &:first-child {
      padding-top: 0;
    }

    @include atMobile {};

    &--60 {
      height: 60%;
    }

    &--40 {
      height: 40%;
    }
  }
}
