.email-sub {
  max-width: 300px;
  height: 70px;
  margin: 0 auto;
  border: 1px solid $orange1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s;
  margin-bottom: 30px;
  padding: 0 30px;

  .icon {
    font-size: 47px;
    transform: translateY(2px);
    color: $orange1;
    transition: color .3s;
  }

  @include hover {
    background: $orange1;
    color: $white;

    .icon {
      color: $white;
    }
  };

  &__desc {
    margin-left: 20px;
  }
}
