.feedback-send {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include hover {
    .feedback-send {
      &__desc {
        color: $orange1;
      }
    }
  };

  &__img {
    margin-right: 10px;
    max-width: 31px;
    height: auto;
  }

  &__desc {
    font-size: 18px;
    color: #000;
    border-bottom: 1px dotted #000;
    transition: color .3s;

    @include lessTablet {
      font-size: 13px;
    };
  }
}
