.feedback {
  &__header {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__close {
    font-size: 18px;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }

  &__protection {
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    letter-spacing: -1px;
  }

  &__submit {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
  }
}
