.form-item {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;

  &.active {
    .form-item {
      &__desc {
        color: #000;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__desc {
    font-size: 14px;
    color: $grey4;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 85px;
  }
}
