.form {
  padding-left: 185px;
  background: url(../img/form-call.png) no-repeat left center;
  background-size: 166px 166px;

  @include lessTablet {
    background: none;
    padding: 0;
  };

  &__submit {
    font-size: 16px;
    height: 34px;
    margin-bottom: 20px;
  }

  &__accept {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -1px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    transition: color .3s;
    text-align: center;

    @include lessTablet {
      font-size: 12px;
      line-height: 16px;
      color: #000;
      text-align: left;
      font-weight: normal;
    };

    a {
      font-size: 12px;
      line-height: 16px;
      color: rgba(0,0,0,0.5);
      letter-spacing: -1px;
      text-decoration: underline;
      transition: color .3s;

      @include lessTablet {
        font-size: 12px;
        line-height: 16px;
        color: #000;
      };

      @include hover {
        color: $orange1;
      };
    }

    @include hover {
      color: rgba(0,0,0,0.8);
    };
  }
}
