.form-elem {
  width: 100%;
  height: 30px;
  border: 1px solid $grey1;
  font-size: 14px;
  color: #000;
  padding: 0 10px 0 12px;
  @include acrom;
  min-width: 0;

  &::placeholder {
    color: #000;
    opacity: 1;
  }

  &--textarea {
    color: #000;
    padding: 12px;
    min-height: 90px;
    resize: vertical;
  }

  &--pdl-90 {
    padding-left: 90px;
  }

  &:focus {
    color: #000;

    & + .form-item__desc {
      color: #000;
    }
  }

  &--textarea {
    border: 1px solid #c4c4c4;
    min-height: 100px;
    resize: vertical;
    padding: 8px;
    font-size: 13px;
    line-height: 16px;
  }
}
