.hamburger {
  font-size: 20px;
  color: #000;
  position: relative;

  &.active {
    .hamburger {
      &__icon {
        opacity: 0;

        &--close {
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    
    &--close {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
