.link-list {
  margin: -3px;

  @include  lessTablet {
    margin: 0;
  };

  &__item {
    padding: 3px;

    &.active {
      .link-list {
        &__link {
          color: $orange1;
        }
      }
    }

    @include  lessTablet {
      padding: 0;
      border: 1px solid $grey1;
      border-width: 1px 0 0;
    };

    &:last-child {
      @include lessTablet {
        margin-bottom: 0;
        border-width: 1px 0;
      };
    }

    @include atMobile {
      margin-bottom: 0;
    };
  }

  &__link {
    font-size: 12px;
    color: $black10;
    transition: color .3s ease;

    @include  fromDesktop {
      &:hover {
        color: $orange1;
      }
    };

    @include lessTablet {
      height: 100%;
      display: block;
      padding: 12px 0;
      font-size: 20px;
    };
  }
}
