.login {
  &__close {
    font-size: 18px;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__header-desc {
    font-size: 22px;
  }

  &__link {
    font-size: 12px;
    border-bottom: 1px solid $black10;
    color: $black10;
    transition: color .3s, border-color .3s;

    @include hover {
      color: $orange1;
      border-color: $orange1;
    };
  }

  &__check-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__submit {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
  }

  &__pass-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    width: 34px;
    height: 34px;
    transform: translateY(-50%);

    &.active {
      .login {
        &__pass-icon {
          opacity: 0;

          &--hidden {
            opacity: 1;
          }
        }
      }
    }
  }

  &__pass-icon {
    width: 34px;
    height: 34px;
    font-size: 34px;
    color: $grey2;
    transition: opacity .3s;
    position: absolute;
    left: 0;
    top: 0;

    &--hidden {
      opacity: 0;
    }
  }
}
