.menu {
  display: none;
  animation-duration: .5s;

  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0;
    top: -7px;
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  }

  @include lessTablet {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 64px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 990;
  };

  @include atMobile {
    top: 51px;
  };

  &__content {
    width: 75.65104166666667%;
    background: #fff;
    padding: 40px 20px;
    height: 100%;
    overflow: auto;

    @include atMobile {
      width: 100%;
      padding: 20px;
    };
  }

  &__header {
    font-size: 20px;
    color: $black9;
    margin-bottom: 10px;

    @include atMobile {
      font-size: 16px;
    };
  }

  &__list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey1;

    @include atMobile {
      padding-bottom: 16px;
      margin-bottom: 9px;
    };

    &--no-border {
      border: none;
      padding-bottom: 0;
    }
  }

  &__li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 16px;
    color: $black9;
    transition: color .3s;

    @include lessTablet {
      font-size: 14px;
    };

    @include hover {
      color: $orange1;
    };
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 94px;

    @include atMobile {
      margin-bottom: 10px;
    };
  }

  &__phone {
    font-size: 20px;
    color: $black9;
    transition: color .3s;

    @include atMobile {
      font-size: 16px;
    };

    @include hover {
      color: $orange1;
    };
  }

  &__feedback {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 22px;
    height: 15px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__link-list {
    margin-bottom: 25px;

    .link-list {
      &__link {
        font-size: 16px;
      }
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -8px;
    margin-bottom: calc(55px + 8px);

    @include atMobile {
      margin: -4px;
      margin-bottom: calc(22px + 4px);
    };
  }

  &__btns-li {
    width: calc(100% / 2);
    padding: 8px;

    @include atMobile {
      padding: 4px;
    };
  }

  &__btn {
    font-size: 16px;
    color: $black9;
    background: #F7F7F7;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include atMobile {
      font-size: 14px;
    };
  }
}
