@mixin fromDesktop {
  @media (min-width:1023px) {
    @content;
  }
};

@mixin lessTablet {
  @media (max-width:1023px) {
    @content;
  }
};

@mixin atMobile {
  @media (max-width:767px) {
    @content;
  }
};

@mixin hover {
  @include  fromDesktop {
    &:hover {
      @content;
    }
  };
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

@mixin show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: static;
  width: auto;
  height: auto;
}
