.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -6px;
  }

  &__item {
    padding: 6px;
  }

  &__link {
    font-size: 13px;
    color: $black10;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }
}
