.orders {
  &__list {
    margin: -10px;
    margin-bottom: calc(-10px + 20px);
  }

  &__li {
    padding: 10px;

    @include atMobile {
      position: relative;

      &:after {
        display: block;
        content: '';
        height: 1px;
        background: $grey1;
        position: absolute;
        left: 10px;
        bottom: 0;
        right: 10px;
      }
    };
  }

  &__info {
    margin-bottom: 20px;
  }

  &__info-li {

  }

  &__info-key, &__info-value {
    font-size: 13px;
    color: #000;
  }

  &__info-value {
    &--price {
      font-weight: bold;
    }
  }

  &__item-list {
    margin: -10px;
  }

  &__item-li {
    padding: 10px;
    position: relative;

    &:after {
      display: block;
      content: '';
      width: auto;
      height: 1px;
      background: $grey1;
      position: absolute;
      bottom: 0;
      left:  10px;
      right: 10px;

      @include atMobile {
        display: none;
      };
    }
  }

  &__item-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__item-info {
    display: flex;
    flex-wrap: wrap;
  }

  &__img-box {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
    border: 1px solid $grey1;
  }

  &__item-content {
    padding-left: 20px;
    flex: 1;
  }

  &__item-name {
    font-size: 14px;
    font-weight: bold;
  }

  &__item-articul {
    margin-bottom: 5px;
  }

  &__item-product {
    margin-bottom: 5px;
  }

  &__item-articul, &__item-product {
    font-size: 13px;
    line-height: 16px;
    color: #999b9e;
  }

  &__item-params {
    margin: 0 -2.5px;
  }

  &__item-params-li {
    padding: 0 2.5px;
  }

  &__key, &__value {
    font-size: 13px;
    line-height: 16px;
    color: #000;
  }

  &__value {
    margin-left: 5px;
  }

  &__item-price {
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: #000;

    @include atMobile {
      display: none;
    };
  }

  &__total {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    font-weight: bold;
    text-align: right;
  }
}
