.page-main {
  padding-top: 170px;
  padding-bottom: 80px;

  & > *:last-child {
    margin-bottom: 0;
  }

  @include lessTablet {
    padding-top: 100px;
  }

  @include atMobile {
    padding-top: 76px;
  }

  &--no-pdt {
    padding-top: 140px;

    @include lessTablet {
      padding-top: 66px;
    };

    @include atMobile {
      padding-top: 53px;
    };
  }

  &__header {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include atMobile {
      display: block;
    };
  }

  &__header-item {
    @include atMobile {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    };

    &--text-right {
      text-align: right;

      @include atMobile {
        text-align: left;
      };
    }
  }

  &__header-checkbox {
    display: inline-block!important;
    margin-right: 15px;
    margin-bottom: 10px;

    @include  atMobile {
      margin-right: 0;
      margin-bottom: 20px;
    };

    .checkbox {
      &__desc {
        font-size: 14px;
      }

      &__icon {
        top: 2px;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;

    @include lessTablet {
      display: block;
      margin-bottom: 40px;
    }

    @include atMobile {
      margin-bottom: 20px;
    };
  }

  &__aside {
    width: 209px;

    @include lessTablet {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__content {
    flex: 1;
    padding-left: 30px;

    @include lessTablet {
      flex: auto;
      padding-left: 0;
    }
  }
}
