.page-footer {
  position: relative;

  @include lessTablet {
    padding-top: 60px;
  };

  @include atMobile {
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 60px;
      bottom: 0;
      background: $grey4;
    }
  };

  &--404 {
    min-height: 100vh;
    padding-top: 40px;

    @include atMobile {
      padding-top: 20px;

      &:after {
        display: none;
      }
    };

    .page-footer {

      &__head {
        height: auto;
        border-bottom: 3px solid #FFF0CC;
        padding-bottom: 50px;

        @include atMobile {
          display: block;
          padding-bottom: 20px;
          margin-bottom: 20px;
        };

        &:after {
          display: none;
        }
      }

      &__logo {
        position: static;
        max-width: 320px;
        transform: translate(0, 0);
        margin: 0 auto;
        margin-bottom: 50px;

        @include atMobile {
          margin-bottom: 20px;
        };
      }

      &__head-404 {
        font-size: 36px;
        color: #000;
        margin-bottom: 15px;
        text-align: center;

        @include atMobile {
          font-size: 20px;
          margin-bottom: 10px;
        };
      }

      &__desc-404 {
        font-size: 14px;
        text-align: center;
      }

      &__content {
        justify-content: center;

        @include lessTablet {
          display: flex;
        };
      }

      &__404-bg-img {
        border-bottom: 1px solid $grey3;
        margin-top: 90px;
        margin-bottom: 24px;
        width: 100%;
        text-align: center;

        @include lessTablet {
          order: 0;
          border-bottom: none;
        };

        img {
          width: 100%;
          max-width: 900px;
          height: auto;
        }
      }

      &__item {
        @include lessTablet {
          order: 1;
        };
        &--list-contact {
          width: 100%;

          @include lessTablet {
            margin-top: 30px;
          };
        }
      }

      &__404-contact-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        @include atMobile {
          display: block;
          margin: -5px;
        };
      }

      &__404-contact-li {
        @include atMobile {
          padding: 5px;
        };

        &:first-child {
          width: 185px;

          @include atMobile {
            width: 100%;
          };

          .page-footer {
            &__404-contact-item {
              padding-top: 8px;
            }
          }
        }

        &:nth-child(4) {
          width: 270px;

          @include lessTablet {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          };
        }
      }

      &__social-list {
        margin-top: 0;

        @include lessTablet {
          margin-bottom: 0;
        };

        @include atMobile {
          display: inline-flex;
        };
      }

      &__phone {
        margin-bottom: 0;
      }

      &__address {
        font-size: 15px;
        line-height: 18px;
      }

      &__select + .select2 {
        width: 100%!important;
        .select2 {
          &-selection {
            border-radius: 0px;
            width: 100%;
            &__rendered {
              width: 100%;
            }
          }
        }
      }

      &__bottom {
        justify-content: space-between;
        padding: 30px 0 20px;
      }
    }
  }

  &__container {
    position: relative;
  }

  &__head {
    height: 40px;
    position: relative;
    margin-bottom: 40px;

    @include atMobile {
      display: none;
    };

    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: $grey3;
      position: absolute;
      left: 0;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #fff;
    padding: 0 30px;
    max-width: 260px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include atMobile {
      display: block;
    };
  }

  &__item {
    &--list-double {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 340px;

      @include lessTablet {
        width: 310px;
      };

      @include atMobile {
        width: 100%;
        margin-bottom: 20px;
      };
    }

    &--list-center {
      width: 240px;

      @include lessTablet {
        width: 170px;
      };

      @include atMobile {
        width: 100%;
        border-bottom: 1px solid $grey1;
        padding-bottom: 20px;
        margin-bottom: 20px;
      };
    }

    &--list-contact {
      width: 280px;

      @include lessTablet {
        width: 170px;
      };

      @include atMobile {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $grey1;
      };
    }
  }

  &__list-container {
    width: calc(100% / 2);

    @include atMobile {
      width: 100%;
      padding: 17px 0;
      border: 1px solid $grey1;
      border-width: 0px 0 1px;

      &:first-child {
        border-width: 0 0 1px 0;
      }

      &.active {
        .page-footer {
          &__accordion-btn svg {
            transform: rotate(-180deg);
          }
        }
      }
    };
  }

  &__header {
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-right: 40px;

    @include lessTablet {
      font-size: 13px;
    };

    @include atMobile {
      font-size: 16px;
    };
  }

  &__accordion-btn {
    display: none;

    @include atMobile {
      display: block;
      font-size: 16px;
      color: #000;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        transition: transform .3s;
      }
    };
  }

  &__list {
    margin: -3px;
  }

  &__list-item {
    padding: 3px;
  }

  &__list-link {
    font-size: 14px;
    color: #000;
    transition: color .3s, border-color .3s;
    border-bottom: 1px solid transparent;

    @include hover {
      border-color: $orange1;
      color: $orange1;
    };

    @include lessTablet {
      font-size: 13px;
    };
  }

  &__advantages-list {
    margin-bottom: 20px;
  }

  &__advantages-list-item {
    padding: 7px 0;
    border-bottom: 1px solid $grey1;

    @include atMobile {
      padding: 10px 0;
    };

    &:first-child {
      padding: 0 0 7px;

      @include atMobile {
        padding: 0 0 10px;
      };
    }
  }

  &__advantages-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include hover {
      .page-footer {
        &__advantages-list-img {
          opacity: 0;

          &--hover {
            opacity: 1;
          }
        }
      }
    };
  }

  &__advantages-img {
    width: 46px;
    position: relative;
  }

  &__advantages-list-img {
    max-width: 100%;
    height: auto;
    transition: opacity .3s;

    &--hover {
      position: absolute;
      left: 0;
      top:  0;
      opacity: 0;
    }
  }

  &__advantages-desc {
    font-size: 15px;
    color: #000;
    flex: 1;
    padding-left: 15px;

    @include lessTablet {
      font-size: 13px;
    };
  }

  &__email-sub {
    height: 50px;
    justify-content: flex-start;
    padding-left: 14px;
    margin-bottom: 10px;

    @include lessTablet {
      font-size: 13px;
      padding-left: 5px;
      width: 100%;

      .email-sub {
        &__desc {
          margin-left: 10px;

          @include atMobile {
            margin-left: 15px;

            br {
              display: none;
            }
          };
        }
      }
    };

    @include atMobile {
      font-size: 14px;
    };
  }

  &__desc-small {
    font-size: 11px;
    color: #000;
    text-align: center;

    @include lessTablet {
      text-align: left;
      font-size: 10px;
      line-height: 15px;
    };
  }

  &__phone {
    font-size: 22px;
    color: #000;
    text-decoration: none;
    transition: color .3s;
    margin-bottom: 20px;
    font-weight: bold;

    @include hover {
      color: $orange1;
    };

    @include lessTablet {
      font-size: 18px;
      margin-bottom: 10px;
    };
  }

  &__address {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 15px;
  }

  &__social-list {
    margin-top: 35px;

    @include lessTablet {
      margin-bottom: 30px;
    };

    @include atMobile {
      justify-content: space-between;
    };
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px;

    @include lessTablet {
      justify-content: flex-start;
    };

    @include atMobile {
      padding: 0 0 20px;
      display: block;
    };
  }

  &__copy {
    font-size: 12px;
    color: #363636;
    line-height: 16px;
    width: 360px;

    @include lessTablet {
      width: 310px;
    };

    @include atMobile {
      width: 100%;
      margin-bottom: 20px;
    };
  }

  &__by {
    font-size: 12px;
    line-height: 16px;
    width: 280px;
    color: #000;
    transition: color .3s;

    @include lessTablet {
      width: 170px;
      margin-left: 40px;
    };

    @include atMobile {
      width: 100%;
      margin: 0;
    };

    span {
      @include hover {
        color: $orange1;
      };
    }
  }

  &__button {
    width: 60px;
    height: 30px;

    @include lessTablet {
      display: none;
    };
  }
}
