.page-header {
  position: fixed;
  z-index: 999;
  background: #fff;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 5px 30px rgba(0,0,0,0.1);

  @include lessTablet {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  };

  &.scrolled {
    .page-header {
      &__head-container {
        height: 31px;
      }

      &__bot-container {
        height: 74px;

        @include lessTablet {
          height: 64px;
        };

        @include atMobile {
          height: 50px;
        };
      }
    }
  }

  &__head {
    border-bottom: 1px solid $grey1;
  }

  &__head-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    transition: .4s height;

    @include lessTablet {
      display: none;
    };
  }

  &__nav {
    flex: 1;
  }

  &__city {
    margin-left: 20px;
    position: relative;
    cursor: pointer;

    &.active {
      .page-header {
        &__city-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__city-name {
    font-size: 13px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__city-txt {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 90px;
    white-space: nowrap;
  }

  &__city-icon {
    font-size: 10px;
    color: #000;
    margin-left: 4px;
    transition: transform .3s;
  }

  &__popup-list {
    position: absolute;
    right: -60px;
    top: 34px;
    opacity: 0;
    pointer-events: none;
    animation-duration: .3s;
    border: 1px solid $grey1;
    padding: 20px 0;
    background: #fff;
    width: 195px;
    z-index: 10;

    &--catalog {
      width: 240px;
      top: 75px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 50px;
      top: -13px;
      width: 0;
      height: 0;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 13px solid #e6eaed;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 51px;
      top: -11px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #FFF;
      z-index: 2;
    }
  }

  &__popup-list-item {
    &.current {
      background: #fff7e5;
    }
  }

  &__popup-list-link {
    font-size: 14px;
    color: #000;
    padding: 2.5px 30px;
    transition: background .3s;
    display: block;
    transition: background .3s;

    @include hover {
      background: #fff7e5;
    };
  }

  &__time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 12px;
    font-size: 12px;
    color: #818181;
  }

  &__time-desc {
    margin-left: 4px;
  }

  &__phone {
    font-size: 14px;
    color: #000;
    margin-left: 9px;
    transition: color .3s;

    @include hover {
      color: $orange1;
    };
  }

  &__login {
    right: -48px;
  }

  &__login-btn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 6px;

    &.active {
      .page-header {
        &__login-btn-desc {
          color: $orange1;
        }
      }
    }
  }

  &__login-btn-desc {
    font-size: 13px;
    color: #000;
    transition: color .3s;
    cursor: pointer;

    @include hover {
      color: $orange1;
    };
  }

  &__feedback {
    margin-left: 6px;
    position: relative;
  }

  &__feedback-icon {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include hover {
      .page-header {
        &__feedback-img {
          opacity: 0;

          &--hover {
            opacity: 1;
          }
        }
      }
    };
  }

  &__feedback-img {
    transition: opacity .3s;

    &--hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__logo {
    width: 194px;
    height: auto;

    @include lessTablet {
      width: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    };

    @include atMobile {
      width: 120px;
      position: static;
      margin-left: 30px;
      transform: translate(0, 2px);
    };
  }

  &__bot {
    border-bottom: 1px solid #e5e5e5;

    @include lessTablet {
      border-bottom: none;
    };
  }

  &__bot-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90px;
    transition: .4s height;
    position: relative;

    @include lessTablet {
      height: 64px;
    };

    @include atMobile {
      height: 50px;
    };
  }

  &__bot-center {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    margin: 0 34px;
    height: 100%;

    @include lessTablet {
      position: static;
      flex: none;
      margin: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      height: auto;
    };
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    @include lessTablet {
      display: none;
    };
  }

  &__catalog-header {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    transition: color .3s;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include hover {
      color: $orange1;

      .page-header {
        &__catalog-header-icon {
          color: $orange1;
        }
      }
    };
  }

  &__catalog-header-icon {
    font-size: 10px;
    color: #000;
    transition: color .3s;
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  &__catalog-item {
    margin-left: 24px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      .page-header {
        &__catalog-list {

        }
      }
    }
  }

  &__button {
    width: 106px;
    height: 35px;
    line-height: 35px;
    margin-left: 30px;

    @include lessTablet {
      display: none;
    };
  }

  &__search {
    margin-left: auto;
  }

  &__login {
    width: 393px;
    padding-left: 60px;
    padding-right: 60px;
    top: 33px;
  }

  &__feedback-form {
    width: 393px;
    padding-left: 60px;
    padding-right: 60px;
    top: 32px;
    right: -54px;
  }

  &__cart {
    margin-left: 20px;
  }

  &__hamburger {
    display: none;

    @include lessTablet {
      display: flex;
    };
  }

  &__cart-content {
    width: 508px;
    padding: 35px 33px 21px 33px;
    top: 70px;
    right: -22px;
  }
}
