.pagination {
  @include atMobile {
    margin-left: -6px;
  };

  &--center {
    max-width: 210px;
    margin: 0 auto;
    margin-bottom: 60px;

    @include lessTablet {
      margin-bottom: 40px;
    };

    @include atMobile {
      margin-bottom: 20px;
    };
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -3px;
  }

  &__item {
    width: 26px;
    height: 26px;
    display: flex;
    padding: 3px;

    &.active {
      .pagination {
        &__link {
          color: $orange1;
        }
      }
    }
  }

  &__link {
    font-size: 14px;
    color: #000;
    transition: color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include hover {
      color: $orange1;
    };

    &--next {
      color: #aeaeae;
      font-size: 16px;

      .icon {
        transform: rotate(-90deg);
      }
    }
  }
}
