.parsley {
  &-errors-list {
    display: none;
  }

  &-error {
    color: #ff0000;
    border-color: #ff0000;

    .checkbox__icon {
      border-color: #ff0000;
    }

    & + ul + span {
      color: #ff0000;
    }

    & + ul + .select2 {
      .select2 {
        &-selection {
          border-color: #ff0000;

          &__placeholder {
            color: #ff0000;
          }

          &__arrow {
            background-image: url(../images/arrow-down--error.svg);
          }
        }
      }
    }
  }
}
