.pay {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -10px;
    margin-bottom: calc(-10px + 20px);

    @include atMobile {
      margin: -5px;
      margin-bottom: calc(-5px + 10px);
    };
  }

  &__li {
    padding: 10px;

    @include atMobile {
      padding: 5px;
    };

    &--6 {
      width: calc(100% / 2);

      @include atMobile {
        width: 100%;
      };
    }

    &--3 {
      width: calc(100% / 4);

      @include atMobile {
        width: calc(100% / 2);
      };
    }
  }

  &__item {
    display: block;

    &--desc-select {
      display: flex;
      flex-wrap: wrap;
    }

    &--desc {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__select-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__form-elem {
    flex: 1;

    &--textarea {
      margin-bottom: 30px;
    }
  }

  &__select + .select2 {
    .select2 {
      &-selection {
        border-radius: 0px;
        height: 100%;
        border-width: 1px 0 1px 1px;

        &__rendered {
          font-size: 13px;
          line-height: normal;
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 20px;
          min-width: 50px;
        }

        &__arrow {
          width: 20px;
          height: 100%;

          &:after {
            width:  10px;
            height: 10px;
            background-size: 100% auto;
            top: 40%;
          }
        }
      }
    }
  }

  &__desc {
    margin-right: 20px;
    font-size: 13px;
    line-height: 16px;

    @include atMobile {
      min-width: 45px;
    };
  }

  &__title {
    margin-bottom: 15px;
  }

  &__variant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include atMobile {
      display: block;
    };
  }

  &__variant-title {
    font-size: 17px;
    line-height: 19px;
    color: #000;
    margin-right: 15px;

    @include atMobile {
      margin-right: 0;
    };
  }

  &__check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @include atMobile {
      margin-bottom: 20px;
    };
  }

  &__checkbox {
    .checkbox {
      &__desc {
        max-width: 460px;
      }
    }
  }

  &__bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include atMobile {
      display: block;
    };
  }

  &__bottom-li {
    @include atMobile {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    };
  }

  &__price {
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  &__bottom-desc {
    font-size: 13px;
    line-height: 16px;
    color: #919191;

    @include atMobile {

      br {
        display: none;
      }
    };
  }

  &__button {
    height: 36px;
    line-height: 36px;
    min-width: 260px;
  }
}
