.payment-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px;
  margin-top: calc(-15px + 25px);
  margin-bottom: calc(-15px + 25px);

  &__li {
    padding: 15px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include atMobile {
      width: calc(100% / 4);
    };
  }
}
