.personal {
  &__header {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 2px solid $orange1;
  }

  &__control-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    position: relative;
  }

  &__control-li {
    padding: 1px;

    @include atMobile {
      width: calc(100% / 2);
    };

    &.active {
      .personal {
        &__control-btn {
          background: $orange1;
          color: #fff;
        }
      }
    }
  }

  &__control-btn {
    width: 176px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    font-size: 14px;
    line-height: 17px;
    color: #919191;
    transition: color .3s, background .3s;

    @include atMobile {
      width: 100%;
    };

    @include hover {
      color: $orange1;
    };
  }

  &__tab-li {
    @include hide;

    &.active {
      @include show;
      animation: fadeInDown .5s both;
    }
  }

  &__form-list {
    margin: -15px;
    margin-bottom: calc(-15px + 20px);
  }

  &__form-li {
    padding: 15px;
  }

  &__form-title {
    font-size: 11px;
    line-height: 13px;
    color: #000;
    margin-bottom: 30px;

    @include atMobile {
      margin-bottom: 15px;
    };
  }

  &__form-box {
    display: flex;
    flex-wrap: wrap;

    @include atMobile {
      display: block;
    };
  }

  &__form-fields {
    width: calc(100% / 2);
    margin: -5px;

    @include atMobile {
      width: 100%;
    };
  }

  &__fields-li {
    padding: 5px;
  }

  &__form-right {
    width: calc(100% / 2);
    padding-left: 20px;

    @include atMobile {
      width: 100%;
      padding-left: 0;
      display: none;
    };
  }

  &__form-box-header {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  &__select + .select2 {
    width: 100%!important;

    .select2 {
      &-selection {
        border-radius: 0px;
        width: 100%;

        &__rendered {
          width: 100%;
        }
      }
    }
  }

  &__change-password {
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    transition: color .3s, border-color .3s;

    @include hover {
      color: $orange1;
      border-color: $orange1;
    };
  }

  &__submit {
    height: 36px;
    line-height: 36px;
  }

  &__desc {
    font-size: 11px;
    line-height: 13px;
    color: #919191;
    margin-top: 10px;
  }
}
