.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 30px;
  display: none;

  &.active {
    display: flex;
  }

  &__container {
    padding: 40px;
    position: relative;
    background: #fff;
    max-width: 400px;
    min-height: 280px;
    min-width: 280px;

    @include atMobile {
      padding: 40px 10px 10px 10px;
    }
  }

  &__header {
    font-size: 22px;
    font-weight: normal;
    color: #000;
    margin-bottom: 14px;
    text-align: center;

    @include atMobile {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    margin-bottom: 15px;
    text-align: center;

    @include atMobile {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__close {
    font-size: 24px;
    color: #000;
    position: absolute;
    top:  20px;
    right: 20px;

    @include atMobile {
      font-size: 18px;
      top: 10px;
      right: 10px;
    }
  }
}
