.popup-email {
  background: rgba(#fff, .75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  @include atMobile {
    background: #fff;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  };

  &.active {
    display: flex;

    @include atMobile {
      display: block;
    };
  }

  &__container {
    border: 2px solid $orange1;
    border-radius: 0 0 7px 7px;
    position: relative;
    max-width: 630px;
    background: #fff;

    @include atMobile {
      border: none;
      border-radius: 0px;
    };
  }

  &__content {
    padding: 20px 40px 40px 40px;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: $orange1;
    transition: background .3s, color .3s;

    @include hover {
      background: $orange1;;
      color: #fff;
    };
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__header {
    font-size: 20px;
    margin-bottom: 25px;

    @include atMobile {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    };
  }

  &__desc {
    margin-bottom: 20px;

    @include atMobile {
      font-size: 12px;
      margin-bottom: 10px;
    };
  }

  &__label {
    display: block;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  &__li {
    padding: 10px;

    &--25 {
      width: 25%;
    }

    &--75 {
      width: 75%;
    }

    @include atMobile {
      width: 100%;
    };
  }

  &__label-desc {
    font-size: 14px;
    color: #818181;
    margin-bottom: 10px;

    @include atMobile {
      font-size: 12px;
      margin-bottom: 5px;
    };
  }

  &__form-elem {
    @include atMobile {
      font-size: 12px;
    };
  }

  &__checkbox {
    margin-top: 25px;

    @include atMobile {
      margin-top: 0;

      .checkbox {
        &__desc {
          font-size: 12px;
        }
      }
    };
  }

  &__accept {
    .checkbox {
      &__desc {
        font-size: 12px;
      }
    }
  }

  &__submit {
    height: 40px;

    @include atMobile {
      height: 30px;
    };
  }
}
