.promocode {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 32px;

  @include atMobile {
    margin-bottom: 20px;
  };

  &__input-box {
    width: 180px;
    height: 100%;
    position: relative;

    @include atMobile {
      flex: 1;
    };
  }

  &__input {
    height: 100%;
    font-size: 13px;
    line-height: 16px;
    color: #757575;
    border: 1px solid #757575;
    padding: 0 30px 0 9px;

    &::placeholder {
      color: #262626;
    }
  }

  &__reset {
    font-size: 12px;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__button {
    width: 100px;
    height: 100%;
    background: $orange1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
  }

  &__hidden {
    display: none;
  }

  &__text {
    color: #fff;
  }
}
