.radio-btn {
  display: block;
  padding-left: 25px;
  cursor: pointer;
  position: relative;

  @include hover {
    .radio-btn {
      &__icon {
        border-color: $orange1;
      }
    }
  };

  &__input {
    display: none;

    &:checked + .radio-btn__icon {
      &:after {
        background: $orange1;
        animation: heartbeat .6s both;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid #999b9e;
    background: #fff;
    position: relative;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: border-color .3s;

    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background: transparent;
      border-radius: 50%;
      transition: background .3s;
    }
  }

  &__desc {
    font-size: 14px;

    @include atMobile {
      font-size: 13px;
    };
  }
}
