.rules {
  margin-bottom: 60px;

  @include atMobile {
    margin-bottom: 26px;
  };

  &__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    color: #000;
  }

  &__list {
    margin: -7px;
  }

  &__li {
    padding: 7px;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    position: relative;
    padding-left: 13px;

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 11px;
      width:  5px;
      height: 5px;
      background: #333;
      border-radius: 50%;
    }
  }

  &__content {
    display: none;
    width: 0;
    height: 0;
  }
}
