.sales {
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;

    @include atMobile {
      margin: -20px;
    };
  }

  &__li {
    padding: 8px;

    @include atMobile {
      padding: 20px;
      width: 100%;
    };
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include atMobile {
      display: block;
      max-width: 300px;
    };
  }

  &__img-box {
    width: 300px;
    margin-right: 75px;

    @include atMobile {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 17px;
    };

    @include hover {
      img {
        border-color: $orange1;
      }
    };

    img {
      max-width: 100%;
      height: auto;
      border: 1px solid $grey1;
      transition: border-color .3s;
    }
  }

  &__content {
    flex: 1;
  }

  &__header {
    font-size: 24px;
    margin-bottom: 15px;
    color: $orange1;
    transition: color .3s, text-decoration .3s;

    @include hover {
      color: $orange2;
      text-decoration: underline;
    };

    @include lessTablet {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    };

    @include atMobile {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
    };
  }

  &__text {
    font-size: 14px;
    margin-bottom: 15px;

    @include lessTablet {
      margin-bottom: 20px;
    };
  }

  &__button {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    width: auto;
    padding: 0 30px;

    @include atMobile {
      width: 100%;
    };
  }
}
