.scroll-up {
  position: absolute;
  right: -53px;
  top: -76px;
  width: 53px;
  height: 53px;
  transition: .3s;
  border: 2px solid $orange1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: $grey4;
  cursor: pointer;

  @include hover {
    background: $orange1;
    color: $white;
  };

  @media screen and (max-width:1200px) {
    right: 32px;
    top: -60px;
  }

  @include lessTablet {
    right: 20px;
    top: -60px;
  };
}
