.search {
  &.active {
    .search {
      &__icon {
        &--open {
          opacity: 0;
        }

        &--close {
          opacity: 1;
        }
      }

      &__btn {
        @include lessTablet {
          width: 64px;
          height: auto;
          background: #fff;
          z-index: 10;
          position: absolute;
          top: 0;
          right: 0;
          top: 0;
          bottom: 0;
        };

        @include atMobile {
          font-size: 12px;
          width: 12px;
          height: 12px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          right: auto;
          bottom: auto;

          img {
            width: 100%;
            height: auto;
          }
        };
      }
    }
  }

  &__form {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 5;
    width: calc(100% - 43px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include lessTablet {
      width: calc(100% - 64px);
      padding-left: 20px;
    };

    @include atMobile {
      padding: 0 20px 0 50px;
      width: 100%;
    };
  }

  &__form-item {
    position: relative;
    flex: 1;
    margin-right: 3px;

    @include lessTablet {
      margin-right: 5px;
    };

    @include atMobile {
      height: 100%;
      display: flex;
      align-items: center;
    };

    &.filled {
      .search {
        &__reset {
          right: 10px;
          opacity: 1;
        }

        &__popup {
          top: 100%;
          opacity: 1;
          pointer-events: auto;

          @include atMobile {
            top: 50px;
          };
        }
      }
    }
  }

  &__reset {
    position: absolute;
    right: -10px;
    top: 58%;
    transform: translateY(-50%);
    font-size: 10px;
    color: $orange1;
    transition: opacity .3s, right .3s;
    opacity: 0;
    display: block;

    @include lessTablet {
      top: 54%;
    };
  }

  &__input {
    padding-left: 20px;
    padding-right: 33px;
    font-size: 18px;
    font-weight: normal;
    height: 42px;
    width: 100%;
    display: block;

    @include lessTablet {
      height: 32px;
      font-size: 16px;
    };

    @include atMobile {
      font-size: 14px;
      height: 17px;
      margin-right: 14px;
      border: none;
      padding-left: 0;
    };
  }

  &__submit {
    width: 100px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;

    @include lessTablet {
      width: 147px;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
    };

    @include atMobile {
      width: 17px;
      height: 17px;
      font-size: 0;
      line-height: normal;
      background: url(../img/search.png) no-repeat center;
      background-size: 100% auto;
    };
  }

  &__btn {
    position: relative;
    width: 34px;
    height: 34px;

    @include lessTablet {
      display: block;
      width: 17px;
      height: 17px;
    };

    @include hover {
      .search {
        &__icon-img {
          opacity: 0;

          &--hover {
            opacity: 1;
          }
        }
      }
    };
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s;
    width: 100%;
    height: 100%;

    @include lessTablet {
      transition: 0s;
      left: 0;
      top: 0;
      transform: translate(0, 0);
    };

    &--close {
      opacity: 0;

      .search {
        &__icon-img {
          width: 22px;
          height: 22px;

          @include atMobile {
            width: 100%;
            height: auto;
          };
        }
      }
    }
  }

  &__icon-img {
    transition: opacity .3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;

    &--hover {
      opacity: 0;
    }
  }

  &__popup {
    position: absolute;
    left: 0;
    top: calc(100% - 20px);
    right: 0;
    background: #fff;
    max-height: 363px;
    padding: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top.3s;

    @include atMobile {
      position: fixed;
      top: 30px;
    };
  }

  &__list {
    overflow: auto;
    margin: 0 -30px;
    counter-reset: catalog-counter;
    flex: 1;
  }

  &__li {
    counter-increment: catalog-counter;
    position: relative;
  }

  &__header {
    font-size: 14px;
    color: #000;
    margin-bottom: 7px;
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 7px 48px;
    transition: background .3s;
    position: relative;

    @include hover {
      background: #FFF7E5;
    };

    &:before {
      display: block;
      content: counter(catalog-counter) '.';
      position: absolute;
      left: 30px;
      top: 6px;
      font-size: 14px;
      z-index: 10;
      color: #000;
    }
  }

  &__name {
    font-size: 13px;
    color: #000;
  }

  &__category {
    font-size: 12px;
    color: #8e8e8e;
  }

  &__total {
    font-size: 13px;
    color: #000;
    margin: 0 -30px;
    padding-left: 30px;
    padding-right: 30px;

    &:before {
      display: none;
    }
  }
}
