.select2 {
  // width: calc(100% + 30px)!important;

  &-dropdown {
    border-color: #dadada;
  }

  &-search {
    display: none;
  }

  &-results {
    &__option {
      font-size: 14px;
      transition: background-color .3s;
      color: #333!important;

      &--highlighted, &[aria-selected="true"] {
        background-color: #FFF7E5!important;
      }
    }
  }
}

.select {
  &__container {
    // max-width: 160px;
  }

  & + .select2 {
    .select2 {
      &-selection {
        border-color: #dadada;
        transition: border-color .3s;

        @include hover {
          border-color: #c4c4c4;
        };

        &__rendered {
          padding-right: 26px;
        }

        &__placeholder, &__rendered {
          font-size: 14px;
          color: #333;
        }

        &__arrow {
          width: 26px;
          b {
            display: none;
          }

          &:after {
            display: block;
            content: '';
            width: 12px;
            height: 6px;
            background: url(../img/icons/chevron-down--orange.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -10%);
          }
        }
      }
    }
  }
}
