.services {
  margin-bottom: 60px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;

    @include lessTablet {
      margin: -10px;
    };

    @include atMobile {
      margin: -5px;
    };
  }

  &__li {
    width: calc(100% / 3);
    padding: 14px;

    @include lessTablet {
      padding: 10px;
    };

    @include atMobile {
      width: 100%;
      padding: 5px;
    };
  }

  &__item {
    background: #f7f7f7;
    transition: background .3s;
    padding: 20px;
    height: 100%;

    @include hover {
      background: #FFF7E5;

      .services {
        &__icon {
          color: $orange1;
        }
      }
    };
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    @include lessTablet {
      margin-bottom: 15px;
    };
  }

  &__header-text {
    font-size: 24px;
    line-height: 26px;
    color: #000;

    @include lessTablet {
      font-size: 20px;
      line-height: 24px;
    };
  }

  &__link {
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #000;
    display: inline-block;

    @include lessTablet {
      display: none;
    };

    @include atMobile {
      display: block;
    };
  }

  &__desc {
    font-size: 14px;
    margin-bottom: 20px;

    @include lessTablet {
      font-size: 13px;
      line-height: 16px;
    };
  }

  &__text {
    font-size: 14px;
  }

  &__item-list {
    margin: -10px;
  }

  &__item-li {
    padding: 10px;
    padding-left: calc(10px + 75px);
    position: relative;

    @include lessTablet {
      padding-left: 0;
    };

    @include atMobile {
      padding-left: calc(10px + 75px);
    };
  }

  &__icon {
    font-size: 50px;
    color: #000;
    position: absolute;
    left: 20px;
    top: 10px;
    color: #b4b4b4;
    transition: color .3s;

    @include lessTablet {
      font-size: 40px;

      & + * {
        padding-left: 75px;
      }
    };

    @include atMobile {
      & + * {
        padding-left: 0;
      }
    };
  }

  &__text {
    font-size: 14px;
    line-height: 1.2;

    @include lessTablet {
      font-size: 13px;
      line-height: 16px;
    };
  }

  &__big-text {
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;

    @include lessTablet {
      font-size: 13px;
      line-height: 16px;
    };
  }

  &__button {
    height: 34px;
    line-height: 34px;
    margin-top: 15px;
    font-size: 13px;

    @include lessTablet {
      font-size: 14px;
    };
  }
}
