.single-slider {
  position: relative;
  margin-bottom: 40px;

  @include lessTablet {
    margin-bottom: 30px;
  };

  @include atMobile {
    margin-bottom: 12px;
  };

  p {
    font-size: 13px;
  }

  &__item {
    position: relative;
    height: 713px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include lessTablet {
      height: 450px;
    };

    @include atMobile {
      height: 550px;
      background-size: contain;
      background-position: center top;
    };
  }

  &__container {
    padding-top: 130px;

    @include lessTablet {
      padding-top: 0;
      display: flex;
      align-items: center;
      height: 100%;
    };

    @include atMobile {
      align-items: flex-end;
      padding-bottom: 40px;
    };
  }

  &__content {
    width: 340px;
    margin-left: auto;
    padding-bottom: 80px;
    position: relative;

    @include lessTablet {
      padding-bottom: 0px;
      width: 280px;
      height: auto;
    };

    @include atMobile {
      margin-left: 0;
      width: 100%;
    };
  }

  &__logo {
    margin-bottom: 30px;
    max-width: 160px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include lessTablet {
      margin-bottom: 14px;
    };
  }

  &__button {
    position: absolute;
    left: 0;
    bottom: 0;

    @include lessTablet {
      position: static;
      margin-top: 50px;
      width: 100%;
      height: 54px;
      line-height: 54px;
    };

    @include atMobile {
      margin-top: 10px;
    };
  }

  &__dots {
    position: absolute;
    left: 50%;
    bottom: 58px;
    transform: translateX(-50%);

    @include lessTablet {
      bottom: 30px;
    };

    @include atMobile {
      bottom: 7px;
    };

    li {
      padding: 3px;

      &.slick-active {
        button {
          background: $orange1;
        }
      }
    }

    button {
      font-size: 0;
      width: 9px;
      height: 9px;
      border: 2px solid $orange1;
      border-radius: 50%;
      transition: background .3s;
      display: block;
      background: #fff;
    }

    .slick {
      &-dots {
        display: flex!important;
        flex-wrap: wrap;
        align-items: center;
        margin-right: -3px;
      }
    }
  }
}
