.slider-range {
  position: relative;

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @include lessTablet {
      justify-content: flex-start;
    };
  }

  &__input {
    width: 54px;
    font-size: 12px;
    padding: 0 3px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    @include lessTablet {
      margin: 0 10px;
    };
  }

  &__desc {
    font-size: 12px;
  }

  &__filter {
    position: absolute;
    left: calc(100% + 20px);
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: 1px solid $orange1;
    border-width: 1px 1px 1px 0;
    height: 30px;
    box-shadow: 0px 5px 15px -5px rgba(#000, .3);
    transition: opacity .3s, top .3s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    @include lessTablet {
      position: relative;
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      display: inline-flex;
      border-width: 1px;
      width: 0;
      height: 0;
    };

    &.active {
      display: flex;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      width: auto;
      height: 30px;

      @include lessTablet {
        display: inline-flex;
      };
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: -10px;
      top: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 10px 15px 0;
      border-color: transparent #ffb300 transparent transparent;

      @include lessTablet {
        display: none;
      };
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: -9px;
      top: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 10px 15px 0;
      border-color: transparent #fff transparent transparent;

      @include lessTablet {
        display: none;
      };
    }
  }

  &__filter-number {
    font-size: 12px;
    line-height: 18px;
    color: #000;
    margin-right: 8px;

    @include lessTablet {
      font-size: 14px;
    };
  }

  &__filter-submit {
    padding: 0 10px;
    font-size: 11px;
    height: 100%;

    @include lessTablet {
      width: auto;
      font-size: 14px;
    };
  }
}
