.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -5px;

  &__item {
    position: relative;
    padding: 5px;

    @include hover {
      .social-list {
        &__img {
          opacity: 0;

          &--hover {
            opacity: 1;
          }
        }
      }
    };
  }

  &__img {
    transition: opacity .3s;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;

    @include lessTablet {
      width:  25px;
      height: 25px;
    };

    &--hover {
      position: absolute;
      left: 50%;
      top:  50%;
      transform: translate(-50%, -50%);
      transition: opacity .3s;
      opacity: 0;
    }
  }
}
