.tabs {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;

    @include lessTablet {
      margin: -10px;
    };
  }

  &__li {
    padding: 15px;

    @include lessTablet {
      padding: 10px;
    };

    @include atMobile {

    };

    &.active {
      .tabs {
        &__button {
          background: $orange1;
          color: #fff;
        }

        &__button-text {
          border: none;
        }
      }
    }
  }

  &__button {
    font-size: 18px;
    color: #000;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0 20px;
    transition: background .3s, color .3s;

    @include lessTablet {
      min-width: 167px;
    };

    @include atMobile {
      min-width: auto;
      font-size: 14px;
    };

    @include hover {
      color: $orange2;
    };
  }

  &__button-text {
    border-bottom: 1px dotted #000;
  }

  &__item {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 0;
    height: 0;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      width: auto;
      height: auto;
    }
  }
}
