.tags {
  margin-bottom: 40px;

  @include atMobile {
    margin-bottom: 20px;
  };
  
  &__header {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;

    @include atMobile {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 15px;
    };
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;

    @include atMobile {
      margin: -2.5px;
    };
  }

  &__li {
    padding: 1px;

    @include atMobile {
      padding: 2.5px;
    };
  }

  &__item {

  }

  &__input {
    display: none;

    &:checked + .tags__desc {
      background: $orange1;
      color: #fff;
    }
  }

  &__desc {
    padding: 10px;
    display: block;
    background: #F7F7F7;
    font-size: 13px;
    line-height: 16px;
    color: #919191;
    cursor: pointer;
    transition: background .3s, color .3s;

    @include atMobile {
      font-size: 11px;
      line-height: 13px;
      padding: 10px 9px;
    };

    @include hover {
      color: $orange1;
    };
  }
}
