.ui-slider {
  &.ui-widget-content {
    height: 25px;
    border: none;
    margin: 22px 12.5px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: -10px;
      right: -12.5px;
      top: 50%;
      transform: translateY(-50%);
      background: $grey1;
      height: 1px;
    }

    // &:before {
    //   left: -10.5px;
    // }
    //
    // &:after {
    //   right: -10.5px;
    // }
  }

  &-range {
    background: $orange1;
    height: 1px!important;
    top: 50%!important;
    transform: translateY(-50%);
  }

  & &-handle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $orange1;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba($orange1, 0);
    transition: box-shadow .3s;

    &.ui-state-hover {
      box-shadow: 0 0 10px 1px rgba($orange1, 0.6);
    }

    &:nth-child(2) {
      &:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 9px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        left: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:nth-child(3) {
      &:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 9px 7.5px 0;
        border-color: transparent #ffffff transparent transparent;
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
