// colors: 1 - the lightest; 10 - the blackest (1 - самый светлый; 10 - самый тёмный)
$black10: #000;
$black9: #333333;

$grey1: #E5E5E5;
$grey2: #DBDBDB;
$grey3: #999b9e;
$grey4: #818181;

$orange1: #FFB300;
$orange2: #FFCA00;

$blue: #01C6FF;

$red: #FF0114;

$white: #fff;
