<footer class="page-footer wow fadeInDown">
	<div class="container page-footer__container">
		<button type="button" class="scroll-up js-scroll-up wow fadeInDown">
			<svg class="icon icon-chevron-up">
				<use xlink:href="#icon-chevron-up"></use>
			</svg>
		</button>
		<div class="page-footer__head">
			<a href="index.html" class="logo page-footer__logo"><img src="assets/img/logo.png" alt=""></a>
		</div>
		<div class="page-footer__content">
			<div class="page-footer__item  page-footer__item--list-double js-accordion js-accordion-mobile">
				<div class="page-footer__list-container js-accordion-item">
					<div class="page-footer__header">
						О компании
						<button type="button" class="js-accordion-btn page-footer__accordion-btn">
							<svg class="icon icon-chevron-down">
								<use xlink:href="#icon-chevron-down"></use>
							</svg>
						</button>
					</div>
					<ul class="page-footer__list js-accordion-content">
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">О компании</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Как заказать?</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Способы оплаты</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Способы доставки</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Контакты</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Возврат</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Договор оферта</a>
						</li>
					</ul>
				</div>
				<div class="page-footer__list-container js-accordion-item">
					<div class="page-footer__header">
						Продукция
						<button type="button" class="js-accordion-btn page-footer__accordion-btn">
							<svg class="icon icon-chevron-down">
								<use xlink:href="#icon-chevron-down"></use>
							</svg>
						</button>
					</div>
					<ul class="page-footer__list js-accordion-content">
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Препараты
								<br>
								ELDAN Cosmetics</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Препараты
								<br>
								MesoSet</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Расходные материалы</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Декоративная
								<br>
								косметика</a>
						</li>
						<li class="page-footer__list-item">
							<a href="#" class="page-footer__list-link">Подарочные наборы</a>
						</li>
					</ul>
					<button type="button" class="button page-footer__button">Акции</button>
				</div>
			</div>
			<div class="page-footer__item  page-footer__item--list-center">
				<ul class="page-footer__advantages-list">
					<li class="page-footer__advantages-list-item">
						<a href="#" class="page-footer__advantages-link">
							<div class="page-footer__advantages-img">
								<img class="page-footer__advantages-list-img" src="assets/img/checklist.png" alt="">
								<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/checklist--hover.png" alt="">
							</div>
							<div class="page-footer__advantages-desc">При регистрации
								<br>
								скидка 3%</div>
						</a>
					</li>
					<li class="page-footer__advantages-list-item">
						<a href="#" class="page-footer__advantages-link">
							<div class="page-footer__advantages-img">
								<img class="page-footer__advantages-list-img" src="assets/img/car-check.png" alt="">
								<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/car-check--hover.png" alt="">
							</div>
							<div class="page-footer__advantages-desc">Как получить
								<br>
								бесплатную доставку</div>
						</a>
					</li>
					<li class="page-footer__advantages-list-item">
						<a href="#" class="page-footer__advantages-link">
							<div class="page-footer__advantages-img">
								<img class="page-footer__advantages-list-img" src="assets/img/cosmetic.png" alt="">
								<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/cosmetic--hover.png" alt="">
							</div>
							<div class="page-footer__advantages-desc">О косметике</div>
						</a>
					</li>
				</ul>
				<button type="button" data-popup-selector="js-popup-email" class="email-sub js-popup-email-open  page-footer__email-sub">
					<div class="email-sub__icon">
						<svg class="icon" viewbox="0 0 79 36" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
							<clippath id="a">
								<path d="M0 0h78.508v35.778H0z"></path>
							</clippath>
							<g clip-path="url(#a)" fill="none" stroke="currentColor" stroke-width="1.5">
								<path d="M73.978 35.028H33.64c-2.078 0-3.78-1.7-3.78-3.78V4.53c0-2.08 1.702-3.78 3.78-3.78H73.98c2.08 0 3.78 1.7 3.78 3.78v26.718c0 2.08-1.7 3.78-3.78 3.78z"></path>
								<path d="M34.588 7.5l19.8 15.484L72.664 7.5M46.773 17.908L34.715 29.71M61.115 17.908L73.173 29.71M.75 8.89H21M5.75 17.89H21M9.75 26.89H21"></path>
							</g>
						</svg>
					</div>
					<div class="email-sub__desc">Подпишись
						<br>
						на рассылку</div>
				</button>
				<div class="page-footer__desc-small">акции, новинки продукции, новости из мира косметологии</div>
			</div>
			<div class="page-footer__item  page-footer__item--list-contact">
				<a href="tel:+74952590108" class="page-footer__phone">+7 495 259-01-08</a>
				<p class="page-footer__address">10:00 - 18:30</p>
				<p class="page-footer__address">107023, ул. Бол. Семеновская д. 40 Бизнес-центр "Агат", офис 114</p>
				<ul class="social-list page-footer__social-list">
					<li class="social-list__item">
						<img class="social-list__img" src="assets/img/facebook.png" alt="">
						<img class="social-list__img social-list__img--hover" src="assets/img/facebook--hover.png" alt="">
					</li>
					<li class="social-list__item">
						<img class="social-list__img" src="assets/img/vk.png" alt="">
						<img class="social-list__img social-list__img--hover" src="assets/img/vk--hover.png" alt="">
					</li>
					<li class="social-list__item">
						<img class="social-list__img" src="assets/img/odnoklasniki.png" alt="">
						<img class="social-list__img social-list__img--hover" src="assets/img/odnoklasniki--hover.png" alt="">
					</li>
					<li class="social-list__item">
						<img class="social-list__img" src="assets/img/instagram.png" alt="">
						<img class="social-list__img social-list__img--hover" src="assets/img/instagram--hover.png" alt="">
					</li>
					<li class="social-list__item">
						<img class="social-list__img" src="assets/img/youtube.png" alt="">
						<img class="social-list__img social-list__img--hover" src="assets/img/youtube--hover.png" alt="">
					</li>
				</ul>
			</div>
		</div>
		<div class="page-footer__bottom">
			<div class="page-footer__copy">
				© 2019 «Астарта» — интернет-магазин ELDAN Cosmetics, препаратов MesoSet и расходных материалов.
			</div>
			<a href="#" class="page-footer__by">
				Разработка и поддержка сайта —
				<span>MINISOL</span>
			</a>
		</div>
	</div>
</footer>

<div class="popup js-popup js-popup-any-message">
	<div class="popup__container">
		<div class="popup__desc js-popup-message"></div>
		<button type="button" class="popup__close js-popup-btn-close">
			<svg class="icon icon-close">
				<use xlink:href="#icon-close"></use>
			</svg>
		</button>
	</div>
</div>
<div class="popup js-popup js-popup--reset-password">
	<div class="popup__container">
		<h4 class="popup__header">Восстановить пароль</h4>
		<div class="popup__desc">В форму ниже введите адрес своей электронной почты, указанный при регистрации.</div>
		<form>
			<div class="form-item">
				<input placeholder="Эл. почта:" type="email" class="form-elem" required="">
			</div>
			<button type="submit" class="button login__submit">Выслать пароль</button>
		</form>
		<button type="button" class="popup__close js-popup-btn-close">
			<svg class="icon icon-close">
				<use xlink:href="#icon-close"></use>
			</svg>
		</button>
	</div>
</div>
<div class="popup-email js-popup-email">
	<div class="popup-email__container js-popup-email-container">
		<button type="button" class="popup-email__close js-popup-email-close">
			<svg class="icon icon-close">
				<use xlink:href="#icon-close"></use>
			</svg>
		</button>
		<div class="popup-email__img-box"><img class="popup-email__img" src="assets/img/mail-sub.jpg" alt=""></div>
		<div class="popup-email__content">
			<div class="popup-email__header">Подпишись на рассылку</div>
			<p class="popup-email__desc">Получи эксклюзивные обучающие материалы по косметологии, применения препаратов ELDAN, Mesoset.</p>
			<form action="" class="popup-email__form" data-parsley-validate="">
				<ul class="popup-email__list">
					<li class="popup-email__li popup-email__li--75">
						<ul class="popup-email__list">
							<li class="popup-email__li popup-email__li--25">
								<label class="popup-email__label">
									<div class="popup-email__label-desc">Ваше имя*</div>
									<input type="text" class="form-elem popup-email__form-elem" required="required">
								</label>
							</li>
							<li class="popup-email__li popup-email__li--75">
								<label class="popup-email__label">
									<div class="popup-email__label-desc">Ваша эл. почта*</div>
									<input type="email" class="form-elem popup-email__form-elem" required="required">
								</label>
							</li>
						</ul>
					</li>
					<li class="popup-email__li popup-email__li--25">
						<label class="checkbox popup-email__checkbox">
							<input type="checkbox" name="iscosmetologist" class="checkbox__input js-checkbox-input">
							<div class="checkbox__icon"></div>
							<div class="checkbox__desc">Я косметолог</div>
						</label>
					</li>
					<li class="popup-email__li popup-email__li--75">
						<label class="checkbox popup-email__accept">
							<input type="checkbox" name="popup-email__accept" class="checkbox__input js-checkbox-input" required="required" checked="checked">
							<div class="checkbox__icon"></div>
							<div class="checkbox__desc">Я соглашаюсь получать рассылку и на обработку личных данных</div>
						</label>
					</li>
					<li class="popup-email__li popup-email__li--25">
						<button class="popup-email__submit button" type="submit">Подписаться</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup--reset-password">
	<div class="popup__container">
		<h4 class="popup__header">Восстановить пароль</h4>
		<div class="popup__desc">В форму ниже введите адрес своей электронной почты, указанный при регистрации.</div>
		<form>
			<div class="form-item">
				<input placeholder="Эл. почта:" type="email" class="form-elem" required="">
			</div>
			<button type="submit" class="button login__submit">Выслать пароль</button>
		</form>
		<button type="button" class="popup__close js-popup-btn-close">
			<svg class="icon icon-close">
				<use xlink:href="#icon-close"></use>
			</svg>
		</button>
	</div>
</div>