<header class="page-header js-page-header">
	<div class="page-header__head">
		<div class="container page-header__head-container">
			<nav class="nav page-header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">О компании</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Как заказать?</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Оплата</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Доставка</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Возврат</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="page-header__city js-animation-parent">
				<div class="page-header__city-name js-animation-parent--click" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
					<span class="page-header__city-txt">Москва и Московская область</span>
					<svg class="page-header__city-icon icon icon-chevron-down">
						<use xlink:href="#icon-chevron-down"></use>
					</svg>
				</div>
				<ul class="page-header__popup-list js-animation-child">
					<li class="page-header__popup-list-item current">
						<a class="page-header__popup-list-link" href="#">Москва и Московская область</a>
					</li>
					<li class="page-header__popup-list-item">
						<a class="page-header__popup-list-link" href="#">Санкт-Петербург</a>
					</li>
				</ul>
			</div>
			<div class="page-header__time">
				<img src="assets/img/time.png" alt="">
				<span class="page-header__time-desc">10:00 - 18:30</span>
			</div>
			<a href="tel:+74952590108" class="page-header__phone">+7 495 259-01-08</a>
			<div class="page-header__feedback js-animation-parent" data-parsley-validate="">
				<button type="button" class="page-header__feedback-icon js-animation-parent--click" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
					<img class="page-header__feedback-img" src="assets/img/email.png" alt="">
					<img class="page-header__feedback-img page-header__feedback-img--hover" src="assets/img/email--hover.png" alt="">
				</button>
				<form class="page-header__popup-list js-animation-child page-header__feedback-form feedback">
					<button type="button" class="feedback__close js-animation-close">
						<svg class="icon icon-close">
							<use xlink:href="#icon-close"></use>
						</svg>
					</button>
					<div class="feedback__header">Обратная связь</div>
					<div class="form-item"><input required="required" placeholder="Ваше имя*" type="text" class="form-elem"></div>
					<div class="form-item"><input required="required" placeholder="Ваш телефон*" type="tel" class="form-elem js-phone-mask"></div>
					<div class="form-item">
						<textarea placeholder="Комментарий" class="form-elem form-elem--textarea"></textarea>
					</div>
					<div class="feedback__protection">Защита от автоматического заполнения</div>
					<button type="submit" class="feedback__submit button">Отправить</button>
				</form>
			</div>
			<div class="page-header__login-btn js-animation-parent">
				<button type="button" class="page-header__login-btn-desc js-animation-parent--click" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">Войти</button>
				<form class="page-header__popup-list page-header__login login js-animation-child" data-parsley-validate="">
					<button type="button" class="login__close js-animation-close">
						<svg class="icon icon-close">
							<use xlink:href="#icon-close"></use>
						</svg>
					</button>
					<div class="login__header">
						<div class="login__header-desc">Вход</div>
						<a href="#" class="login__reg login__link">Зарегистрироваться</a>
					</div>
					<div class="form-item">
						<input placeholder="Эл. почта:" type="email" class="form-elem" required="required">
					</div>
					<div class="form-item js-toggle-password-parent">
						<input placeholder="Пароль:" type="password" autocomplete="on" class="form-elem js-toggle-password-input" required="required">
						<div class="login__pass-toggle js-toggle-class js-toggle-password">
							<div class="login__pass-icon">
								<svg class="icon icon-eye">
									<use xlink:href="#icon-eye"></use>
								</svg>
							</div>
							<div class="login__pass-icon login__pass-icon--hidden">
								<svg class="icon icon-eye-hidden">
									<use xlink:href="#icon-eye-hidden"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="login__check-container">
						<label class="checkbox login__checkbox">
							<input type="checkbox" class="checkbox__input js-checkbox-input" name="login__checbox">
							<div class="checkbox__icon"></div>
							<div class="checkbox__desc">Запомнить меня</div>
						</label>
						<button type="button" class="page-header__forget-pass login__link js-popup-btn-open" data-popup-selector="js-popup--reset-password">Забыли пароль</button>
					</div>
					<button type="submit" class="button login__submit">Войти</button>
				</form>
			</div>
		</div>
	</div>
	<div class="page-header__bot">
		<div class="container page-header__bot-container js-animation-parent">
			<button type="button" class="hamburger page-header__hamburger js-hamburger js-toggle-class js-animation-parent--click" data-animation-start="slideInRight" data-animation-end="slideOutLeft">
				<div class="hamburger__icon">
					<svg class="icon icon-hamburger">
						<use xlink:href="#icon-hamburger"></use>
					</svg>
				</div>
				<div class="hamburger__icon hamburger__icon--close">
					<svg class="icon icon-close">
						<use xlink:href="#icon-close"></use>
					</svg>
				</div>
			</button>
			<div class="menu page-header__menu js-animation-child">
				<div class="menu__content">
					<div class="menu__header">Препараты Eldan Cosmetics</div>
					<ul class="menu__list">
						<li class="menu__li">
							<a href="#" class="menu__link">Домашний уход</a>
						</li>
						<li class="menu__li">
							<a href="#" class="menu__link">Профессиональный уход</a>
						</li>
					</ul>
					<div class="menu__header">Препараты MesoSet</div>
					<ul class="menu__list menu__list--no-border">
						<li class="menu__li">
							<a href="#" class="menu__link">Все товары</a>
						</li>
						<li class="menu__li">
							<a href="#" class="menu__link">Расходные материалы</a>
						</li>
						<li class="menu__li">
							<a href="#" class="menu__link">Декоративная косметика</a>
						</li>
						<li class="menu__li">
							<a href="#" class="menu__link">Подарочные наборы</a>
						</li>
					</ul>
					<ul class="link-list menu__link-list">
						<li class="link-list__item">
							<a href="#" class="link-list__link">О компании</a>
						</li>
						<li class="link-list__item">
							<a href="#" class="link-list__link">Как заказать</a>
						</li>
						<li class="link-list__item">
							<a href="#" class="link-list__link">Оплата</a>
						</li>
						<li class="link-list__item">
							<a href="#" class="link-list__link">Доставка</a>
						</li>
						<li class="link-list__item">
							<a href="#" class="link-list__link">Возврат</a>
						</li>
						<li class="link-list__item">
							<a href="#" class="link-list__link">Контакты</a>
						</li>
						<li class="link-list__item active">
							<a href="#" class="link-list__link">Акции</a>
						</li>
					</ul>
					<div class="menu__contacts">
						<a href="tel:+74952590108" class="menu__phone">+7 495 259-01-08</a>
						<a href="#" class="menu__feedback">
							<img class="menu__feedback-img" src="assets/img/email.png" alt="">
						</a>
					</div>
					<ul class="menu__btns">
						<li class="menu__btns-li">
							<a href="#" class="menu__btn">Личный кабинет</a>
						</li>
						<li class="menu__btns-li">
							<a href="#" class="menu__btn">Выйти</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="index.html" class="logo page-header__logo"><img src="assets/img/logo.png" alt=""></a>
			<div class="page-header__bot-center">
				<div class="page-header__catalog">
					<div class="page-header__catalog-item js-animation-parent--hover js-animation-parent" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
						<a href="#" class="page-header__catalog-header">
							Препараты
							<br>
							ELDAN Cosmetics
							<svg class="page-header__catalog-header-icon icon icon-chevron-down">
								<use xlink:href="#icon-chevron-down"></use>
							</svg>
						</a>
						<ul class="page-header__popup-list page-header__popup-list--catalog js-animation-child">
							<li class="page-header__popup-list-item">
								<a href="#" class="page-header__popup-list-link">Домашний уход</a>
							</li>
							<li class="page-header__popup-list-item">
								<a href="#" class="page-header__popup-list-link">Профессиональный уход</a>
							</li>
						</ul>
					</div>
					<div class="page-header__catalog-item">
						<a href="#" class="page-header__catalog-header">Препараты
							<br>
							MesoSet</a>
					</div>
					<div class="page-header__catalog-item js-animation-parent--hover js-animation-parent" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
						<a href="#" class="page-header__catalog-header">
							Все
							<br>
							товары
							<svg class="page-header__catalog-header-icon icon icon-chevron-down">
								<use xlink:href="#icon-chevron-down"></use>
							</svg>
						</a>
						<ul class="page-header__popup-list page-header__popup-list--catalog js-animation-child">
							<li class="page-header__popup-list-item">
								<a href="#" class="page-header__popup-list-link">Расходные материалы</a>
							</li>
							<li class="page-header__popup-list-item">
								<a href="#" class="page-header__popup-list-link">Декоративная косметика</a>
							</li>
							<li class="page-header__popup-list-item">
								<a href="#" class="page-header__popup-list-link">Подарочные наборы</a>
							</li>
						</ul>
					</div>
				</div>
				<a href="#" class="button page-header__button">Акции</a>
				<div class="search page-header__search js-search js-animation-parent">
					<button class="search__btn js-animation-parent--click" type="button" data-animation-start="fadeIn" data-animation-end="fadeOut">
						<div class="search__icon search__icon--open">
							<img src="assets/img/search.png" alt="" class="search__icon-img">
							<img src="assets/img/search--hover.png" alt="" class="search__icon-img search__icon-img--hover">
						</div>
						<div class="search__icon search__icon--close">
							<img src="assets/img/close.png" alt="" class="search__icon-img">
							<img src="assets/img/close--hover.png" alt="" class="search__icon-img search__icon-img--hover">
						</div>
					</button>
					<form action="" class="search__form js-animation-child">
						<div class="search__form-item js-search-form">
							<input type="search" class="search__input form-elem js-search-input" placeholder="Поиск">
							<button type="button" class="search__reset js-search-reset">
								<svg class="icon icon-close">
									<use xlink:href="#icon-close"></use>
								</svg>
							</button>
							<div class="search__popup js-search-popup">
								<div class="search__header">Каталог</div>
								<ul class="search__list">
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
									<li class="search__li">
										<a href="#" class="search__link">
											<div class="search__name">Халат-куртка с логотипом ELDAN Cosmetics</div>
											<div class="search__category">Расходные матриалы</div>
										</a>
									</li>
								</ul>
								<a href="#" class="search__link search__total">Смотреть все результаты поиска</a>
							</div>
						</div>
						<button type="submit" class="search__submit button">Найти</button>
					</form>
				</div>
			</div>
			<div class="cart page-header__cart js-animation-parent">
				<button type="button" class="cart__icon js-animation-parent--click hide-tablet" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
					<img src="assets/img/basket.png" alt="">
					<div class="cart__counter">2</div>
				</button>
				<button type="button" class="cart__icon hide-desktop js-link" data-href="cart.html">
					<img src="assets/img/basket.png" alt="">
					<div class="cart__counter">2</div>
				</button>
				<div class="cart__content page-header__cart-content page-header__popup-list js-animation-child">
					<div class="cart__header">
						Ваша корзина
						<button type="button" class="cart__close js-animation-close">
							<svg class="icon icon-close">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>
					<ul class="cart__list">
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__1.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__2.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__1.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__2.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__1.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__2.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__1.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
						<li class="cart__li">
							<div class="cart__item">
								<a href="#" class="cart__img-box"><img class="cart__img" src="assets/img/cart__2.jpg" alt=""></a>
								<div class="cart__item-content">
									<div class="cart__articul">
										Артикул: ELD-01</div>
									<a href="#" class="cart__thing">Очищающее увлажняющее молочко (250 мл)</a>
									<ul class="cart__params">
										<li class="cart__params-item">
											<div class="cart__params-header">Цена:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Количество:</div>
											<div class="cart__params-desc">1</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Скидка:</div>
											<div class="cart__params-desc">-</div>
										</li>
										<li class="cart__params-item">
											<div class="cart__params-header">Сумма:</div>
											<div class="cart__params-desc">2175 р.</div>
										</li>
									</ul>
								</div>
								<button type="button" class="cart__item-remove">
									<svg class="icon icon-close">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
							</div>
						</li>
					</ul>
					<div class="cart__total-price">
						<span class="cart__total-price-desc">Итого:</span>
						<span class="cart__total-price-number">2 175 р.</span>
					</div>
					<div class="cart__bottom">
						<div class="cart__bottom-item">
							<a href="#" class="button cart__button">Перейти в корзину</a>
							<div class="cart__desc">изменить кол-во
								<br>
								и использовать промо-код</div>
						</div>
						<div class="cart__bottom-item">
							<a href="#" class="button cart__button">Оформить заказ</a>
							<div class="cart__desc">выбрать способ
								<br>
								доставки и оплатить</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>