{% extends 'templates/page-404.twig' %}
{% block title %}404{% endblock %}
{% block page %}
	<footer class="page-footer page-footer--404">
		<div class="page-footer__head">
			<div class="container">
				<a href="index.html" class="logo page-footer__logo"><img src="assets/img/logo.png" alt=""></a>
				<div class="page-footer__head-404">Страница не найдена</div>
				<div class="page-footer__desc-404">Неправильно набран адрес или такой страницы нет на сайте.</div>
			</div>
		</div>
		<div class="container">
			<div class="page-footer__content">
				<div class="page-footer__item  page-footer__item--list-double js-accordion js-accordion-mobile">
					<div class="page-footer__list-container js-accordion-item">
						<div class="page-footer__header">
							О компании
							<button type="button" class="js-accordion-btn page-footer__accordion-btn">
								<svg class="icon icon-chevron-down">
									<use xlink:href="#icon-chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="page-footer__list js-accordion-content">
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">О компании</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Как заказать?</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Способы оплаты</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Способы доставки</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Контакты</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Возврат</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Договор оферта</a>
							</li>
						</ul>
					</div>
					<div class="page-footer__list-container js-accordion-item">
						<div class="page-footer__header">
							Продукция
							<button type="button" class="js-accordion-btn page-footer__accordion-btn">
								<svg class="icon icon-chevron-down">
									<use xlink:href="#icon-chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="page-footer__list js-accordion-content">
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Препараты
									<br>
									ELDAN Cosmetics</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Препараты
									<br>
									MesoSet</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Расходные материалы</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Декоративная
									<br>
									косметика</a>
							</li>
							<li class="page-footer__list-item">
								<a href="#" class="page-footer__list-link">Подарочные наборы</a>
							</li>
						</ul>
						<button type="button" class="button page-footer__button">Акции</button>
					</div>
				</div>
				<div class="page-footer__item  page-footer__item--list-center">
					<ul class="page-footer__advantages-list">
						<li class="page-footer__advantages-list-item">
							<a href="#" class="page-footer__advantages-link">
								<div class="page-footer__advantages-img">
									<img class="page-footer__advantages-list-img" src="assets/img/checklist.png" alt="">
									<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/checklist--hover.png" alt="">
								</div>
								<div class="page-footer__advantages-desc">При регистрации
									<br>
									скидка 3%</div>
							</a>
						</li>
						<li class="page-footer__advantages-list-item">
							<a href="#" class="page-footer__advantages-link">
								<div class="page-footer__advantages-img">
									<img class="page-footer__advantages-list-img" src="assets/img/car-check.png" alt="">
									<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/car-check--hover.png" alt="">
								</div>
								<div class="page-footer__advantages-desc">Как получить
									<br>
									бесплатную доставку</div>
							</a>
						</li>
						<li class="page-footer__advantages-list-item">
							<a href="#" class="page-footer__advantages-link">
								<div class="page-footer__advantages-img">
									<img class="page-footer__advantages-list-img" src="assets/img/cosmetic.png" alt="">
									<img class="page-footer__advantages-list-img page-footer__advantages-list-img--hover" src="assets/img/cosmetic--hover.png" alt="">
								</div>
								<div class="page-footer__advantages-desc">О косметике</div>
							</a>
						</li>
					</ul>
					<button type="button" data-popup-selector="js-popup-email" class="email-sub js-popup-email-open  page-footer__email-sub">
						<div class="email-sub__icon">
							<svg class="icon" viewbox="0 0 79 36" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
								<clippath id="a">
									<path d="M0 0h78.508v35.778H0z"></path>
								</clippath>
								<g clip-path="url(#a)" fill="none" stroke="currentColor" stroke-width="1.5">
									<path d="M73.978 35.028H33.64c-2.078 0-3.78-1.7-3.78-3.78V4.53c0-2.08 1.702-3.78 3.78-3.78H73.98c2.08 0 3.78 1.7 3.78 3.78v26.718c0 2.08-1.7 3.78-3.78 3.78z"></path>
									<path d="M34.588 7.5l19.8 15.484L72.664 7.5M46.773 17.908L34.715 29.71M61.115 17.908L73.173 29.71M.75 8.89H21M5.75 17.89H21M9.75 26.89H21"></path>
								</g>
							</svg>
						</div>
						<div class="email-sub__desc">Подпишись
							<br>
							на рассылку</div>
					</button>
					<div class="page-footer__desc-small">акции, новинки продукции, новости из мира косметологии</div>
				</div>
				<div class="page-footer__404-bg-img">
					<img src="assets/img/404-bg.jpg" alt="">
				</div>
				<div class="page-footer__item  page-footer__item--list-contact">
					<ul class="page-footer__404-contact-list">
						<li class="page-footer__404-contact-li">
							<div class="page-footer__404-contact-item">
								<select name="404-city-list" id="" class="select js-select page-footer__select">
									<option value="">Москва</option>
									<option value="">Санкт-Петербург</option>
								</select>
							</div>
						</li>
						<li class="page-footer__404-contact-li">
							<div class="page-footer__404-contact-item">
								<a href="tel:+74952590108" class="page-footer__phone">+7 495 259-01-08</a>
								<p class="page-footer__address">10:00 - 18:30</p>
							</div>
						</li>
						<li class="page-footer__404-contact-li">
							<div class="page-footer__404-contact-item">
								<ul class="social-list page-footer__social-list">
									<li class="social-list__item">
										<img class="social-list__img" src="assets/img/facebook.png" alt="">
										<img class="social-list__img social-list__img--hover" src="assets/img/facebook--hover.png" alt="">
									</li>
									<li class="social-list__item">
										<img class="social-list__img" src="assets/img/vk.png" alt="">
										<img class="social-list__img social-list__img--hover" src="assets/img/vk--hover.png" alt="">
									</li>
									<li class="social-list__item">
										<img class="social-list__img" src="assets/img/instagram.png" alt="">
										<img class="social-list__img social-list__img--hover" src="assets/img/instagram--hover.png" alt="">
									</li>
								</ul>
							</div>
						</li>
						<li class="page-footer__404-contact-li">
							<div class="page-footer__404-contact-item">
								<p class="page-footer__address">107023, ул. Бол. Семеновская д. 40 Бизнес-центр "Агат", офис 114</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-footer__bottom">
				<div class="page-footer__copy">
					© 2019 «Астарта» — интернет-магазин ELDAN Cosmetics, препаратов MesoSet и расходных материалов.
				</div>
				<a href="#" class="page-footer__by">
					Разработка и поддержка сайта —
					<span>MINISOL</span>
				</a>
			</div>
		</div>
	</footer>
{% endblock %}