{% extends 'templates/page.twig' %}
{% block title %}О косметике{% endblock %}
{% block page %}
	<div class="container">
		<h1 class="h1">О косметике</h1>
		<p>Уважаемые коллеги! Дорогие друзья!</p>

		<p>ELDAN Cosmetics – профессиональная косметическая продукция. Препараты марки содержат высокие концентрации активных веществ и в первую очередь адресованы специалистам-профессионалам: косметологам, врачам, косметологам-эстетистам для проведения
			профессиональных уходов. Препараты домашней линии ELDAN Cosmetics должны назначаться специалистами - косметологами, прошедшими обучение по профессиональной линии ELDAN и имеющими соответствующий диплом или после консультации со специалистами компании
			АСТАРТА. Обращаем внимание, что при неправильном самостоятельном применении препараты могут не оказать желаемого результата. Информация о препаратах, размещенная на сайте носит справочный характер и является недостаточной для самостоятельного подбора
			средств ухода.</p>

		<p>Мы настоятельно рекомендуем приобретать препараты ELDAN Cosmetics в компании АСТАРТА - представителя марки в России, а также у официальных региональных дистрибьюторов и компаний-партнеров, список которых приведен на сайте www.eldancosmetics.ru в
			разделе «Контакты».</p>

		<p>При использовании косметических средств необходимо соблюдать следующие правила:</p>

		<p>Хранить косметические средства необходимо в темном прохладном месте или при комнатной температуре, вдали от отопительных приборов, избегать попадания прямых солнечных лучей. В холодных местах хранить продукцию ELDAN не рекомендуется, за
			исключением препаратов, в аннотации по применению к которым есть на это указания. После каждого применения препарат должен быть закрыт крышкой и, при наличии, защитной мембраной. При использовании косметических кремов или масок, упакованных в банки,
			необходимо пользоваться косметическим шпателем или специализированной лопаточкой.</p>

		<p>Вскрытая упаковка должна быть использована в течение срока, заявленного на препарате – значок «открытая банка» с указанием срока хранения открытого препарата в месяцах, размещенный на упаковочной коробке или непосредственно флаконе или банке.
			Желательно полностью использовать открытый препарат, не дожидаясь окончания максимального срока использования, т.к. длительно хранящиеся открытые препараты могут терять свои свойства.</p>

		<p>Обращаем Ваше внимание, что концентрация отдушки препаратов может меняться от партии к партии. А незначительное отделение жидкости в продукте не является признаком его нестабильности. По всем остальным вопросам мы просим Вас связаться с
			менеджерами офисов.</p>
	</div>
{% endblock %}