{% extends 'templates/page.twig' %}
{% block title %}О компании{% endblock %}
{% block pageMainMod %}page-main--no-pdt{% endblock %}
{% block page %}
	<section class="bg-block js-adaptive-bg" data-bg-mobile="assets/img/bg-block--mobile.jpg" data-bg-horizontal-tablet="assets/img/bg-block--tablet.jpg" data-bg-desktop="assets/img/bg-block--desktop.jpg">
		<img class="bg-block__img" src="assets/img/bg-block--desktop.jpg" alt="">
		<div class="container bg-block__container">
			<div class="bg-block__content">
				<img src="assets/img/astarta.jpg" alt="" class="bg-block__logo">
				<p class="bg-block__desc">«Астарта — это не просто интернет-магазин, это компания с десятилетней историей, которая поддерживает и развивает косметологию в нашей стране. Астарта является официальным представителем швейцарской компании ELDAN Cosmetics,
					занимающейся производством профессиональной косметики».
				</p>
			</div>
		</div>
	</section>
	<section class="about-text">
		<div class="container about-text__container wow fadeInDown">
			<p class="about-text__p">
				«Группа компаний Астарта» — российская компания, основанная в 1996 г. Она включает в себя ООО "ТД Астарта", ООО "Косметик Хаус", офис Астарта в Санкт-Петербурге и интернет-магазин
				<a href="#">www.astarte.ru.</a>
			</p>
			<p class="about-text__p">
				С 2000 года мы являемся эксклюзивным представителем итало-швейцарской косметики ELDAN cosmetics на российском рынке.
			</p>
			<p class="about-text__p">
				Компания имеет два офиса — в Москве и Санкт-Петербурге, связанных в единую сеть, что дает возможность быстро и качественно обслуживать дилеров, косметологов и розничных покупателей по всей стране.
			</p>
			<p class="about-text__p">
				Тесные связи со Швейцарской лабораторией и заводом в Италии позволяют нам мгновенно реагировать на запросы потребителей и выводить на российский рынок все новейшие мировые разработки, а также избегать перебоев в поставках и длительного отсутствия на
				нашем складе необходимой продукции.
			</p>
			<p class="about-text__p">
				Компания проводит бесплатные курсы косметологов и региональные семинары. Мы предоставляет своим клиентам пробники продукции и проводим консультации в режиме «горячей линии». Это исключает ошибки в использовании препаратов и максимально увеличивает
				эффект их применения.
			</p>
			<p class="about-text__p">
				Все наши менеджеры, без исключения, имеют высшее биологическое образование и без труда ответят на самые сложные вопросы самых привередливых клиентов.
			</p>
			<p class="about-text__p">
				Все специалисты, проводящие обучение, являются практикующими косметологами или преподавателями обучающих центров. Это дает возможность добиться максимальной независимости и объективности при изложении материала и взглянуть на проблемы с разных
				сторон.
			</p>
		</div>
	</section>
	<section class="brand-slider wow fadeInDown">
		<div class="container brand-slider__container">
			<div class="brand-slider__desc">Бренды официально предствленные в нашем магазине</div>
			<div class="brand-slider__list-wrap">
				<div class="brand-slider__list js-brand-slider">
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
				</div>
				<button class="brand-slider__arrow brand-slider__arrow--prev js-brand-arr-prev" type="button"></button>
				<button class="brand-slider__arrow brand-slider__arrow--next js-brand-arr-next" type="button"></button>
			</div>
		</div>
	</section>
	<section class="contact wow fadeInDown" id="contact">
		<div class="container contact__container">
			<div class="h1 center contact__header">Контакты</div>
			<div class="contact__head">
				<div class="tabs contact__tabs">
					<ul class="tabs__list">
						<li class="tabs__li active" data-tabclass="js-contact-tab-content" data-tabnumber="contact__item--moscow">
							<button type="button" class="tabs__button">
								<span class="tabs__button-text">Москва</span></button>
						</li>
						<li class="tabs__li" data-tabclass="js-contact-tab-content" data-tabnumber="contact__item--spb">
							<button type="button" class="tabs__button">
								<span class="tabs__button-text">Санкт-Петербург</span></button>
						</li>
					</ul>
				</div>
				<button type="button" class="feedback-send contact__feedback-send js-animation-target" data-animation-selector="page-header__feedback-form" data-animation-start="fadeInDown" data-animation-end="fadeOutUp">
					<img src="assets/img/email-big.png" alt="" class="feedback-send__img">
					<span class="feedback-send__desc">Отправить сообщение</span>
				</button>
			</div>
			<ul class="contact__content js-contact-tab-content">
				<li class="contact__item tabs__item active" data-tabnumber="contact__item--moscow">
					<div class="map contact__map">
						<script
							type="text/javascript"
							charset="utf-8"
							async="async"
							src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A48194107f9642b5c23924893b8c31314a19bbd6dad1adb1075b5b43284ac1a71&amp;width=100%25&amp;height=370&amp;lang=ru_RU&amp;scroll=false"></script>
					</div>
					<div class="contact__user-text">
						<p>
							Адрес: 107023, Москва, Большая Семёновская, дом 40, стр. 1&nbsp;<br>
							<br>
							Бизнес-центр "Агат", офис № 114
							<br>
							<br>
							<br>
							<strong>Время работы офиса:</strong>
							<br>
							<br>
							Понедельник – пятница: с 10:00 до 18:30
							<br>
							<br>
							Суббота: с 10 до 18 (с сентября по май)
						</p>
						<p>
							Воскресенье: выходной
							<br>
							<br>
							<br>
							<strong>Телефоны:</strong>
							<br>
							<br>
							+7 (495) 259-01-08 (тел/факс)
							<br>
							<br>
							+7 (495) 768-47-35
							<br>
							<br>
							+7 (915) 016-81-53
							<br>
							<br>
							<br>
							<strong>Отдел продаж Москва и МО:
								<a href="mailto:astarta_msk@mail.ru">astarta_msk@mail.ru</a>
							</strong>
							<br>
							<br>
							<strong>Отдел продаж Регионы:
								<a href="mailto:astarta_region@mail.ru">astarta_region@mail.ru</a>
							</strong>
							<br>
							<br>
							<strong>Как до нас добраться:</strong>
							<br>
							<br>
							Доехать до станции метро "Электрозаводская", первый вагон из центра. Идите в сторону "Макдоналдса" по ул. Большая Семеновская по ходу движения транспорта до конца территории университета МАМИ. Вы увидете трехэтажное офисное здание коричневого цвета.
							На территории бизнес-центра действует пропускная система. Пожалуйста, заранее сообщите нам о своем визите. Для получения пропуска необходимо предъявить документ, удостоверяющий личность. После бюро пропусков вы попадаете во внутренний двор. Перед
							вами будут двери первого подъезда первого корпуса. До конца по коридору, последняя дверь направо, офис&nbsp;114.
						</p>
						<h3>Реквизиты</h3>
						<table class="contact__table">
							<tbody>
								<tr>
									<td>
										Полное наименование:
									</td>
									<td>
										Общество с ограниченной ответственностью «Косметик Хаус»
									</td>
								</tr>
								<tr>
									<td>
										Сокращённое наименование:
									</td>
									<td>
										ООО «Косметик Хаус»
									</td>
								</tr>
								<tr>
									<td>
										Юридический адрес:
									</td>
									<td>
										107023, г. Москва, ул. Большая Семёновская, д. 40, стр. 1
									</td>
								</tr>
								<tr>
									<td>
										Фактический адрес:
									</td>
									<td>
										107023, г. Москва, ул. Большая Семёновская, д. 40, стр. 1 Бизнес-центр «Агат», офис № 114
									</td>
								</tr>
								<tr>
									<td>
										Телефон:
									</td>
									<td>
										+7 (915)-078-23-02
									</td>
								</tr>
								<tr>
									<td>
										ИНН/КПП:
									</td>
									<td>
										7719474411 /&nbsp;771901001
									</td>
								</tr>
								<tr>
									<td>
										ОКПО:
									</td>
									<td>
										20463430&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										ОГРН:
									</td>
									<td>
										5177746291806&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										Код отрасли по ОКВЭД:
									</td>
									<td>
										47.75 , 46.45 , 46. 49.4, 47.19&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										Код отрасли по ОКПО:
									</td>
									<td>
										20463430&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										Директор:
									</td>
									<td>
										Колтышев Борис Николаевич
									</td>
								</tr>
								<tr>
									<td>
										Главный бухгалтер:
									</td>
									<td>
										Ларкина Ольга Викторовна
									</td>
								</tr>
								<tr>
									<td>
										Банк:
									</td>
									<td>
										АО « Райффайзенбанк » г. Москва&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										Расчётный счёт:
									</td>
									<td>
										40702810400000061693&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										Корреспондентский счёт:
									</td>
									<td>
										30101810200000000700&nbsp;&nbsp;<br>
									</td>
								</tr>
								<tr>
									<td>
										БИК:
									</td>
									<td>
										044525700&nbsp;&nbsp;<br>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li class="contact__item tabs__item" data-tabnumber="contact__item--spb">
					<div class="map contact__map">
						<script
							type="text/javascript"
							charset="utf-8"
							async="async"
							src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A48194107f9642b5c23924893b8c31314a19bbd6dad1adb1075b5b43284ac1a71&amp;width=100%25&amp;height=370&amp;lang=ru_RU&amp;scroll=false"></script>
					</div>
					<div class="contact__user-text">
						<p>
							Адрес: 196084, Санкт-Петербург, Московский проспект, д.103 корп.3,
							<br>
							<br>
							офис 211 (2 этаж)
							<br>
							<br>
							<br>
							<strong>Время работы офиса:</strong>
							<br>
							<br>
							Понедельник – пятница: с 10:30 до 19:00
							<br>
							<br>
							Суббота: с 11 до 19 (с сентября по май)
							<br>
							<br>
							Воскресенье: выходной
							<br>
							<br>
							<br>
							<strong>Телефоны:</strong>
							<br>
							<br>
							+7 (812) 718-54-80 (тел/факс)
							<br>
							<br>
							+7 (812) 373-30-88
							<br>
							<br>
							<br>
							<strong>Эл. почта:
								<a href="mailto:astarta_spb@mail.ru">astarta_spb@mail.ru</a>
							</strong>
							<br>
							<br>
							<br>
							<strong>Как до нас добраться:</strong>
							<br>
							<br>
							"Доехать до&nbsp;м. "Московские ворота". При выходе из метро сразу повернуть налево, пройти 100 метров за здание метрополитена.&nbsp;Впереди увидите парковку и 3-х этажный бизнес-центр ТорА. Вход на территорию БЦ со стороны парковки. Подняться на 2-й
							этаж, офис 211."<br>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="advantages">
		<div class="container advantages__container">
			<ul class="advantages__list">
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/car-check.png" alt="" class="advantages__img">
							<img src="assets/img/car-check--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Доставка по всей России</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/checklist.png" alt="" class="advantages__img">
							<img src="assets/img/checklist--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">При регистрации скидка 3%</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/delivery-man.png" alt="" class="advantages__img">
							<img src="assets/img/delivery-man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Бесплатная доставка</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/man.png" alt="" class="advantages__img">
							<img src="assets/img/man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Консультация специалистов</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}