{% extends 'templates/page.twig' %}
{% block title %}Акции{% endblock %}
{% block page %}
	<div class="container">
		<h1 class="h1 h1--sale">Акции
			<button type="button" data-popup-selector="js-popup-email" class="email-sub js-popup-email-open">
				<div class="email-sub__icon">
					<svg class="icon" viewbox="0 0 79 36" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
						<clippath id="a">
							<path d="M0 0h78.508v35.778H0z"></path>
						</clippath>
						<g clip-path="url(#a)" fill="none" stroke="currentColor" stroke-width="1.5">
							<path d="M73.978 35.028H33.64c-2.078 0-3.78-1.7-3.78-3.78V4.53c0-2.08 1.702-3.78 3.78-3.78H73.98c2.08 0 3.78 1.7 3.78 3.78v26.718c0 2.08-1.7 3.78-3.78 3.78z"></path>
							<path d="M34.588 7.5l19.8 15.484L72.664 7.5M46.773 17.908L34.715 29.71M61.115 17.908L73.173 29.71M.75 8.89H21M5.75 17.89H21M9.75 26.89H21"></path>
						</g>
					</svg>
				</div>
				<div class="email-sub__desc">Подпишись
					<br>
					на рассылку</div>
			</button>
		</h1>
	</div>
	<section class="sales">
		<div class="container sales__container">
			<ul class="sales__list">
				<li class="sales__li">
					<div class="sales__item">
						<a href="#" class="sales__img-box"><img src="assets/img/sales__1.jpg" alt=""></a>
						<div class="sales__content">
							<a href="#" class="sales__header">Купоны на май с дополнительной скидкой</a>
							<div class="sales__text">Покупай в апреле и применяй купоны в мае!</div>
							<a href="#" class="sales__button button" type="button">Узнать больше</a>
						</div>
					</div>
				</li>
				<li class="sales__li">
					<div class="sales__item">
						<a href="#" class="sales__img-box"><img src="assets/img/sales__2.jpg" alt=""></a>
						<div class="sales__content">
							<a href="#" class="sales__header">Дополнительная скидка на препараты по телу</a>
							<div class="sales__text">Готовимся к лету!</div>
							<a href="#" class="sales__button button" type="button">Узнать больше</a>
						</div>
					</div>
				</li>
				<li class="sales__li">
					<div class="sales__item">
						<a href="#" class="sales__img-box"><img src="assets/img/sales__3.jpg" alt=""></a>
						<div class="sales__content">
							<a href="#" class="sales__header">Подарки от суммы покупки в апреле</a>
							<div class="sales__text">В апреле при покупке препаратов ELDAN получаешь подарок!</div>
							<a href="#" class="sales__button button" type="button">Узнать больше</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}