{% extends 'templates/page.twig' %}
{% block title %}Корзина{% endblock %}
{% block page %}
	<div class="container">
		<div class="h1">
			<h1 class="h1">Оформление заказа</h1>
		</div>
	</div>
	<section class="cart-order">
		<div class="container cart-order__container">
			<div class="cart-order__title">Корзина</div>
			<table class="cart-order__table">
				<thead class="cart-order__thead">
					<tr class="cart-order__tr cart-order__tr--head">
						<td class="cart-order__td cart-order__td--head cart-order__td--name">Наименование</td>
						<td class="cart-order__td cart-order__td--head cart-order__td--value cart-order__td--quantity">Кол-во</td>
						<td class="cart-order__td cart-order__td--head cart-order__td--price">Скидка</td>
						<td class="cart-order__td cart-order__td--head cart-order__td--quantity">Сумма</td>
						<td class="cart-order__td cart-order__td--head cart-order__td--remove"></td>
					</tr>
				</thead>
				<tbody class="cart-order__tbody">
					<tr class="cart-order__tr">
						<td class="cart-order__td">
							<div class="cart-order__info">
								<a href="#" class="cart-order__img-box"><img src="assets/img/cart-order__1.jpg" alt="" class="cart-order__img"></a>
								<div class="cart-order__content">
									<a href="#" class="cart-order__name">Маска оживляющая</a>
									<div class="cart-order__articul">арт. ELD-25</div>
									<ul class="cart-order__params-list">
										<li class="cart-order__params-li">
											<div class="cart-order__key">Обьём:</div>
											<div class="cart-order__value">200 мл</div>
										</li>
										<li class="cart-order__params-li">
											<div class="cart-order__key">Цена:</div>
											<div class="cart-order__value">1932 р</div>
										</li>
									</ul>
								</div>
							</div>
						</td>
						<td class="cart-order__td cart-order__td--quantity">
							<div class="counter cart-order__counter">
								<button type="button" class="counter__button counter__button--minus"></button>
								<input type="text" value="1 шт." class="counter__input">
								<button type="button" class="counter__button counter__button--plus"></button>
							</div>
						</td>
						<td class="cart-order__td">3%</td>
						<td class="cart-order__td">3864 р</td>
						<td class="cart-order__td cart-order__td--remove">
							<button class="cart-order__remove" type="button">
								<svg class="icon icon-close">
									<use xlink:href="#icon-close"></use>
								</svg>
							</button>
						</td>
					</tr>
					<tr class="cart-order__tr">
						<td class="cart-order__td">
							<div class="cart-order__info">
								<a href="#" class="cart-order__img-box"><img src="assets/img/cart-order__2.jpg" alt="" class="cart-order__img"></a>
								<div class="cart-order__content">
									<a href="#" class="cart-order__name">Маска оживляющая</a>
									<div class="cart-order__articul">арт. ELD-25</div>
									<ul class="cart-order__params-list">
										<li class="cart-order__params-li">
											<div class="cart-order__key">Обьём:</div>
											<div class="cart-order__value">200 мл</div>
										</li>
										<li class="cart-order__params-li">
											<div class="cart-order__key">Цена:</div>
											<div class="cart-order__value">1932 р</div>
										</li>
									</ul>
								</div>
							</div>
						</td>
						<td class="cart-order__td cart-order__td--quantity">
							<div class="counter cart-order__counter">
								<button type="button" class="counter__button counter__button--minus"></button>
								<input type="text" value="1 шт." class="counter__input">
								<button type="button" class="counter__button counter__button--plus"></button>
							</div>
						</td>
						<td class="cart-order__td">3%</td>
						<td class="cart-order__td">3864 р</td>
						<td class="cart-order__td cart-order__td--remove">
							<button class="cart-order__remove" type="button">
								<svg class="icon icon-close">
									<use xlink:href="#icon-close"></use>
								</svg>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="cart-order__table cart-order__table--total">
				<tbody class="cart-order__tbody">
					<tr class="cart-order__tr">
						<td class="cart-order__td">ИТОГО:</td>
						<td class="cart-order__td">1 шт.</td>
						<td class="cart-order__td">3 393 р.</td>
					</tr>
					<tr class="cart-order__tr">
						<td class="cart-order__td">С учётом скидки:</td>
						<td class="cart-order__td">1 шт.</td>
						<td class="cart-order__td">3 291, 21 р.</td>
					</tr>
				</tbody>
			</table>
			<div class="cart-order__bottom">
				<form class="promocode js-promocode cart-order__promocode js-promocode">
					<div class="promocode__input-box">
						<input type="text" class="form-elem promocode__input js-promocode-input" placeholder="Введите промо-код">
						<button type="button" class="promocode__reset js-promocode-reset">
							<svg class="icon icon-close">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>
					<div class="button promocode__button">
						<button type="submit" class="promocode__text">Применить</button>
					</div>
				</form>
				<a href="#" class="button cart-order__next-step">Оформить заказ</a>
				<div class="cart-order__get-back-wrapper">
					<a href="#" class="cart-order__get-back">
						<svg class="icon icon-chevron-left">
							<use xlink:href="#icon-chevron-left"></use>
						</svg>
						Продолжить покупки</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}