{% extends 'templates/page.twig' %}
{% block title %}Товар{% endblock %}
{% block page %}
	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Главная</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Продукция</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Препараты ELDAN Cosmetics</a>
				</li>
			</ul>
		</div>
	</section>
	<div class="container"></div>
	<section class="catalog-elem">
		<div class="container catalog-elem__container">
			<h1 class="h1 catalog-elem__h1">
				<a href="#" class="catalog-elem__h1-icon">
					<svg class="icon icon-chevron-left">
						<use xlink:href="#icon-chevron-left"></use>
					</svg>
				</a>
				Очищающее увлажняющее молочко
			</h1>
			<h2 class="h2 catalog-elem__title">Moisturizing cleanser</h2>
			<div class="catalog-elem__wrapper">
				<div class="catalog-elem__img-box">
					<div class="catalog-elem__slider js-catalog-elem-slider">
						<div class="catalog-elem__slide"><img src="assets/img/catalog-elem__1.jpg" alt="" class="catalog-elem__img"></div>
						<div class="catalog-elem__slide"><img src="assets/img/catalog-elem__1.jpg" alt="" class="catalog-elem__img"></div>
						<div class="catalog-elem__slide"><img src="assets/img/catalog-elem__1.jpg" alt="" class="catalog-elem__img"></div>
					</div>
					<div class="catalog-elem__dots"></div>
				</div>
				<div class="catalog-elem__content">
					<div class="catalog-elem__articul">Артикул: ELD-01</div>
					<form class="catalog-elem__form" action="">
						<ul class="catalog-elem__params">
							<li class="catalog-elem__params-item">
								<div class="catalog-elem__price">2 175 р.</div>
								<div class="counter catalog-elem__counter">
									<button type="button" class="counter__button counter__button--minus"></button>
									<input type="text" value="1 шт." class="counter__input">
									<button type="button" class="counter__button counter__button--plus"></button>
								</div>
							</li>
							<li class="catalog-elem__params-item">
								<div class="catalog-elem__value">
									<svg class="icon icon-bottle-mg catalog-elem__value-icon">
										<use xlink:href="#icon-bottle-mg"></use>
									</svg>
									250 мл
								</div>
								<button type="button" class="button catalog-elem__button">В корзину</button>
							</li>
						</ul>
					</form>
					<ul class="catalog-elem__tabs">
						<li class="catalog-elem__tabs-li active" data-tabclass="js-catalog-elem-content" data-tabnumber="description">
							<button type="button" class="catalog-elem__tab">Описание</button>
						</li>
						<li class="catalog-elem__tabs-li" data-tabclass="js-catalog-elem-content" data-tabnumber="practice">
							<button type="button" class="catalog-elem__tab">Применение</button>
						</li>
					</ul>
					<ul class="catalog-elem__content js-catalog-elem-content">
						<li class="catalog-elem__content-li active" data-tabnumber="description">
							<div class="catalog-elem__content-item">
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Зона применения:</div>
									<div class="catalog-elem__desc">Лицо</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Для кожи:</div>
									<div class="catalog-elem__desc">cухая, комбинированная, нормальная</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Возраст:</div>
									<div class="catalog-elem__desc">без ограничений</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Активные ингредиенты:</div>
									<div class="catalog-elem__desc">миндальное масло, экстракт мальвы</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Описание:</div>
									<div class="catalog-elem__desc">Средство для демакияжа и очищения нормальной, комбинированной и сухой кожи лица. Бережно устраняет загрязнения, подготавливая кожу к последующим этапам ухода. Входящий в состав экстракт мальвы, обладает заживляющим
										действием, успокаивает, насыщает кожу витаминами А, Е и С. Молочко превосходно увлажняет, смягчает, снимает раздражение и шелушение, глубоко очищает, не повреждая липидный слой. Оставляет на лице ощущение свежести и чистоты.
									</div>
								</div>
							</div>
						</li>
						<li class="catalog-elem__content-li" data-tabnumber="practice">
							<p>
								Нанести небольшое количество молочка на кожу лица и шеи, помассировать легкими массажными движениями, смыть водой.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="services wow fadeInDown">
		<div class="container services__container">
			<ul class="services__list">
				<li class="services__li">
					<div class="services__item">
						<div class="services__header">
							<div class="services__header-text">Доставка</div>
							<a href="#" class="services__link">Подробнее</a>
						</div>
						<div class="services__desc">Осуществляется по всей России.</div>
						<ul class="services__item-list">
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-cart">
										<use xlink:href="#icon-cart"></use>
									</svg>
								</div>
								<div class="services__text">
									<b>Самовывоз
									</b>
									в Москве и Санкт-Петербурге —
									<b>
										Бесплатно</b>
								</div>
							</li>
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-car-check">
										<use xlink:href="#icon-car-check"></use>
									</svg>
								</div>
								<div class="services__text">
									<b>Бесплатная доставка</b>
									по Москве (в пределах МКАД) при заказе от 3 000 р.</div>
							</li>
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-car-check">
										<use xlink:href="#icon-car-check"></use>
									</svg>
								</div>
								<div class="services__text">
									<b>Бесплатная доставка по Санкт-Петербургу</b>
									при заказе от 6 000 р. В удаленные от метро районы и ближайшие пригороды от 12 000 р.</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="services__li">
					<div class="services__item">
						<div class="services__header">
							<div class="services__header-text">Оплата</div>
							<a href="#" class="services__link">Подробнее</a>
						</div>
						<ul class="services__item-list">
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-cash">
										<use xlink:href="#icon-cash"></use>
									</svg>
								</div>
								<div class="services__text">
									<b>Наличными</b>
									<br>
									при получении товара в офисе компании или из рук курьера
								</div>
							</li>
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-cards">
										<use xlink:href="#icon-cards"></use>
									</svg>
								</div>
								<div class="services__text">
									<b>Банковской картой:</b>
									<br>
									VISA, VISA Electron, MasterCard, Maestro.<br>
									<b>Во всех регионах, кроме Санкт-Петербурга и Ленинградской области.</b>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="services__li">
					<div class="services__item">
						<div class="services__header">
							<div class="services__header-text">Акции и скидки</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-doc-check">
										<use xlink:href="#icon-doc-check"></use>
									</svg>
								</div>
								<div class="services__text">
									При регистрации
									<br>
									<span class="services__big-text">скидка 3%</span>
								</div>
								<a href="#" class="button services__button">Зарегистрироваться</a>
							</li>
							<li class="services__item-li">
								<div class="services__icon">
									<svg class="icon icon-thumbs-up">
										<use xlink:href="#icon-thumbs-up"></use>
									</svg>
								</div>
								<div class="services__text">
									<span class="services__big-text">Специальные предложения</span>
									<br>
									этого месяца
								</div>
								<a href="#" class="button services__button">Смотреть</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="catalog-short wow fadeInDown">
		<div class="container catalog-short__container">
			<div class="catalog-short__header catalog-short__header--line">
				<div class="catalog-short__desc">Препараты ELDAN Cosmetics</div>
			</div>
			<div class="catalog-short__list js-catalog-short-slider">
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая
										<br>
										Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__2.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
{% endblock %}