{% extends 'templates/page.twig' %}
{% block title %}Доставка и оплата{% endblock %}
{% block page %}
	<div class="container">
		<h1 class="h1">Оформление заказа</h1>
	</div>
	<section class="delivery">
		<div class="container delivery__container">
			<form action="" class="delivery__form" data-parsley-validate="">
				<div class="delivery__title">Доставка и оплата</div>
				<div class="delivery__content">
					<ul class="delivery__user-wrap">
						<li class="delivery__user-li"><input type="text" placeholder="Ваше имя*" class="form-elem" required=""></li>
						<li class="delivery__user-li"><input type="tel" placeholder="Телефон*" class="form-elem js-phone-mask" required=""></li>
					</ul>
					<div class="delivery__region-title">Выберите регион:</div>
					<ul class="delivery__region-list">
						<li class="delivery__region-list-li">
							<label class="radio-btn js-toggle-class">
								<input type="radio" class="radio-btn__input" name="delivery-region-list" required="required" checked="checked">
								<span class="radio-btn__icon"></span>
								<span class="radio-btn__desc">Москва и Московская обл.</span>
							</label>
						</li>
						<li class="delivery__region-list-li">
							<label class="radio-btn">
								<input type="radio" class="radio-btn__input" name="delivery-region-list" required="required">
								<span class="radio-btn__icon"></span>
								<span class="radio-btn__desc">Санкт-Петербург и Ленинградская обл.</span>
							</label>
						</li>
						<li class="delivery__region-list-li">
							<label class="radio-btn">
								<input type="radio" class="radio-btn__input" name="delivery-region-list" required="required">
								<span class="radio-btn__icon"></span>
								<span class="radio-btn__desc">Другой</span>
							</label>
						</li>
					</ul>
					<ul class="delivery__options-list">
						<li class="delivery__options-list-li">
							<div class="delivery__options-item">
								<div class="delivery__options-icon">
									<svg class="icon icon-cart">
										<use xlink:href="#icon-cart"></use>
									</svg>
								</div>
								<label class="radio-btn delivery__options-radio-btn">
									<input type="radio" class="radio-btn__input" name="delivery-variation" required="required">
									<span class="radio-btn__icon"></span>
									<span class="radio-btn__desc">Самовывоз</span>
								</label>
								<p>
									<b>г. Москва</b>
									<br>
									ул. Большая Семёновская, д. 40, Бизнес-центр “АГАТ” оф. 114.
								</p>
								<p>В московском офисе Вы можете расплатиться банковской картой следующих платежных систем: Visa, Visa Electron, MasterCard, Maestro.</p>
							</div>
						</li>
						<li class="delivery__options-list-li">
							<div class="delivery__options-item">
								<div class="delivery__options-icon">
									<svg class="icon icon-car-check">
										<use xlink:href="#icon-car-check"></use>
									</svg>
								</div>
								<label class="radio-btn delivery__options-radio-btn">
									<input type="radio" class="radio-btn__input" name="delivery-variation" required="required">
									<span class="radio-btn__icon"></span>
									<span class="radio-btn__desc">Курьером</span>
								</label>
								<p>
									<b>Условия бесплатной доставки:</b>
								</p>
								<ol class="buy-steps__numeric-list">
									<li class="buy-steps__numeric-list-li">
										<div class="buy-steps__numeric-list-title">по Москве (в пределах МКАД)</div>
										<ul class="buy-steps__text-list">
											<li class="buy-steps__text-list-li">для косметологов при заказе от 5 000 руб.</li>
											<li class="buy-steps__text-list-li">для клиентов при заказе от 3 000 руб.</li>
										</ul>
									</li>
									<li class="buy-steps__numeric-list-li">
										<div class="buy-steps__numeric-list-title">по Москве и МО (за МКАД менее 20 км)</div>
										<ul class="buy-steps__text-list">
											<li class="buy-steps__text-list-li">для косметологов при заказе от 7 000 руб.</li>
											<li class="buy-steps__text-list-li">для клиентов при заказе от 5 000 руб.</li>
										</ul>
									</li>
									<li class="buy-steps__numeric-list-li">
										<div class="buy-steps__numeric-list-title">по Москве и МО (за МКАД более 20 км)</div>
										<ul class="buy-steps__text-list">
											<li class="buy-steps__text-list-li">для косметологов при заказе от 10 000 руб.</li>
											<li class="buy-steps__text-list-li">для клиентов при заказе от 8 000 руб.</li>
										</ul>
									</li>
								</ol>
								<a href="#" class="delivery__options-link">Продолжить покупки?</a>
							</div>
						</li>
						<li class="delivery__options-list-li">
							<ul class="delivery__vertical-list">
								<li class="delivery__vertical-list-li delivery__vertical-list-li--60">
									<div class="delivery__options-item">
										<div class="delivery__options-icon">
											<svg class="icon icon-boxberry-black">
												<use xlink:href="#icon-boxberry-black"></use>
											</svg>
											<div class="delivery__options-icon-text">Доставка Boxberry</div>
										</div>
										<div class="delivery__text-item">
											<label class="radio-btn delivery__options-radio-btn">
												<input type="radio" class="radio-btn__input" name="delivery-variation" required="required">
												<span class="radio-btn__icon"></span>
												<span class="radio-btn__desc">Доставка до пункта выдачи</span>
											</label>
											<a href="#" class="delivery__options-link">Выбрать пункт выдачи на карте</a>
											<p>Стоимость доставки Boxberry: 214,28 р.</p>
										</div>
										<div class="delivery__text-item">
											<label class="radio-btn delivery__options-radio-btn">
												<input type="radio" class="radio-btn__input" name="delivery-variation" required="required">
												<span class="radio-btn__icon"></span>
												<span class="radio-btn__desc">Доставка до пункта выдачи (без н.платежа)</span>
											</label>
											<a href="#" class="delivery__options-link">Выбрать пункт выдачи на карте</a>
											<p>Стоимость доставки Boxberry: 214,28 р.</p>
										</div>
									</div>
								</li>
								<li class="delivery__vertical-list-li delivery__vertical-list-li--40">
									<div class="delivery__options-item">
										<div class="delivery__options-icon">
											<svg class="icon icon-startup">
												<use xlink:href="#icon-startup"></use>
											</svg>
										</div>
										<label class="radio-btn delivery__options-radio-btn">
											<input type="radio" class="radio-btn__input" name="delivery-variation" required="required">
											<span class="radio-btn__icon"></span>
											<span class="radio-btn__desc">Другой вариант</span>
										</label>
										<p>Условия доставки согласуются с менеджером интернет-магазина при подтверждении заказа.</p>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="pay">
					<div class="pay__title">Укажите адрес:</div>
					<ul class="pay__list">
						<li class="pay__li pay__li--6">
							<label class="pay__item">
								<div class="pay__select-wrap">
									<select name="pay__city" id="" class="select js-select pay__select">
										<option value="" class="select__option">г.</option>
										<option value="" class="select__option">г.</option>
										<option value="" class="select__option">г.</option>
									</select>
									<input type="text" class="form-elem pay__form-elem pay__form-elem--stretch" placeholder="Населенный пункт" required="required">
								</div>
							</label>
						</li>
						<li class="pay__li pay__li--6">
							<label class="pay__item">
								<div class="pay__select-wrap">
									<select name="pay__city" id="" class="select js-select pay__select">
										<option value="" class="select__option">ул.</option>
										<option value="" class="select__option">ул.</option>
										<option value="" class="select__option">ул.</option>
									</select>
									<input type="text" class="form-elem pay__form-elem pay__form-elem--stretch" placeholder="Название" required="required">
								</div>
							</label>
						</li>
					</ul>
					<ul class="pay__list">
						<li class="pay__li pay__li--3">
							<label class="pay__item pay__item--desc">
								<span class="pay__desc">дом</span>
								<input type="text" class="form-elem pay__form-elem" required="required">
							</label>
						</li>
						<li class="pay__li pay__li--3">
							<label class="pay__item pay__item--desc ">
								<span class="pay__desc">корп.</span>
								<input type="text" class="form-elem pay__form-elem" required="required">
							</label>
						</li>
						<li class="pay__li pay__li--3">
							<label class="pay__item pay__item--desc">
								<span class="pay__desc">стр.</span>
								<input type="text" class="form-elem pay__form-elem" required="required">
							</label>
						</li>
						<li class="pay__li pay__li--3">
							<label class="pay__item pay__item--desc">
								<span class="pay__desc">кв.</span>
								<input type="text" class="form-elem pay__form-elem" required="required">
							</label>
						</li>
					</ul>
					<div class="pay__variant">
						<div class="pay__variant-title">Способ оплаты:</div>
						<label class="checkbox pay__checkbox">
							<input type="checkbox" class="checkbox__input js-checkbox-input" name="delivery__cash" checked="checked" required="required">
							<div class="checkbox__icon"></div>
							<div class="checkbox__desc">Наличными при получении</div>
						</label>
					</div>
					<textarea placeholder="Комментарий к заказу" class="form-elem form-elem--textarea pay__form-elem--textarea"></textarea>
					<div class="pay__check">
						<label class="checkbox pay__checkbox">
							<input type="checkbox" class="checkbox__input js-checkbox-input" name="delivery__accept-gate" checked="checked" required="required">
							<div class="checkbox__icon"></div>
							<div class="checkbox__desc">Я подтверждаю свое согласие с условиями договора оферты и даю согласие на обработку персональных данных</div>
						</label>
					</div>
					<ul class="pay__bottom-list">
						<li class="pay__bottom-li">
							<div class="pay__price">Итого:
								<span>3 864</span>
								р.</div>
						</li>
						<li class="pay__bottom-li">
							<div class="pay__bottom-desc">Без учёта
								<br>
								доставки</div>
						</li>
						<li class="pay__bottom-li">
							<button class="button pay__button" type="submit">Подтвердить заказ</button>
						</li>
						<li class="pay__bottom-li">
							<div class="pay__bottom-desc">и перейти к оплате</div>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</section>
{% endblock %}