{% extends 'templates/page.twig' %}
{% block title %}Разводящая{% endblock %}
{% block page %}
	{% set pagesList = {
		item0: '404',
		item1: 'about-cosmetics',
		item2: 'about',
		item3: 'action',
		item4: 'cart',
		item5: 'catalog-elem',
		item6: 'delivery-pay',
		item7: 'items-list',
		item8: 'main',
		item9: 'personal-account',
		item10: 'public-offer',
		item11: 'refunds',
		item12: 'steps-delivery-pay',
	} %}
	<div class="container">
		<ul>
			{% for item in pagesList %}
				<li>
					<a href="{{item}}.html">{{item}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}