{% extends 'templates/page.twig' %}
{% block title %}Каталог{% endblock %}
{% block page %}
	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Главная</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Продукция</a>
				</li>
			</ul>
		</div>
	</section>
	<div class="container">
		<h1 class="h1">Каталог продукции</h1>
	</div>
	<section class="container page-main__container">
		<aside class="page-main__aside aside js-aside">
			<ul class="aside__list js-accordion">
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<span class="aside__header-desc">Категория</span>
						</div>
						<ul class="link-list">
							<li class="link-list__item">
								<a href="#" class="link-list__link">Препараты ELDAN Cosmetics</a>
							</li>
							<li class="link-list__item">
								<a href="#" class="link-list__link">Препараты MesoSet</a>
							</li>
							<li class="link-list__item">
								<a href="#" class="link-list__link">Расходные материалы</a>
							</li>
							<li class="link-list__item">
								<a href="#" class="link-list__link">Декоративная косметика</a>
							</li>
							<li class="link-list__item">
								<a href="#" class="link-list__link">Подарочные наборы</a>
							</li>
							<li class="link-list__item">
								<a href="#" class="link-list__link">Подарочные наборы</a>
							</li>
							<!-- <li class="link-list__item"><a href="#" class="link-list__link">Спецпредложения</a></li> -->
						</ul>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Назначение</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Домашний уход</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Профессиональный уход</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Этапы ухода</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Антивозрастная терапия</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Антивозрастная пептидная терапия</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Антиоксиданты</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Кремы</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Маски</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Очищение</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Пилинги</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Препараты антивозрастной терапии</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Препараты для коррекции силуэта</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Сыворотки</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Терапия по телу</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Тонизация</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за глазами</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Серии косметики</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Age-Out Treatment»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Biothox Time»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Cellular Shock»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Ialuron Treatment»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Premium ECTA 40+»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">«Клеточная терапия»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Интенсивный уход</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Коррекция постакне «Aktivel»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Линия кремов</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Линия масок</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Мужской уход</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Очищение и тонизация</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Препараты для химического пилинга</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Препараты на основе витамина С</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Профилактика и осветление пигментации</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Серия 'Интенсивный лифтинг' с ДМАЭ</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Серия на основе АНА кислот</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Средства для массажа</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за губами</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за кожей с признаками купероза</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за областью глазного контура</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за проблемной кожей «Acnevect»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за телом</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за телом «Body SPA»</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Уход за чувствительной кожей на основе азулена</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item js-aside-slider-reset-parent">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Цена</button>
							<button type="button" class="aside__reset-btn js-aside-slider-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<div class="slider-range js-slider-range">
								<div class="slider-range__info">
									<div class="slider-range__desc">от</div>
									<input type="number" class="form-elem slider-range__input js-slider-range-values js-slider-range-value-min" value="0" data-value="0" min="0" max="7000" oninput="(validity.valid)||(value='6990');">
									<div class="slider-range__desc">до</div>
									<input type="number" class="form-elem slider-range__input js-slider-range-values js-slider-range-value-max" value="7000" data-value="7000" min="0" max="7000" oninput="(validity.valid)||(value='7000');">
									<div class="slider-range__desc slider-range__desc--currency">руб</div>
								</div>

								<div class="js-range-slider"></div>
							</div>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Зона применения</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Глаза</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Губы</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Лицо</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">Тело</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Возраст</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">20+</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">25+</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">30+</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">35+</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">40+</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
				<li class="aside__list-li js-checkbox-reset-item js-accordion-item active wow fadeInDown">
					<article class="aside__list-item">
						<div class="aside__header">
							<button type="button" class="aside__header-desc js-accordion-btn">Тип кожи</button>
							<button type="button" class="aside__reset-btn js-filter-reset">Сбросить</button>
							<button type="button" class="aside__header-triangle js-accordion-btn">
								<svg class="icon icon-chevron-up">
									<use xlink:href="#icon-chevron-up"></use>
								</svg>
							</button>
						</div>
						<div class="aside__item-content js-accordion-content">
							<ul class="checkbox-list">
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">сухая</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">жирная</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">комбинированная</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">нормальная</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">пигментированная</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">проблемная</div>
									</label>
								</li>
								<li class="checkbox-list__li">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input js-checkbox-input js-checkbox-filter">
										<div class="checkbox__icon"></div>
										<div class="checkbox__desc">чувствительная</div>
									</label>
								</li>
							</ul>
						</div>
					</article>
				</li>
			</ul>
			<div class="slider-range__filter js-slider-range-filter aside__filter">
				<span class="slider-range__filter-number">178</span>
				<button type="button" class="slider-range__filter-submit button">Показать</button>
			</div>
		</aside>
		<div class="page-main__content">
			<div class="page-main__header">
				<div class="page-main__header-item">
					<div class="select__container">
						<select class="select js-select" data-placeholder="по умолчанию">
							<option value=""></option>
							<option value="1">по высокой цене</option>
							<option value="2">по низкой цене</option>
							<option value="3">по названию</option>
						</select>
					</div>
				</div>
				<div class="page-main__header-item page-main__header-item--text-right">
					<label class="checkbox page-main__header-checkbox">
						<input type="checkbox" class="checkbox__input js-checkbox-input">
						<div class="checkbox__icon"></div>
						<div class="checkbox__desc">Автозагрузка</div>
					</label>
					<div class="pagination">
						<ul class="pagination__list">
							<li class="pagination__item active">
								<a href="#" class="pagination__link">1</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">2</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">3</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">4</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">5</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">...</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link">11</a>
							</li>
							<li class="pagination__item">
								<a href="#" class="pagination__link pagination__link--next">
									<svg class="icon icon-chevron-down">
										<use xlink:href="#icon-chevron-down"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<section class="catalog">
				<ul class="catalog__list">
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
								</li>
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__1.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая
											<br>
											Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__2.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__1.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
								</li>
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__1.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__2.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая
											<br>
											Маска оживляющая
											<br>
											Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__1.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__2.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая
											<br>
											Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
					<li class="catalog__li">
						<article class="card">
							<ul class="card__sale-list">
								<li class="card__sale-list-li">
									<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
								</li>
							</ul>
							<a href="#" class="card__img-container">
								<img class="card__img" src="assets/img/card__1.jpg" alt="">
							</a>
							<div class="card__content">
								<div class="card__content-item card__content-item--detail-info">
									<div class="card__head">
										<p class="card__header">Маска оживляющая</p>
										<p class="card__desc">арт. ELD-25</p>
									</div>
									<div class="card__content-hover">
										<p class="card__text">
											<b>Зона применения:</b>
											Лицо</p>
										<p class="card__text">
											<b>Типы кожи:</b>
											cухая, комбинированная, нормальная</p>
										<p class="card__text">
											<b>Возраст:</b>
											без ограничений</p>
										<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
									</div>
								</div>
								<div class="card__content-item card__content-item--price">
									<a href="#" class="button card__button hide-desktop">Купить</a>
									<div class="card__info">
										<div class="card__amount">100 мл</div>
										<div class="card__price">3 339 р</div>
									</div>
								</div>
							</div>
						</article>
					</li>
				</ul>
			</section>
			<div class="pagination pagination--center">
				<ul class="pagination__list">
					<li class="pagination__item active">
						<a href="#" class="pagination__link">1</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">2</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">3</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">4</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">5</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">...</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link">11</a>
					</li>
					<li class="pagination__item">
						<a href="#" class="pagination__link pagination__link--next">
							<svg class="icon icon-chevron-down">
								<use xlink:href="#icon-chevron-down"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="about wow fadeInDown">
		<div class="container about__container">
			<ul class="about__list">
				<li class="about__item">
					<div class="about__header">История бренда ELDAN Cosmetics</div>
					<p class="about__p">
						История бренда берет начало в восьмидесятых годах прошлого столетия. Группа биохимиков во главе с доктором Альберто Фаучи, разрабатывавшие рецептуры для швейцарских лабораторий C.R.B. и C.D.B., решили создать собственную косметическую марку. По
						замыслу её основателей, новая линия должна была объединить их главные открытия за предыдущее десятилетие и со временем занять прочные позиции на профессиональном рынке.
					</p>
					<p class="about__p">
						Название марки ELDAN Cosmetics, образованное из начальных букв имен его владелиц – Елены и Даниэлы Фаучи, племянниц Альберто, было дано в честь дочернего предприятия C.D.B. Group.
					</p>
				</li>
				<li class="about__item">
					<div class="about__header">Мы рады помочь в подборе косметики</div>
					<p class="about__p">
						Наши профессиональные косметологи готовы помочь Вам с подбором косметики и других средств, продающихся в нашем магазине. Просто заполните форму и мы свяжемся с Вами.
					</p>
					<form data-parsley-validate="" action="" class="form">
						<label class="form-item js-form-item">
							<input type="text" class="form-elem form-elem--pdl-90 js-form-elem" required="required">
							<span class="form-item__desc">Ваше имя*</span>
						</label>
						<label class="form-item js-form-item">
							<input type="email" class="form-elem form-elem--pdl-90 js-form-elem" required="required">
							<span class="form-item__desc">Эл. почта*</span>
						</label>
						<label class="form-item js-form-item">
							<input type="tel" class="form-elem form-elem--pdl-90 js-form-elem js-phone-mask">
							<span class="form-item__desc">Телефон</span>
						</label>
						<button type="submit" class="form__submit button">Отправить</button>
						<div class="form__accept">
							Нажимая на кнопку «Отправить», я соглашаюсь с условиями
							<a href="#">договора оферты</a>
							и даю согласие на обработку персональных данных.
						</div>
					</form>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}