{% extends 'templates/page.twig' %}
{% block title %}Главная{% endblock %}
{% block pageMainMod %}page-main--no-pdt{% endblock %}
{% block page %}
	<section class="single-slider">
		<div class="single-slider__list js-single-slider">
			<article class="single-slider__item js-adaptive-bg" data-bg-mobile="assets/img/single-slider__1--mobile.png" data-bg-tablet="assets/img/single-slider__1--tablet.jpg" data-bg-desktop="assets/img/single-slider__1--desktop.jpg">
				<div class="container single-slider__container">
					<div class="single-slider__content">
						<a href="#" class="single-slider__logo"><img src="assets/img/mesoset.png" alt=""></a>
						<p>Профессиональная косметика ELDAN состоит из нескольких необычайно эффективных линий, использующих практически все известные на сегодняшний день механизмы воздействия на кожу. Это линии с Гидро-С, АНА, рисовыми протеинами, биостимуляторами и др.</p>
						<a href="#" class="button button--white single-slider__button">Узнать больше
							<svg class="icon icon-chevron-right single-slider__btn-icon">
								<use xlink:href="#icon-chevron-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</article>
			<article class="single-slider__item js-adaptive-bg" data-bg-mobile="assets/img/single-slider__1--mobile.png" data-bg-tablet="assets/img/single-slider__1--tablet.jpg" data-bg-desktop="assets/img/single-slider__2--desktop.jpg">
				<div class="container single-slider__container">
					<div class="single-slider__content">
						<a href="#" class="single-slider__logo"><img src="assets/img/eldan.png" alt=""></a>
						<p>Профессиональная косметика ELDAN состоит из нескольких необычайно эффективных линий, использующих практически все известные на сегодняшний день механизмы воздействия на кожу. Это линии с Гидро-С, АНА, рисовыми протеинами, биостимуляторами и др.</p>
						<a href="#" class="button button--white single-slider__button">Узнать больше
							<svg class="icon icon-chevron-right single-slider__btn-icon">
								<use xlink:href="#icon-chevron-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</article>
		</div>
		<div class="single-slider__dots js-single-slider-dots"></div>
	</section>
	<section class="advantages">
		<div class="container advantages__container">
			<ul class="advantages__list">
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/car-check.png" alt="" class="advantages__img">
							<img src="assets/img/car-check--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Доставка по всей России</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/checklist.png" alt="" class="advantages__img">
							<img src="assets/img/checklist--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">При регистрации скидка 3%</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/delivery-man.png" alt="" class="advantages__img">
							<img src="assets/img/delivery-man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Бесплатная доставка</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/man.png" alt="" class="advantages__img">
							<img src="assets/img/man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Консультация специалистов</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="brand-slider wow fadeInDown">
		<div class="container brand-slider__container">
			<div class="brand-slider__desc">Бренды официально предствленные в нашем магазине</div>
			<div class="brand-slider__list-wrap">
				<div class="brand-slider__list js-brand-slider">
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Косметика</div>
						<div class="brand-slider__img-box"><img src="assets/img/eldan.png" alt="" class="brand-slider__img"></div>
					</article>
					<article class="brand-slider__item">
						<div class="brand-slider__category">Мезопрепараты</div>
						<div class="brand-slider__img-box"><img src="assets/img/mesoset.png" alt="" class="brand-slider__img"></div>
					</article>
				</div>
				<button class="brand-slider__arrow brand-slider__arrow--prev js-brand-arr-prev" type="button"></button>
				<button class="brand-slider__arrow brand-slider__arrow--next js-brand-arr-next" type="button"></button>
			</div>
		</div>
	</section>
	<section class="catalog-short wow fadeInDown">
		<div class="container catalog-short__container">
			<div class="catalog-short__header">
				<div class="catalog-short__desc">
					<span class="catalog-short__uppercase">Топ товары</span>
					месяца</div>
				<a href="#" class="catalog-short__button button">Смотреть все</a>
				<div class="catalog-short__new">Новинки</div>
			</div>
			<div class="catalog-short__list js-catalog-short-slider">
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая
										<br>
										Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__2.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая
										<br>
										Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__2.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="catalog-short wow fadeInDown">
		<div class="container catalog-short__container">
			<div class="catalog-short__header">
				<div class="catalog-short__desc">Препараты ELDAN Cosmetics</div>
				<a href="#" class="catalog-short__button button">Смотреть все</a>
			</div>
			<div class="catalog-short__list js-catalog-short-slider">
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая
										<br>
										Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__2.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--blue">Новинка</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="catalog-short__li">
					<article class="card">
						<ul class="card__sale-list">
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--grey">Нет в наличии</span>
							</li>
							<li class="card__sale-list-li">
								<span class="card__sale-list-item card__sale-list-item--red">Хит продаж</span>
							</li>
						</ul>
						<a href="#" class="card__img-container">
							<img class="card__img" src="assets/img/card__1.jpg" alt="">
						</a>
						<div class="card__content">
							<div class="card__content-item card__content-item--detail-info">
								<div class="card__head">
									<p class="card__header">Маска оживляющая</p>
									<p class="card__desc">арт. ELD-25</p>
								</div>
								<div class="card__content-hover">
									<p class="card__text">
										<b>Зона применения:</b>
										Лицо</p>
									<p class="card__text">
										<b>Типы кожи:</b>
										cухая, комбинированная, нормальная</p>
									<p class="card__text">
										<b>Возраст:</b>
										без ограничений</p>
									<a href="#" class="button card__button card__button--mg-t hide-mobile">Купить</a>
								</div>
							</div>
							<div class="card__content-item card__content-item--price">
								<a href="#" class="button card__button hide-desktop">Купить</a>
								<div class="card__info">
									<div class="card__amount">100 мл</div>
									<div class="card__price">3 339 р</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="about wow fadeInDown">
		<div class="container about__container">
			<ul class="about__list">
				<li class="about__item">
					<div class="about__header">История бренда ELDAN Cosmetics</div>
					<p class="about__p">
						История бренда берет начало в восьмидесятых годах прошлого столетия. Группа биохимиков во главе с доктором Альберто Фаучи, разрабатывавшие рецептуры для швейцарских лабораторий C.R.B. и C.D.B., решили создать собственную косметическую марку. По
						замыслу её основателей, новая линия должна была объединить их главные открытия за предыдущее десятилетие и со временем занять прочные позиции на профессиональном рынке.
					</p>
					<p class="about__p">
						Название марки ELDAN Cosmetics, образованное из начальных букв имен его владелиц – Елены и Даниэлы Фаучи, племянниц Альберто, было дано в честь дочернего предприятия C.D.B. Group.
					</p>
				</li>
				<li class="about__item">
					<div class="about__header">Мы рады помочь в подборе косметики</div>
					<p class="about__p">
						Наши профессиональные косметологи готовы помочь Вам с подбором косметики и других средств, продающихся в нашем магазине. Просто заполните форму и мы свяжемся с Вами.
					</p>
					<form data-parsley-validate="" action="" class="form">
						<label class="form-item js-form-item">
							<input type="text" class="form-elem form-elem--pdl-90 js-form-elem" required="required">
							<span class="form-item__desc">Ваше имя*</span>
						</label>
						<label class="form-item js-form-item">
							<input type="email" class="form-elem form-elem--pdl-90 js-form-elem" required="required">
							<span class="form-item__desc">Эл. почта*</span>
						</label>
						<label class="form-item js-form-item">
							<input type="tel" class="form-elem form-elem--pdl-90 js-form-elem js-phone-mask">
							<span class="form-item__desc">Телефон</span>
						</label>
						<button type="submit" class="form__submit button">Отправить</button>
						<div class="form__accept">
							Нажимая на кнопку «Отправить», я соглашаюсь с условиями
							<a href="#">договора оферты</a>
							и даю согласие на обработку персональных данных.
						</div>
					</form>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}