{% extends 'templates/page.twig' %}
{% block title %}Личный кабинет{% endblock %}
{% block page %}
	<div class="container">
		<h1 class="h1">Личный кабинет</h1>
	</div>
	<section class="personal">
		<div class="container personal__container">
			<div class="personal__header">
				<ul class="personal__control-list">
					<li class="personal__control-li active" data-tabclass="js-personal-content" data-tabnumber="personal-data">
						<button type="button" class="personal__control-btn">Личные данные</button>
					</li>
					<li class="personal__control-li" data-tabclass="js-personal-content" data-tabnumber="order-history">
						<button type="button" class="personal__control-btn">История заказов</button>
					</li>
				</ul>
			</div>
			<ul class="personal__content js-personal-content">
				<li class="personal__tab-li active" data-tabnumber="personal-data">
					<form action="" class="personal__form" data-parsley-validate="data-parsley-validate">
						<div class="personal__form-title">Эта информация никогда не будет доступна третьим лицам</div>
						<ul class="personal__form-list">
							<li class="personal__form-li">
								<div class="personal__form-box">
									<ul class="personal__form-fields">
										<li class="personal__fields-li"><input type="text" class="form-elem" placeholder="Ваше имя*" required="required"></li>
										<li class="personal__fields-li"><input type="text" class="form-elem" placeholder="Ваше фамилия*" required="required"></li>
										<li class="personal__fields-li"><input type="text" class="form-elem" placeholder="Дата рождения*" required="required"></li>
									</ul>
									<div class="personal__form-right"></div>
								</div>
							</li>
							<li class="personal__form-li">
								<div class="personal__form-box">
									<div class="personal__form-box-header">Контактные данные</div>
									<ul class="personal__form-fields">
										<li class="personal__fields-li">
											<input type="tel" class="form-elem js-phone-mask" placeholder="Телефон*" required="required">
											<p class="personal__desc hide-desktop show-mobile">Номер телефона необходим для того, чтобы быстро связаться с Вами при оформлении заказа.</p>
										</li>
										<li class="personal__fields-li">
											<input type="email" class="form-elem" placeholder="Эл. почта*" required="required">
											<p class="personal__desc hide-desktop show-mobile">Адрес электронной почты необходим, чтобы держать Вас в курсе о статусе заказов и о скидках.</p>
										</li>
									</ul>
									<div class="personal__form-right">
										<p>Номер телефона необходим для того, чтобы быстро связаться с Вами при оформлении заказа.</p>
										<p>Адрес электронной почты необходим, чтобы держать Вас в курсе о статусе заказов и о скидках.</p>
									</div>
								</div>
							</li>
							<li class="personal__form-li">
								<div class="personal__form-box">
									<div class="personal__form-box-header">Адрес доставки</div>
									<ul class="personal__form-fields">
										<li class="personal__fields-li">
											<select name="personal__location" class="select js-select personal__select">
												<option value="" class="select__option personal__select">Москва и Московская область</option>
												<option value="" class="select__option personal__select">Санкт-Петербург</option>
												<option value="" class="select__option personal__select">Мурманск</option>
											</select>
										</li>
										<li class="personal__fields-li">
											<input type="tel" class="form-elem js-phone-mask" placeholder="Город*" required="required">
											<p class="personal__desc hide-desktop hide-mobile">Используется в адресе доставки, чтобы при повторном заказе, Вы не заполняли эти данные ещё раз.</p>
										</li>
										<li class="personal__fields-li"><input type="email" class="form-elem" placeholder="Адрес*" required="required"></li>
									</ul>
									<div class="personal__form-right">
										<p>Используется в адресе доставки, чтобы при повторном заказе, Вы не заполняли эти данные ещё раз.</p>
									</div>
								</div>
							</li>
							<li class="personal__form-li">
								<div class="personal__form-box">
									<ul class="personal__form-fields">
										<li class="personal__fields-li">
											<button type="button" class="personal__change-password">Изменить пароль</button>
										</li>
									</ul>
									<div class="personal__form-right"></div>
								</div>
							</li>
							<li class="personal__form-li">
								<div class="personal__form-box">
									<ul class="personal__form-fields">
										<li class="personal__fields-li">
											<button type="submit" class="button personal__submit">Сохранить данные</button>
										</li>
									</ul>
									<div class="personal__form-right"></div>
								</div>
							</li>
						</ul>
					</form>
				</li>
				<li class="personal__tab-li" data-tabnumber="order-history">
					<div class="tags personal__tags">
						<div class="tags__header">Фильтр</div>
						<ul class="tags__list js-tags-list">
							<li class="tags__li js-tags-li active">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input" checked="checked">
									<span class="tags__desc">Все</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Обработка</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Оплачен, не выполнен</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Оплачен, выполнен</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Выполнен</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Отложен</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Принят, ожидается оплата</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Оплачен, формируется к отправке</span>
								</label>
							</li>
							<li class="tags__li js-tags-li">
								<label class="tags__item">
									<input type="radio" name="tags" class="tags__input js-tags-input">
									<span class="tags__desc">Отменен</span>
								</label>
							</li>
						</ul>
					</div>
					<div class="orders">
						<ul class="orders__list">
							<li class="orders__li">
								<ul class="orders__info">
									<li class="orders__info-li">
										<span class="orders__info-key">Дата:</span>
										<span class="orders__info-value">10 апреля 2019</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Номер заказа:</span>
										<span class="orders__info-value">3902</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Статус:</span>
										<span class="orders__info-value">Принят, ожидается оплата</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Сумма:</span>
										<span class="orders__info-value orders__info-value--price">6 864 р</span>
									</li>
								</ul>
								<ul class="orders__item-list">
									<li class="orders__item-li">
										<div class="orders__item-wrap">
											<div class="orders__item-info">
												<div class="orders__img-box"><img src="assets/img/orders__1.jpg" alt="" class="orders__img"></div>
												<div class="orders__item-content">
													<div class="orders__item-name">Маска оживляющая</div>
													<div class="orders__item-articul">арт. ELD-25</div>
													<div class="orders__item-product">Sweet tonic lotion</div>
													<ul class="orders__item-params">
														<li class="orders__item-params-li">
															<span class="orders__key">Обьём:</span>
															<span class="orders__value">200 мл</span>
														</li>
														<li class="orders__item-params-li">
															<span class="orders__key">1 шт. x 3 343 р. =</span>
															<span class="orders__value">3 343 р.</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="orders__item-price">3 864 р</div>
										</div>
									</li>
									<li class="orders__item-li">
										<div class="orders__item-wrap">
											<div class="orders__item-info">
												<div class="orders__img-box"><img src="assets/img/orders__2.jpg" alt="" class="orders__img"></div>
												<div class="orders__item-content">
													<div class="orders__item-name">Активная регенерирующая сыворотка EGF</div>
													<div class="orders__item-articul">арт. ELD-25</div>
													<div class="orders__item-product">Sweet tonic lotion</div>
													<ul class="orders__item-params">
														<li class="orders__item-params-li">
															<span class="orders__key">Обьём:</span>
															<span class="orders__value">200 мл</span>
														</li>
														<li class="orders__item-params-li">
															<span class="orders__key">1 шт. x 3 343 р. =</span>
															<span class="orders__value">3 343 р.</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="orders__item-price">3 864 р</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="orders__li">
								<ul class="orders__info">
									<li class="orders__info-li">
										<span class="orders__info-key">Дата:</span>
										<span class="orders__info-value">10 апреля 2019</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Номер заказа:</span>
										<span class="orders__info-value">3902</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Статус:</span>
										<span class="orders__info-value">Принят, ожидается оплата</span>
									</li>
									<li class="orders__info-li">
										<span class="orders__info-key">Сумма:</span>
										<span class="orders__info-value orders__info-value--price">6 864 р</span>
									</li>
								</ul>
								<ul class="orders__item-list">
									<li class="orders__item-li">
										<div class="orders__item-wrap">
											<div class="orders__item-info">
												<div class="orders__img-box"><img src="assets/img/orders__1.jpg" alt="" class="orders__img"></div>
												<div class="orders__item-content">
													<div class="orders__item-name">Маска оживляющая</div>
													<div class="orders__item-articul">арт. ELD-25</div>
													<div class="orders__item-product">Sweet tonic lotion</div>
													<ul class="orders__item-params">
														<li class="orders__item-params-li">
															<span class="orders__key">Обьём:</span>
															<span class="orders__value">200 мл</span>
														</li>
														<li class="orders__item-params-li">
															<span class="orders__key">1 шт. x 3 343 р. =</span>
															<span class="orders__value">3 343 р.</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="orders__item-price">3 864 р</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
						<div class="orders__total">Итого: 226 048 р.</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}