{% extends 'templates/page.twig' %}
{% block title %}Публичная оферта{% endblock %}
{% block page %}
	<div class="container">
		<h1 class="h1">Публичная оферта</h1>
		<section class="rules">
			<div class="rules__title"></div>
			<ul class="rules__list">
				<li class="rules__li">Посетитель Сайта — лицо, пришедшее на сайт
					<a href="#">http://www.astarte.ru</a>
					без цели размещения Заказа.</li>
				<li class="rules__li">Пользователь — физическое лицо, посетитель Сайта, принимающий условия настоящего Соглашения и желающий разместить Заказы в Интернет-магазине Astarte.ru</li>
				<li class="rules__li">Покупатель — Пользователь, разместивший Заказ в Интернет-магазине Astarte.ru Косметик Хаус (КХ) — Общество с ограниченной ответственностью «Косметик Хаус» (ОГРН 5177746291806, ИНН 7719474411, КПП 771901001, место нахождения:
					107023, Москва, Большая Семёновская, дом 40, стр. 1, офис 114.</li>
				<li class="rules__li">Продавец — Косметик Хаус или иное юридическое лицо либо индивидуальный предприниматель, товар которых размещен в Интернет-магазине.</li>
				<li class="rules__li">Интернет-магазин — Интернет-сайт, принадлежащий ГК Астарта, расположенный в сети интернет по адресу
					<a href="#">http://www.astarte.ru</a>, где представлены Товары, предлагаемые Продавцами для приобретения, а также условия оплаты и доставки Товаров Покупателям.</li>
				<li class="rules__li">Сайт —
					<a href="#">http://www.astarte.ru</a>.</li>
				<li class="rules__li">Товар — косметика и иные товары, представленные к продаже на Сайте.</li>
				<li class="rules__li">Заказ — должным образом оформленный запрос Покупателя на приобретение и доставку по указанному Покупателем адресу / посредством самовывоза Товаров, выбранных на Сайте.</li>
			</ul>
		</section>
		<section class="accordion-list">
			<ul class="accordion-list__ul js-accordion js-accordion--list">
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Общие положения
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Предмет соглашения
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Товар и порядок совершения покупки
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Доставка заказа
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Оплата товара
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Возврат товара и денежных средств
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Ответственность
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Конфиденциальность и защита информации
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Срок действия Публичой аферты
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
				<li class="accordion-list__li js-accordion-item">
					<button type="button" class="accordion-list__title js-accordion-btn">
						Дополнительные условия
						<svg class="accordion-list__title-icon icon icon-chevron-right">
							<use xlink:href="#icon-chevron-right"></use>
						</svg>
					</button>
					<div class="accordion-list__content js-accordion-content">
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках семантика эта, власти за которое, себя подзаголовок путь повстречался послушавшись ты он осталось встретил текст собрал свое возвращайся текстов?</p>
						<p>Языкового своих lorem предложения толку дороге переписали однажды своего коварный безопасную последний всемогущая что оксмокс, буквоград деревни то рот даже встретил если речью, заглавных всеми свою путь, лучше рыбного. Большого.</p>
						<p>Свой если текст последний имени своих своего алфавит пунктуация журчит не курсивных дорогу парадигматическая продолжил вскоре взобравшись точках текстами семь, океана пояс! Подпоясал коварный, продолжил языком меня моей от всех по всей!</p>
						<p>Журчит послушавшись раз текста реторический наш предупредила если языкового снова рыбными которой запятых ведущими силуэт, злых живет эта семь собрал, мир инициал заманивший то они скатился. Образ грустный путь по всей!</p>
					</div>
				</li>
			</ul>
		</section>
	</div>
{% endblock %}