{% extends 'templates/page.twig' %}
{% block title %}Возврат{% endblock %}
{% block page %}
	<section class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Главная</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Продукция</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">Препараты ELDAN Cosmetics</a>
				</li>
			</ul>
		</div>
	</section>
	<div class="container"></div>
	<section class="catalog-elem">
		<div class="container catalog-elem__container">
			<h1 class="h1">Очищающее увлажняющее молочко</h1>
			<h2 class="h2 catalog-elem__title">Moisturizing cleanser</h2>
			<div class="catalog-elem__wrapper">
				<div class="catalog-elem__img-box">
					<img src="img/catalog-elem__1.jpg" alt="" class="catalog-elem__img">
				</div>
				<div class="catalog-elem__content">
					<div class="catalog-elem__articul">Артикул: ELD-01</div>
					<form class="catalog-elem__form" action="">
						<ul class="catalog-elem__params">
							<li class="catalog-elem__params-item">
								<div class="catalog-elem__price">2 175 р.</div>
								<div class="counter catalog-elem__counter">
									<button type="button" class="counter__button">-</button>
									<input type="text" value="1 шт." class="counter__input">
									<button type="button" class="counter__button">+</button>
								</div>
							</li>
							<li class="catalog-elem__params-item">
								<div class="catalog-elem__value">
									<svg class="icon icon-bottle-mg catalog-elem__value-icon">
										<use xlink:href="#icon-bottle-mg"></use>
									</svg>
									250 мл
								</div>
								<button type="button" class="button catalog-elem__button">В корзину</button>
							</li>
						</ul>
					</form>
					<ul class="catalog-elem__tabs">
						<li class="catalog-elem__tabs-li active" data-tabclass="js-catalog-elem-content" data-tabnumber="description">
							<button type="button" class="catalog-elem__tab">Описание</button>
						</li>
						<li class="catalog-elem__tabs-li" data-tabclass="js-catalog-elem-content" data-tabnumber="practice">
							<button type="button" class="catalog-elem__tab">Применение</button>
						</li>
					</ul>
					<ul class="catalog-elem__content js-catalog-elem-content">
						<li class="catalog-elem__content-li" data-tabnumber="description">
							<div class="catalog-elem__content-item">
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Зона применения:</div>
									<div class="catalog-elem__desc">Лицо</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Для кожи:</div>
									<div class="catalog-elem__desc">cухая, комбинированная, нормальная</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Возраст:</div>
									<div class="catalog-elem__desc">без ограничений</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Активные ингредиенты:</div>
									<div class="catalog-elem__desc">миндальное масло, экстракт мальвы</div>
								</div>
								<div class="catalog-elem__text-block">
									<div class="catalog-elem__desc-title">Описание:</div>
									<div class="catalog-elem__desc">Средство для демакияжа и очищения нормальной, комбинированной и сухой кожи лица. Бережно устраняет загрязнения, подготавливая кожу к последующим этапам ухода. Входящий в состав экстракт мальвы, обладает заживляющим
										действием, успокаивает, насыщает кожу витаминами А, Е и С. Молочко превосходно увлажняет, смягчает, снимает раздражение и шелушение, глубоко очищает, не повреждая липидный слой. Оставляет на лице ощущение свежести и чистоты.
									</div>
								</div>
							</div>
						</li>
						<li class="catalog-elem__content-li" data-tabnumber="practice">
							<p>
								Нанести небольшое количество молочка на кожу лица и шеи, помассировать легкими массажными движениями, смыть водой.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}