{% extends 'templates/page.twig' %}
{% block title %}Этапы и условия покупки{% endblock %}
{% block page %}
	<div class="container">
		<div class="h1">Этапы и условия покупки</div>
	</div>
	<section class="buy-steps">
		<div class="container buy-steps__container">
			<div class="buy-steps__head">
				<ul class="buy-steps__tabs-list">
					<li class="buy-steps__tabs-li active" data-tabclass="buy-steps__content" data-tabnumber="purchase">
						<button type="button" class="buy-steps__tabs-btn">Этапы покупки</button>
					</li>
					<li class="buy-steps__tabs-li" data-tabclass="buy-steps__content" data-tabnumber="payment">
						<button type="button" class="buy-steps__tabs-btn">Способы оплаты</button>
					</li>
					<li class="buy-steps__tabs-li" data-tabclass="buy-steps__content" data-tabnumber="delivery">
						<button type="button" class="buy-steps__tabs-btn">Способы доставки</button>
					</li>
				</ul>
			</div>
			<ul class="buy-steps__content">
				<li class="buy-steps__item active" data-tabnumber="purchase" id="purchase">
					<div class="buy-steps__desc">Вы можете очень просто совершить покупку в намшем интернет-магазине</div>
					<ul class="buy-steps__purchase-list">
						<li class="buy-steps__li">
							<div class="buy-steps__icon">
								<svg class="icon icon-choose-product">
									<use xlink:href="#icon-choose-product"></use>
								</svg>
							</div>
							<p class="buy-steps__text">Выберите необходимый или понравившийся товар в нашем интернет-магазине.</p>
						</li>
						<li class="buy-steps__li">
							<div class="buy-steps__icon">
								<svg class="icon icon-drag-card">
									<use xlink:href="#icon-drag-card"></use>
								</svg>
							</div>
							<p class="buy-steps__text">Положите его в корзину и внесите необходимые данные для оформления заказа.</p>
						</li>
						<li class="buy-steps__li">
							<div class="buy-steps__icon">
								<svg class="icon icon-call-me">
									<use xlink:href="#icon-call-me"></use>
								</svg>
							</div>
							<p class="buy-steps__text">Позвоните нам по телефону</p>
							<p class="buy-steps__text">В Москве:
								<br>
								+7 (495) 259-01-08</p>
							<p class="buy-steps__text">В Санкт-Петербурге:
								<br>
								+7 (812) 718-54-80</p>
						</li>
						<li class="buy-steps__li">
							<div class="buy-steps__icon">
								<svg class="icon icon-happy-man">
									<use xlink:href="#icon-happy-man"></use>
								</svg>
							</div>
							<p class="buy-steps__text">После проверки наличия на складе заказанного Вами товара, наш менеджер сразу же свяжется с Вами для подтверждения заказа, уточнения времени и адреса доставки.</p>
						</li>
					</ul>
				</li>
				<li class="buy-steps__item" data-tabnumber="payment" id="payment">
					<div class="buy-steps__desc">Для вашего удобства мы предлагаем несколько способов оплаты покупки.</div>
					<ul class="buy-steps__payment-list">
						<li class="buy-steps__payment-li">
							<ul class="buy-steps__payment-list">
								<li class="buy-steps__payment-li">
									<div class="buy-steps__item-desc">Наличными при получении</div>
									<div class="buy-steps__icon">
										<svg class="icon icon-cash">
											<use xlink:href="#icon-cash"></use>
										</svg>
									</div>
									<p class="buy-steps__text">Оплата наличными производится при получении товара в офисе компании или из рук курьера.</p>
								</li>
								<li class="buy-steps__payment-li">
									<div class="buy-steps__item-desc">Банковской
										<br>
										картой</div>
									<div class="buy-steps__icon">
										<svg class="icon icon-cards">
											<use xlink:href="#icon-cards"></use>
										</svg>
									</div>
									<p class="buy-steps__text">Оплата с помощью банковской карты возможна:</p>
									<ul class="buy-steps__text-list">
										<li class="buy-steps__text-list-li">
											<b>во всех регионах, кроме Санкт-Петербурга и Ленинградской области;</b>
										</li>
										<li class="buy-steps__text-list-li">при оформлении заказа онлайн;</li>
										<li class="buy-steps__text-list-li">при самовывозе из московского офиса (принимаются банковские карты следующих платежных систем: Visa, Visa Electron, MasterCard, Maestro).</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="buy-steps__payment-li">
							<div class="buy-steps__item-desc">В нашем магазине действуют Скидки!</div>
							<ul class="buy-steps__payment-list">
								<li class="buy-steps__payment-li">
									<div class="buy-steps__icon">
										<svg class="icon icon-percents-3">
											<use xlink:href="#icon-percents-3"></use>
										</svg>
									</div>
									<p class="buy-steps__text">
										Зарегистрировавшись на сайте Вы получаете
										<br>
										<span class="buy-steps__text--big">скидку 3%</span>
										<br>
										на всю продукцию потребительского каталога ELDAN.
									</p>
								</li>
								<li class="buy-steps__payment-li">
									<div class="buy-steps__icon">
										<svg class="icon icon-percents-10">
											<use xlink:href="#icon-percents-10"></use>
										</svg>
									</div>
									<p class="buy-steps__text">
										Каждый месяц наш магазин предоставляет
										<br>
										<span class="buy-steps__text--big">скидку 10%</span>
										<br>
										на отдельные товары.
									</p>
								</li>
							</ul>
						</li>
					</ul>
					<div class="buy-steps__warning">
						Клиенты из регионов РФ оплачивают только продукцию.<br>
						Услуги по доставке заказа оплачиваются ОТДЕЛЬНО, в соответствии с условиями и тарифами, выбранной транспортной компании.
					</div>
					<p class="buy-steps__text">Оплатить заказ можно следующими способами:</p>
					<p class="buy-steps__text">Наличными курьеру при получении заказа или при самовывозе. При получении товара обязательно проверьте комплектацию заказа.</p>
					<p class="buy-steps__text">Банковской картой при оформлении на сайте или в офисе при самовывозе (во всех регионах, кроме Санкт-Петербурга и Ленинградской области).</p>
					<p class="buy-steps__text">Принимаются банковские карты следующих платежных систем: Visa, Visa Electron, MasterCard, Maestro, МИР)</p>
					<ul class="payment-list">
						<li class="payment-list__li"><img width="100" src="assets/img/visa.svg" alt="" class="payment-list__img"></li>
						<li class="payment-list__li"><img width="100" src="assets/img/mir.svg" alt="" class="payment-list__img"></li>
						<li class="payment-list__li"><img width="100" src="assets/img/mc.png" alt="" class="payment-list__img"></li>
						<li class="payment-list__li"><img width="100" src="assets/img/mstr.png" alt="" class="payment-list__img"></li>
					</ul>
					<p class="buy-steps__text">
						При оформлении заказа в разделе “Оплата” необходимо выбрать способ оплаты “Банковская карта”.
						<br>
						После поставить галочки и принять условия покупки в интернет-магазине astarte.ru, далее нажать кнопку "Купить".
					</p>
					<p class="buy-steps__text">Проведение платежа по заказу производится непосредственно после его оформления. Для оплаты покупки Вы будете перенаправлены на платежный шлюз ОАО "Сбербанк России" для ввода реквизитов Вашей карты. Соединение с платежным
						шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для
						проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в вашем банке.Настоящий сайт поддерживает 258-битное шифрование. Конфиденциальность
						сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в
						строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
					</p>
					<div class="buy-steps__debit-card"><img src="assets/img/debit-card.jpg" alt=""></div>
					<p class="buy-steps__text">В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок
						возврата средств уточняйте у администрации интернет-магазина.</p>
				</li>
				<li class="buy-steps__item" data-tabnumber="delivery" id="delivery">
					<div class="buy-steps__desc">Доставка по Москве, Санкт-Петербургу и по всей России.</div>
					<ul class="buy-steps__delivery-list">
						<li class="buy-steps__delivery-li">
							<div class="buy-steps__delivery-item">
								<div class="buy-steps__delivery-img-box">
									<div class="buy-steps__delivery-item-desc">Самовывоз</div>
									<div class="buy-steps__icon buy-steps__icon--selfget">
										<svg class="icon icon-self-get">
											<use xlink:href="#icon-self-get"></use>
										</svg>
									</div>
								</div>
								<div class="buy-steps__delivery-content">
									<p class="buy-steps__text">Вы можете забрать обработанный заказ (независимо от его суммы) самостоятельно по адресам:</p>
									<ol class="buy-steps__numeric-list">
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">в Москве:</div>
											<p class="buy-steps__text">ул. Большая Семеновская, д.40, Бизнес-центр “АГАТ” оф.114.</p>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">в Санкт-Петербурге:</div>
											<p class="buy-steps__text">Московский проспект, д.103, Бизнес центр "Тор-А" корп. 3 оф.211 (2 этаж).</p>
										</li>
									</ol>
								</div>
							</div>
						</li>
						<li class="buy-steps__delivery-li">
							<div class="buy-steps__delivery-item">
								<div class="buy-steps__delivery-img-box">
									<div class="buy-steps__delivery-item-desc">Доставка
										<br>
										по Москве и МО</div>
									<div class="buy-steps__icon">
										<svg class="icon icon-kremlin">
											<use xlink:href="#icon-kremlin"></use>
										</svg>
									</div>
								</div>
								<div class="buy-steps__delivery-content">
									<p class="buy-steps__delivery-h4">
										Бесплатная доставка по Москве и Московской области в зависимости от суммы покупки:
									</p>
									<ol class="buy-steps__numeric-list">
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">по Москве
												<br>
												<span class="buy-steps__no-bold">(в пределах МКАД)</span></div>
											<ul class="buy-steps__text-list">
												<li class="buy-steps__text-list-li">для косметологов при заказе от 5 000 руб.</li>
												<li class="buy-steps__text-list-li">для клиентов при заказе от 3 000 руб.</li>
											</ul>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">по Москве и МО
												<br>
												<span class="buy-steps__no-bold">(за МКАД менее 10 км)</span></div>
											<ul class="buy-steps__text-list">
												<li class="buy-steps__text-list-li">для косметологов при заказе от 7 000 руб.</li>
												<li class="buy-steps__text-list-li">для клиентов при заказе от 5 000 руб.</li>
											</ul>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">по Москве и МО
												<br>
												<span class="buy-steps__no-bold">(за МКАД менее 30 км)</span></div>
											<ul class="buy-steps__text-list">
												<li class="buy-steps__text-list-li">для косметологов при заказе от 10 000 руб.</li>
												<li class="buy-steps__text-list-li">для клиентов при заказе от 8 000 руб.</li>
											</ul>
										</li>
									</ol>
									<p><a href="javascript:void(0)" class="js-scroll-elem" data-target="js-moscow-delivery">Ознакомьтесь с условиями платной доставки</a></p>
								</div>
							</div>
						</li>
						<li class="buy-steps__delivery-li">
							<div class="buy-steps__delivery-item">
								<div class="buy-steps__delivery-img-box">
									<div class="buy-steps__delivery-item-desc">Доставка
										<br>
										по Санкт-Петербургу</div>
									<div class="buy-steps__icon buy-steps__icon--spb">
										<svg class="icon icon-spb">
											<use xlink:href="#icon-spb"></use>
										</svg>
									</div>
								</div>
								<div class="buy-steps__delivery-content">
									<p class="buy-steps__delivery-h4"><b>Бесплатная доставка по Санкт-Петербургу и Ленинградской области в зависимости от суммы покупки:</b></p>
									<ol class="buy-steps__numeric-list">
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">По Санкт-Петербургу</div>
											<span class="buy-steps__text">(в пределах зоны действия метро), при оплате наличными курьеру – Доставка осуществляется собственным курьером, на следующий день после получения заявки на сумму больше 6 000 руб.</span>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">В удаленные от метро районы</div>
											<span class="buy-steps__text">города и ближайшие пригороды (до 100км от СПб), при 100%-ой предоплате – Доставка осуществляется курьерской службой СДЭК, в течении 2-3 дней, после оплаты заявки на сумму свыше 12 000 руб.</span>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">По Ленинградской области</div>
											<span class="buy-steps__text">(от 100км до 200км.), при 100%-й предоплате. - Доставка осуществляется курьерской службой СДЭК, в течении 3-5 дней, после оплаты заявки на сумму свыше 18 000 руб.
											</span>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">Платная доставка по Санкт-Петербургу, Ленинградской Области и Северо-Западному региону,</div>
											<span class="buy-steps__text">
												при 100%-й предоплате. - Доставка осуществляется курьерской службой СДЭК, стоимость доставки определяется по тарифам транспортной компании и оплачивается клиентом при получении заказа.</span>
										</li>
									</ol>
								</div>
							</div>
						</li>
						<li class="buy-steps__delivery-li">
							<div class="buy-steps__delivery-item">
								<div class="buy-steps__delivery-img-box">
									<div class="buy-steps__delivery-item-desc">Доставка по России</div>
									<div class="buy-steps__icon buy-steps__icon--globe">
										<svg class="icon icon-globe">
											<use xlink:href="#icon-globe"></use>
										</svg>
									</div>
								</div>
								<div class="buy-steps__delivery-content">
									<ol class="buy-steps__numeric-list">
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">EMS Почта России</div>
											<p class="buy-steps__text buy-steps__text--grey">*Доставка рассчитывается Вами самостоятельно.</p>
										</li>
										<li class="buy-steps__numeric-list-li">
											<div class="buy-steps__numeric-list-title">Транспортная компания,
											</div>
											<span class="buy-steps__text">указанная Вами. Доставка косметики в транспортную компанию осуществляется нашими силами.</span>
										</li>
									</ol>
									<p class="buy-steps__text">
										* После передачи товара в офис транспортной компании всю ответственность по срокам и качеству доставки несёт транспортная компания.</p>
								</div>
							</div>
						</li>
						<li class="buy-steps__delivery-li">
							<div class="buy-steps__delivery-item">
								<div class="buy-steps__delivery-img-box">
									<div class="buy-steps__delivery-item-desc">Boxberry</div>
									<div class="buy-steps__icon buy-steps__icon--boxberry">
										<svg class="icon">
											<use xlink:href="#icon-boxberry-delivery"></use>
										</svg>
									</div>
								</div>
								<div class="buy-steps__delivery-content">
									<p class="buy-steps__text">
										<b>Доставка по всей стране</b>
										более чем
										<br>
										в 1900 пунктов выдачи.</p>
								</div>
							</div>
						</li>
					</ul>
					<p class="buy-steps__text">
						<b>Вы можете забрать обработанный заказ</b>
						(независимо от его суммы) самостоятельно по адресам:
					</p>
					<ol class="buy-steps__numeric-list">
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">в Москве:
							</div>
							<p class="buy-steps__text">
								ул. Большая Семеновская, д.40, Бизнес-центр “АГАТ”, строение 1, офис 114.
							</p>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">в Санкт-Петербурге:
							</div>
							<p class="buy-steps__text">
								Московский проспект, д.103, Бизнес центр "Тор-А" корпус 3, офис 211 (2 этаж).
							</p>
							<p class="buy-steps__text">
								Наш магазин доставляет заказы во все регионы России.
							</p>
							<p class="buy-steps__text">
								<b>Бесплатная доставка по Москве и Московской области в зависимости от суммы покупки:</b>
							</p>
						</li>
					</ol>
					<ol class="buy-steps__numeric-list">
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">В пределах МКАД
							</div>
							<ul class="buy-steps__text-list">
								<li class="buy-steps__text-list-li">для косметологов при заказе от 5 000 руб.</li>
								<li class="buy-steps__text-list-li">для клиентов при заказе от 3 000 руб.</li>
							</ul>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">За МКАД менее 10 км
							</div>
							<ul class="buy-steps__text-list">
								<li class="buy-steps__text-list-li">для косметологов при заказе от 7 000 руб.
								</li>
								<li class="buy-steps__text-list-li">для клиентов при заказе от 5 000 руб.</li>
							</ul>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">За МКАД менее 30 км
							</div>
							<ul class="buy-steps__text-list">
								<li class="buy-steps__text-list-li">для косметологов при заказе от 10 000 руб.
								</li>
								<li class="buy-steps__text-list-li">для клиентов при заказе от 8 000 руб.</li>
							</ul>
						</li>
					</ol>
					<p class="buy-steps__text js-moscow-delivery">Срок курьерской доставки - 1-3 дня. Доставка далее 30 км от МКАД обсуждается индивидуально.</p>
					<p class="buy-steps__text">
						<b>Платная доставка по Москве в пределах МКАД - 250 руб</b>
					</p>
					<p class="buy-steps__text">Минимальная сумма заказа для платной доставки курьером - 1000 рублей.
						<br>
						Понедельник - Пятница</p>
					<p class="buy-steps__text">с 10:00 до 18:00 (3х часовые интервалы)</p>
					<p class="buy-steps__text">с 18:00 до 23:00 (без интервалов)</p>
					<p class="buy-steps__text">Суббота</p>
					<p class="buy-steps__text">с 10:00 до 14:00</p>
					<p class="buy-steps__text">с 14:00 до 18:00</p>
					<p class="buy-steps__text">В воскресенье и праздничные дни доставка не осуществляется.</p>
					<p class="buy-steps__text">
						<b>Платная доставка по МО</b>
					</p>
					<p class="buy-steps__text">Минимальная сумма заказа для платной доставки курьером - 1000 рублей</p>
					<ul class="buy-steps__text-list">
						<li class="buy-steps__text-list-li">до 10 км - 350 руб</li>
						<li class="buy-steps__text-list-li">до 30 км - 600 руб</li>
						<li class="buy-steps__text-list-li">свыше 30 км - обговаривается с менеджером</li>
					</ul>
					<p class="buy-steps__text">Понедельник - Суббота (до 30 км) 10:00 до 18:00 Доставка в течение дня, без интервалов. Свыше 30 км - доставка в выходные и праздничные дни не осуществляется.</p>
					<p class="buy-steps__text">Доставка осуществляется в течение 1-2 дней с момента подтверждения заказа</p>
					<p class="buy-steps__text">В случае отказа доставленного заказа, без объективной причины, стоимость доставки должна быть оплачена в полном объеме</p>
					<p class="buy-steps__text">
						<b>Бесплатная доставка по Санкт-Петербургу и Ленинградской области в зависимости от суммы покупки:</b>
					</p>
					<ol class="buy-steps__numeric-list">
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">По Санкт-Петербургу (в пределах зоны действия метро), при оплате наличными курьеру – Доставка осуществляется собственным курьером, на следующий день после получения заявки на сумму больше 6 000 руб.</div>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">В удаленные от метро районы города и ближайшие пригороды (до 100км от СПб), при 100%-ой предоплате – Доставка осуществляется курьерской службой СДЭК, в течении 2-3 дней, после оплаты заявки на сумму свыше 12 000 руб.</div>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">По Ленинградской области (от 100км до 200км.), при 100%-й предоплате. - Доставка осуществляется курьерской службой СДЭК, в течении 3-5 дней, после оплаты заявки на сумму свыше 18 000 руб.</div>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">Платная доставка по Санкт-Петербургу, Ленинградской Области и Северо-Западному региону, при 100%-й предоплате. - Доставка осуществляется курьерской службой СДЭК, стоимость доставки
								определяется по тарифам транспортной компании и оплачивается клиентом при получении заказа.</div>
						</li>
					</ol>
					<p class="buy-steps__text">
						<b>Доставка по России</b>
					</p>
					<ol class="buy-steps__numeric-list">
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">EMS Почта России * Стоимость доставки зависит от региона и веса посылки и рассчитывается самостоятельно на сайте:
								<a href="http://www.emspost.ru/ru/">http://www.emspost.ru/ru/</a>.*</div>
						</li>
						<li class="buy-steps__numeric-list-li buy-steps__no-bold">
							<div class="buy-steps__numeric-list-title buy-steps__no-bold">Транспортная компания, указанная Вами. Доставка косметики в транспортную компанию осуществляется «Косметик Хаус».</div>
						</li>
					</ol>
					<p class="buy-steps__text">* После передачи товара в офис транспортной компании всю ответственность по срокам и качеству доставки несёт транспортная компания. Доставка Boxberry Доставка по всей стране более чем в 1900 пунктов выдачи.</p>
					<p class="buy-steps__text">
						<b>Доставка Boxberry</b>
					</p>
					<p class="buy-steps__text">Доставка по всей стране более чем в 1900 пунктов выдачи.</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="advantages">
		<div class="container advantages__container">
			<ul class="advantages__list">
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/car-check.png" alt="" class="advantages__img">
							<img src="assets/img/car-check--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Доставка по всей России</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/checklist.png" alt="" class="advantages__img">
							<img src="assets/img/checklist--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">При регистрации скидка 3%</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/delivery-man.png" alt="" class="advantages__img">
							<img src="assets/img/delivery-man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Бесплатная доставка</span>
					</a>
				</li>
				<li class="advantages__li">
					<a class="advantages__link" href="#">
						<span class="advantages__icon">
							<img src="assets/img/man.png" alt="" class="advantages__img">
							<img src="assets/img/man--hover.png" alt="" class="advantages__img advantages__img--hover">
						</span>
						<span class="advantages__desc">Консультация специалистов</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
